In [78]:
import pandas as pd

In [31]:
adult=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

In [32]:
adult

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [33]:
adult.head

<bound method NDFrame.head of        39          State-gov   77516      Bachelors   13  \
0      50   Self-emp-not-inc   83311      Bachelors   13
1      38            Private  215646        HS-grad    9
2      53            Private  234721           11th    7
3      28            Private  338409      Bachelors   13
4      37            Private  284582        Masters   14
5      49            Private  160187            9th    5
6      52   Self-emp-not-inc  209642        HS-grad    9
7      31            Private   45781        Masters   14
8      42            Private  159449      Bachelors   13
9      37            Private  280464   Some-college   10
10     30          State-gov  141297      Bachelors   13
11     23            Private  122272      Bachelors   13
12     32            Private  205019     Assoc-acdm   12
13     40            Private  121772      Assoc-voc   11
14     34            Private  245487        7th-8th    4
15     25   Self-emp-not-inc  176756        HS-grad    9
16     32            Private  186824        HS-grad    9
17     38            Private   28887           11th    7
18     43   Self-emp-not-inc  292175        Masters   14
19     40            Private  193524      Doctorate   16
20     54            Private  302146        HS-grad    9
21     35        Federal-gov   76845            9th    5
22     43            Private  117037           11th    7
23     59            Private  109015        HS-grad    9
24     56          Local-gov  216851      Bachelors   13
25     19            Private  168294        HS-grad    9
26     54                  ?  180211   Some-college   10
27     39            Private  367260        HS-grad    9
28     49            Private  193366        HS-grad    9
29     23          Local-gov  190709     Assoc-acdm   12
...    ..                ...     ...            ...  ...
32530  30                  ?   33811      Bachelors   13
32531  34            Private  204461      Doctorate   16
32532  54            Private  337992      Bachelors   13
32533  37            Private  179137   Some-college   10
32534  22            Private  325033           12th    8
32535  34            Private  160216      Bachelors   13
32536  30            Private  345898        HS-grad    9
32537  38            Private  139180      Bachelors   13
32538  71                  ?  287372      Doctorate   16
32539  45          State-gov  252208        HS-grad    9
32540  41                  ?  202822        HS-grad    9
32541  72                  ?  129912        HS-grad    9
32542  45          Local-gov  119199     Assoc-acdm   12
32543  31            Private  199655        Masters   14
32544  39          Local-gov  111499     Assoc-acdm   12
32545  37            Private  198216     Assoc-acdm   12
32546  43            Private  260761        HS-grad    9
32547  65   Self-emp-not-inc   99359    Prof-school   15
32548  43          State-gov  255835   Some-college   10
32549  43   Self-emp-not-inc   27242   Some-college   10
32550  32            Private   34066           10th    6
32551  43            Private   84661      Assoc-voc   11
32552  32            Private  116138        Masters   14
32553  53            Private  321865        Masters   14
32554  22            Private  310152   Some-college   10
32555  27            Private  257302     Assoc-acdm   12
32556  40            Private  154374        HS-grad    9
32557  58            Private  151910        HS-grad    9
32558  22            Private  201490        HS-grad    9
32559  52       Self-emp-inc  287927        HS-grad    9

                Never-married        Adm-clerical    Not-in-family  \
0          Married-civ-spouse     Exec-managerial          Husband
1                    Divorced   Handlers-cleaners    Not-in-family
2          Married-civ-spouse   Handlers-cleaners          Husband
3          Married-civ-spouse      Prof-specialty             Wife
4          Married-civ-spouse     Exec-managerial             Wife
5       Married-spouse-absent       Other-service    Not-in-family
6          Married-civ-spouse     Exec-managerial          Husband
7               Never-married      Prof-specialty    Not-in-family
8          Married-civ-spouse     Exec-managerial          Husband
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse      Prof-specialty          Husband
11              Never-married        Adm-clerical        Own-child
12              Never-married               Sales    Not-in-family
13         Married-civ-spouse        Craft-repair          Husband
14         Married-civ-spouse    Transport-moving          Husband
15              Never-married     Farming-fishing        Own-child
16              Never-married   Machine-op-inspct        Unmarried
17         Married-civ-spouse               Sales          Husband
18                   Divorced     Exec-managerial        Unmarried
19         Married-civ-spouse      Prof-specialty          Husband
20                  Separated       Other-service        Unmarried
21         Married-civ-spouse     Farming-fishing          Husband
22         Married-civ-spouse    Transport-moving          Husband
23                   Divorced        Tech-support        Unmarried
24         Married-civ-spouse        Tech-support          Husband
25              Never-married        Craft-repair        Own-child
26         Married-civ-spouse                   ?          Husband
27                   Divorced     Exec-managerial    Not-in-family
28         Married-civ-spouse        Craft-repair          Husband
29              Never-married     Protective-serv    Not-in-family
...                       ...                 ...              ...
32530           Never-married                   ?    Not-in-family
32531      Married-civ-spouse      Prof-specialty          Husband
32532      Married-civ-spouse     Exec-managerial          Husband
32533                Divorced        Adm-clerical        Unmarried
32534           Never-married     Protective-serv        Own-child
32535           Never-married     Exec-managerial    Not-in-family
32536           Never-married        Craft-repair    Not-in-family
32537                Divorced      Prof-specialty        Unmarried
32538      Married-civ-spouse                   ?          Husband
32539               Separated        Adm-clerical        Own-child
32540               Separated                   ?    Not-in-family
32541      Married-civ-spouse                   ?          Husband
32542                Divorced      Prof-specialty        Unmarried
32543                Divorced       Other-service    Not-in-family
32544      Married-civ-spouse        Adm-clerical             Wife
32545                Divorced        Tech-support    Not-in-family
32546      Married-civ-spouse   Machine-op-inspct          Husband
32547           Never-married      Prof-specialty    Not-in-family
32548                Divorced        Adm-clerical   Other-relative
32549      Married-civ-spouse        Craft-repair          Husband
32550      Married-civ-spouse   Handlers-cleaners          Husband
32551      Married-civ-spouse               Sales          Husband
32552           Never-married        Tech-support    Not-in-family
32553      Married-civ-spouse     Exec-managerial          Husband
32554           Never-married     Protective-serv    Not-in-family
32555      Married-civ-spouse        Tech-support             Wife
32556      Married-civ-spouse   Machine-op-inspct          Husband
32557                 Widowed        Adm-clerical        Unmarried
32558           Never-married        Adm-clerical        Own-child
32559      Married-civ-spouse     Exec-managerial             Wife

                     White     Male   2174     0   40   United-States   <=50K
0                    White     Male      0     0   13   United-States   <=50K
1                    White     Male      0     0   40   United-States   <=50K
2                    Black     Male      0     0   40   United-States   <=50K
3                    Black   Female      0     0   40            Cuba   <=50K
4                    White   Female      0     0   40   United-States   <=50K
5                    Black   Female      0     0   16         Jamaica   <=50K
6                    White     Male      0     0   45   United-States    >50K
7                    White   Female  14084     0   50   United-States    >50K
8                    White     Male   5178     0   40   United-States    >50K
9                    Black     Male      0     0   80   United-States    >50K
10      Asian-Pac-Islander     Male      0     0   40           India    >50K
11                   White   Female      0     0   30   United-States   <=50K
12                   Black     Male      0     0   50   United-States   <=50K
13      Asian-Pac-Islander     Male      0     0   40               ?    >50K
14      Amer-Indian-Eskimo     Male      0     0   45          Mexico   <=50K
15                   White     Male      0     0   35   United-States   <=50K
16                   White     Male      0     0   40   United-States   <=50K
17                   White     Male      0     0   50   United-States   <=50K
18                   White   Female      0     0   45   United-States    >50K
19                   White     Male      0     0   60   United-States    >50K
20                   Black   Female      0     0   20   United-States   <=50K
21                   Black     Male      0     0   40   United-States   <=50K
22                   White     Male      0  2042   40   United-States   <=50K
23                   White   Female      0     0   40   United-States   <=50K
24                   White     Male      0     0   40   United-States    >50K
25                   White     Male      0     0   40   United-States   <=50K
26      Asian-Pac-Islander     Male      0     0   60           South    >50K
27                   White     Male      0     0   80   United-States   <=50K
28                   White     Male      0     0   40   United-States   <=50K
29                   White     Male      0     0   52   United-States   <=50K
...                    ...      ...    ...   ...  ...             ...     ...
32530   Asian-Pac-Islander   Female      0     0   99   United-States   <=50K
32531                White     Male      0     0   60   United-States    >50K
32532   Asian-Pac-Islander     Male      0     0   50           Japan    >50K
32533                White   Female      0     0   39   United-States   <=50K
32534                Black     Male      0     0   35   United-States   <=50K
32535                White   Female      0     0   55   United-States    >50K
32536                Black     Male      0     0   46   United-States   <=50K
32537                Black   Female  15020     0   45   United-States    >50K
32538                White     Male      0     0   10   United-States    >50K
32539                White   Female      0     0   40   United-States   <=50K
32540                Black   Female      0     0   32   United-States   <=50K
32541                White     Male      0     0   25   United-States   <=50K
32542                White   Female      0     0   48   United-States   <=50K
32543                Other   Female      0     0   30   United-States   <=50K
32544                White   Female      0     0   20   United-States    >50K
32545                White   Female      0     0   40   United-States   <=50K
32546                White     Male      0     0   40          Mexico   <=50K
32547                White     Male   1086     0   60   United-States   <=50K
32548                White   Female      0     0   40   United-States   <=50K
32549                White     Male      0     0   50   United-States   <=50K
32550   Amer-Indian-Eskimo     Male      0     0   40   United-States   <=50K
32551                White     Male      0     0   45   United-States   <=50K
32552   Asian-Pac-Islander     Male      0     0   11          Taiwan   <=50K
32553                White     Male      0     0   40   United-States    >50K
32554                White     Male      0     0   40   United-States   <=50K
32555                White   Female      0     0   38   United-States   <=50K
32556                White     Male      0     0   40   United-States    >50K
32557                White   Female      0     0   40   United-States   <=50K
32558                White     Male      0     0   20   United-States   <=50K
32559                White   Female  15024     0   40   United-States    >50K

[32560 rows x 15 columns]>

In [34]:
adult.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

SyntaxError: invalid character in identifier (<ipython-input-34-37f3570b4a5a>, line 1)

In [35]:

 
adult.columns=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-coutry', 'Income' ]

In [60]:
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-coutry,Income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [36]:
adult1=pd.crosstab(adult.sex,adult.Income)

In [61]:
adult1

Income    <=50K   >50K
sex
 Female    9592   1179
 Male     15125   6662

Male has more higher generation people

In [103]:
adult2=pd.crosstab(adult.race,adult.Income,margins=True).apply(lambda r:r/len(adult),axis=1)

Income                  <=50K      >50K       All
race
 Amer-Indian-Eskimo  0.008446  0.001106  0.009552
 Asian-Pac-Islander  0.023434  0.008477  0.031910
 Black               0.084060  0.011886  0.095946
 Other               0.007555  0.000768  0.008323
 White               0.635688  0.218581  0.854269

In [73]:
adult4=pd.groupby(adult.sex).adult.mean()

In [88]:
adult.groupby(['sex','education','marital-status']).age.max().reset_index()

         sex      education          marital-status  age
0     Female           10th                Divorced   74
1     Female           10th      Married-civ-spouse   81
2     Female           10th   Married-spouse-absent   53
3     Female           10th           Never-married   67
4     Female           10th               Separated   69
5     Female           10th                 Widowed   76
6     Female           11th                Divorced   72
7     Female           11th      Married-civ-spouse   60
8     Female           11th   Married-spouse-absent   60
9     Female           11th           Never-married   71
10    Female           11th               Separated   62
11    Female           11th                 Widowed   76
12    Female           12th                Divorced   58
13    Female           12th      Married-civ-spouse   61
14    Female           12th   Married-spouse-absent   47
15    Female           12th           Never-married   71
16    Female           12th               Separated   52
17    Female           12th                 Widowed   68
18    Female        1st-4th                Divorced   71
19    Female        1st-4th      Married-civ-spouse   75
20    Female        1st-4th   Married-spouse-absent   40
21    Female        1st-4th           Never-married   46
22    Female        1st-4th               Separated   54
23    Female        1st-4th                 Widowed   90
24    Female        5th-6th                Divorced   66
25    Female        5th-6th      Married-civ-spouse   61
26    Female        5th-6th   Married-spouse-absent   66
27    Female        5th-6th           Never-married   63
28    Female        5th-6th               Separated   64
29    Female        5th-6th                 Widowed   76
..       ...            ...                     ...  ...
167     Male        HS-grad       Married-AF-spouse   47
168     Male        HS-grad      Married-civ-spouse   90
169     Male        HS-grad   Married-spouse-absent   79
170     Male        HS-grad           Never-married   90
171     Male        HS-grad               Separated   66
172     Male        HS-grad                 Widowed   90
173     Male        Masters                Divorced   77
174     Male        Masters      Married-civ-spouse   90
175     Male        Masters   Married-spouse-absent   67
176     Male        Masters           Never-married   90
177     Male        Masters               Separated   57
178     Male        Masters                 Widowed   81
179     Male      Preschool                Divorced   36
180     Male      Preschool      Married-civ-spouse   65
181     Male      Preschool   Married-spouse-absent   61
182     Male      Preschool           Never-married   68
183     Male      Preschool                 Widowed   71
184     Male    Prof-school                Divorced   74
185     Male    Prof-school      Married-civ-spouse   90
186     Male    Prof-school   Married-spouse-absent   59
187     Male    Prof-school           Never-married   65
188     Male    Prof-school               Separated   61
189     Male    Prof-school                 Widowed   55
190     Male   Some-college                Divorced   70
191     Male   Some-college       Married-AF-spouse   26
192     Male   Some-college      Married-civ-spouse   90
193     Male   Some-college   Married-spouse-absent   75
194     Male   Some-college           Never-married   90
195     Male   Some-college               Separated   74
196     Male   Some-college                 Widowed   82

[197 rows x 4 columns]

In [106]:
adult1 = adult.set_index([ 'education','marital-status'])['Income'].unstack()

ValueError: Index contains duplicate entries, cannot reshape

In [112]:
adult1 = adult.pivot_table(index='education', columns='age', values='marital-status', aggfunc='mean')

DataError: No numeric types to aggregate

In [109]:
adult1.head()

age,17,18,19,20,21,22,23,24,25,26,...,80,81,82,83,84,85,86,87,88,90
education,,,,,,,,,,,,,,,,,,,,,
10th,21.543478,27.894737,34.500000,39.400000,39.0000,37.052632,42.588235,41.888889,38.714286,42.705882,...,NaN,28.000000,20.0,50.0,NaN,NaN,NaN,NaN,NaN,40.0
11th,19.927778,22.066265,31.777778,37.074074,40.3125,39.761905,41.217391,41.120000,41.269231,37.826087,...,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0
12th,20.189189,22.950000,28.862069,37.500000,31.8750,40.615385,36.533333,41.625000,41.181818,48.555556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st-4th,NaN,NaN,49.000000,30.000000,40.0000,32.000000,37.000000,41.500000,44.166667,NaN,...,NaN,26.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0
5th-6th,48.000000,41.000000,43.000000,35.000000,40.0000,39.363636,39.333333,40.000000,36.857143,39.444444,...,NaN,NaN,20.0,NaN,17.5,NaN,NaN,NaN,NaN,NaN

In [136]:
adult2 = adult.groupby(['education', 'age'])['hours-per-week'].mean().unstack()

In [124]:
adult2.head()

age,17,18,19,20,21,22,23,24,25,26,...,80,81,82,83,84,85,86,87,88,90
education,,,,,,,,,,,,,,,,,,,,,
10th,21.543478,27.894737,34.500000,39.400000,39.0000,37.052632,42.588235,41.888889,38.714286,42.705882,...,NaN,28.000000,20.0,50.0,NaN,NaN,NaN,NaN,NaN,40.0
11th,19.927778,22.066265,31.777778,37.074074,40.3125,39.761905,41.217391,41.120000,41.269231,37.826087,...,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0
12th,20.189189,22.950000,28.862069,37.500000,31.8750,40.615385,36.533333,41.625000,41.181818,48.555556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st-4th,NaN,NaN,49.000000,30.000000,40.0000,32.000000,37.000000,41.500000,44.166667,NaN,...,NaN,26.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0
5th-6th,48.000000,41.000000,43.000000,35.000000,40.0000,39.363636,39.333333,40.000000,36.857143,39.444444,...,NaN,NaN,20.0,NaN,17.5,NaN,NaN,NaN,NaN,NaN

In [127]:
adult2

age,17,18,19,20,21,22,23,24,25,26,...,80,81,82,83,84,85,86,87,88,90
education,,,,,,,,,,,,,,,,,,,,,
10th,21.543478,27.894737,34.500000,39.400000,39.000000,37.052632,42.588235,41.888889,38.714286,42.705882,...,NaN,28.000000,20.00,50.00,NaN,NaN,NaN,NaN,NaN,40.000000
11th,19.927778,22.066265,31.777778,37.074074,40.312500,39.761905,41.217391,41.120000,41.269231,37.826087,...,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.000000
12th,20.189189,22.950000,28.862069,37.500000,31.875000,40.615385,36.533333,41.625000,41.181818,48.555556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st-4th,NaN,NaN,49.000000,30.000000,40.000000,32.000000,37.000000,41.500000,44.166667,NaN,...,NaN,26.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.000000
5th-6th,48.000000,41.000000,43.000000,35.000000,40.000000,39.363636,39.333333,40.000000,36.857143,39.444444,...,NaN,NaN,20.00,NaN,17.500000,NaN,NaN,NaN,NaN,NaN
7th-8th,31.000000,38.000000,50.444444,50.666667,40.857143,40.000000,34.923077,40.833333,41.888889,45.500000,...,27.250000,10.000000,19.00,NaN,10.000000,NaN,NaN,NaN,NaN,31.666667
9th,26.640000,29.875000,32.666667,34.250000,38.500000,38.272727,38.636364,34.625000,39.866667,35.500000,...,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.000000
Assoc-acdm,NaN,NaN,50.000000,30.384615,27.047619,30.740741,33.027778,31.967742,40.756757,36.666667,...,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000000
Assoc-voc,NaN,NaN,32.000000,34.500000,40.931034,36.344828,38.090909,37.281250,43.129032,46.125000,...,24.000000,1.000000,8.00,NaN,14.000000,NaN,NaN,NaN,NaN,NaN
Bachelors,NaN,NaN,35.000000,30.000000,31.428571,31.776471,37.037634,38.317949,39.843902,41.385417,...,NaN,19.333333,NaN,55.00,20.000000,3.0,NaN,NaN,NaN,31.666667
Doctorate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.000000,NaN,NaN,...,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HS-grad,31.250000,29.269737,33.285714,36.350211,37.680000,39.331897,39.375510,40.405512,40.525097,42.287402,...,21.444444,25.800000,20.25,25.75,20.666667,42.5,NaN,2.0,NaN,37.428571
Masters,NaN,60.000000,NaN,25.000000,15.000000,NaN,35.200000,40.307692,40.730769,37.785714,...,10.000000,60.000000,NaN,NaN,66.000000,NaN,40.0,NaN,NaN,47.500000
Preschool,NaN,NaN,36.000000,32.000000,50.000000,NaN,27.500000,33.000000,35.000000,40.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Prof-school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.333333,43.333333,...,22.500000,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,40.0,72.000000
Some-college,25.333333,26.293103,27.462006,29.007264,30.922043,32.293548,33.721014,38.763819,38.847826,39.148571,...,40.000000,13.000000,11.50,NaN,35.000000,NaN,NaN,NaN,40.0,32.833333

In [130]:
adult2[adult2.17.notnull()]

SyntaxError: invalid syntax (<ipython-input-130-3a729de4f24a>, line 1)