In [86]:
import os as os
import glob
import pandas as pd
import numpy as np

In [87]:
path="D:\\"
extension='csv'
os.chdir(path)
result=[i for i in glob.glob('*.{}'.format(extension))]
print(result)

['BigDiamonds.csv', 'Boston (1).csv', 'ccFraud.csv', 'Hedonic.csv', 'mtcars.csv']

In [88]:

fraud=pd.read_csv("ccFraud.csv")

In [89]:
fraud.to_csv('D:\\ccFraud.csv',index=False)

In [90]:
fraud.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,highfraud
1,94787,1,15,1,3458,8,60,17,0,highfraud
2,974787,1,35,1,3458,13,1,3,0,highfraud
3,350035,2,35,1,3458,39,0,6,0,highfraud
4,158078,2,13,1,3458,27,0,25,0,highfraud

In [91]:
fraud.memory_usage(index=True).sum()

83886080

In [92]:
fraud.shape

(1048575, 10)

In [93]:
len(fraud)

1048575

In [94]:
len(fraud.columns)

10

In [95]:
fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
custID          1048575 non-null int64
gender          1048575 non-null int64
state           1048575 non-null int64
cardholder      1048575 non-null int64
balance         1048575 non-null int64
numTrans        1048575 non-null int64
numIntlTrans    1048575 non-null int64
creditLine      1048575 non-null int64
fraudRisk       1048575 non-null int64
fraud           1048575 non-null object
dtypes: int64(9), object(1)
memory usage: 80.0+ MB

In [96]:
fraud.columns

Index(['custID', 'gender', 'state', 'cardholder', 'balance', 'numTrans',
       'numIntlTrans', 'creditLine', 'fraudRisk', 'fraud'],
      dtype='object')

df = pd.DataFrame(
      {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df
 df['logic'] = np.where(df['AAA'] > 5,'high','low')

In [97]:
fraud['fraud']=np.where(fraud['fraudRisk']>0,'yes','no')

In [98]:
fraud.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no
1,94787,1,15,1,3458,8,60,17,0,no
2,974787,1,35,1,3458,13,1,3,0,no
3,350035,2,35,1,3458,39,0,6,0,no
4,158078,2,13,1,3458,27,0,25,0,no

In [99]:
balancelessthan3000=fraud[fraud.balance<3000]

In [100]:
balancelessthan3000.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
106361,730571,1,16,1,2999,11,39,7,0,no
106362,823174,1,44,1,2999,8,1,4,0,no
106363,600006,2,44,1,2999,14,0,8,0,no
106364,925717,2,24,1,2999,99,16,7,0,no
106365,1001581,1,5,1,2999,79,2,3,0,no

In [101]:
balancegreatthan3000=fraud[fraud.balance>3000]

In [102]:
balancegreatthan3000.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no
1,94787,1,15,1,3458,8,60,17,0,no
2,974787,1,35,1,3458,13,1,3,0,no
3,350035,2,35,1,3458,39,0,6,0,no
4,158078,2,13,1,3458,27,0,25,0,no

In [103]:
fraud1=fraud.copy()

In [104]:
fraud2=fraud.loc[(fraud['balance']>3000) & (fraud['fraudRisk']>0),'fraud']

In [107]:
fraud2.head()

83     yes
84     yes
164    yes
166    yes
276    yes
Name: fraud, dtype: object

In [108]:
fraud3=fraud.loc[(fraud['balance']>3000) | (fraud['fraudRisk']>0),'fraud']

In [109]:
fraud3.head()

0    no
1    no
2    no
3    no
4    no
Name: fraud, dtype: object

In [111]:
type(fraud3)

pandas.core.series.Series

In [112]:
type(fraud)

pandas.core.frame.DataFrame

In [113]:
fraud3

0           no
1           no
2           no
3           no
4           no
5           no
6           no
7           no
8           no
9           no
10          no
11          no
12          no
13          no
14          no
15          no
16          no
17          no
18          no
19          no
20          no
21          no
22          no
23          no
24          no
25          no
26          no
27          no
28          no
29          no
          ...
1048545    yes
1048546    yes
1048547    yes
1048548    yes
1048549    yes
1048550    yes
1048551    yes
1048552    yes
1048553    yes
1048554    yes
1048555    yes
1048556    yes
1048557    yes
1048558    yes
1048559    yes
1048560    yes
1048561    yes
1048562    yes
1048563    yes
1048564    yes
1048565    yes
1048566    yes
1048567    yes
1048568    yes
1048569    yes
1048570    yes
1048571    yes
1048572    yes
1048573    yes
1048574    yes
Name: fraud, dtype: object

In [115]:
fraud1.loc[(fraud1['balance']>3000) | (fraud1['fraudRisk']>0),'fraud']='highfraud'

fraud1

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,highfraud
1,94787,1,15,1,3458,8,60,17,0,highfraud
2,974787,1,35,1,3458,13,1,3,0,highfraud
3,350035,2,35,1,3458,39,0,6,0,highfraud
4,158078,2,13,1,3458,27,0,25,0,highfraud
5,76549,2,11,1,3458,49,2,3,0,highfraud
6,34378,1,46,1,3458,1,0,3,0,highfraud
7,789126,2,5,1,3458,20,0,17,0,highfraud
8,449725,2,23,1,3458,39,9,4,0,highfraud
9,21254,1,10,1,3458,9,0,3,0,highfraud
10,416804,1,43,1,3458,2,4,3,0,highfraud
11,419235,1,23,1,3458,65,0,3,0,highfraud
12,673665,1,21,1,3458,5,0,8,0,highfraud
13,325406,2,15,2,3458,14,0,7,0,highfraud
14,207066,1,16,1,3458,19,0,15,0,highfraud
15,99819,2,15,1,3458,9,7,3,0,highfraud
16,959476,2,32,1,3458,81,39,4,0,highfraud
17,326200,2,48,1,3458,22,0,4,0,highfraud
18,393091,1,5,1,3458,21,0,4,0,highfraud
19,946702,2,25,1,3458,23,0,30,0,highfraud
20,5551,1,39,1,3458,25,0,4,0,highfraud
21,392336,1,39,1,3458,44,1,3,0,highfraud
22,344287,2,17,1,3458,26,8,4,0,highfraud
23,956689,2,37,1,3458,22,0,4,0,highfraud
24,772513,2,34,1,3458,17,0,39,0,highfraud
25,852567,1,32,1,3458,7,0,17,0,highfraud
26,95974,2,33,1,3458,9,1,3,0,highfraud
27,684563,1,35,1,3458,24,7,18,0,highfraud
28,380702,2,36,1,3458,12,0,7,0,highfraud
29,881635,1,24,1,3458,26,1,12,0,highfraud
...,...,...,...,...,...,...,...,...,...,...
1048545,138955,1,35,1,30228,7,1,39,1,highfraud
1048546,498967,1,5,1,30301,26,5,38,1,highfraud
1048547,93361,1,29,1,30344,8,4,40,1,highfraud
1048548,746588,2,35,1,30363,30,0,50,1,highfraud
1048549,1024503,2,14,1,30536,6,4,75,1,highfraud
1048550,706163,1,45,1,30605,25,0,46,1,highfraud
1048551,369762,2,10,1,30787,35,4,47,1,highfraud
1048552,749456,1,35,1,31000,11,4,30,1,highfraud
1048553,351746,1,5,1,31070,13,2,32,1,highfraud
1048554,554914,2,32,1,31076,42,5,46,1,highfraud
1048555,318241,2,50,1,31093,8,0,44,1,highfraud
1048556,1012716,1,5,1,31114,47,0,37,1,highfraud
1048557,653651,2,48,1,31238,64,0,56,1,highfraud
1048558,515228,2,50,1,31892,10,0,32,1,highfraud
1048559,671345,1,29,1,31937,21,0,34,1,highfraud
1048560,564287,2,36,1,32000,32,0,31,1,highfraud
1048561,600204,1,32,1,32553,16,1,75,1,highfraud
1048562,947209,1,19,1,32927,33,0,35,1,highfraud
1048563,804125,1,49,1,33000,41,0,32,1,highfraud
1048564,125717,2,44,1,33000,9,0,32,1,highfraud
1048565,650952,1,10,1,34000,37,13,33,1,highfraud
1048566,187154,2,37,1,34390,8,2,35,1,highfraud
1048567,378267,1,16,1,34737,16,4,38,1,highfraud
1048568,188845,2,5,1,34785,14,0,38,1,highfraud
1048569,753354,1,17,1,35039,100,4,39,1,highfraud
1048570,962370,1,46,1,35074,30,0,47,1,highfraud
1048571,1017216,2,3,1,35447,9,4,40,1,highfraud
1048572,887967,1,5,1,35982,70,4,43,1,highfraud
1048573,162445,2,39,1,39554,6,16,52,1,highfraud
1048574,471478,1,35,1,39725,61,0,41,1,highfraud

In [116]:
aValue=3457.89
fraud5=fraud1.ix[(fraud1.balance-aValue).abs().argsort()]
fraud5

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,highfraud
21,392336,1,39,1,3458,44,1,3,0,highfraud
22,344287,2,17,1,3458,26,8,4,0,highfraud
23,956689,2,37,1,3458,22,0,4,0,highfraud
24,772513,2,34,1,3458,17,0,39,0,highfraud
25,852567,1,32,1,3458,7,0,17,0,highfraud
26,95974,2,33,1,3458,9,1,3,0,highfraud
27,684563,1,35,1,3458,24,7,18,0,highfraud
20,5551,1,39,1,3458,25,0,4,0,highfraud
29,881635,1,24,1,3458,26,1,12,0,highfraud
31,572327,1,10,1,3458,29,0,3,0,highfraud
32,140458,1,5,1,3458,60,0,3,0,highfraud
33,609632,1,42,1,3458,15,1,11,0,highfraud
34,278509,2,49,1,3458,79,3,8,0,highfraud
35,100538,1,22,2,3458,15,0,10,0,highfraud
36,442642,1,46,1,3458,25,0,19,0,highfraud
37,502657,1,37,1,3458,51,0,9,0,highfraud
30,452015,1,7,1,3458,7,0,5,0,highfraud
19,946702,2,25,1,3458,23,0,30,0,highfraud
28,380702,2,36,1,3458,12,0,7,0,highfraud
17,326200,2,48,1,3458,22,0,4,0,highfraud
18,393091,1,5,1,3458,21,0,4,0,highfraud
1,94787,1,15,1,3458,8,60,17,0,highfraud
2,974787,1,35,1,3458,13,1,3,0,highfraud
3,350035,2,35,1,3458,39,0,6,0,highfraud
4,158078,2,13,1,3458,27,0,25,0,highfraud
6,34378,1,46,1,3458,1,0,3,0,highfraud
7,789126,2,5,1,3458,20,0,17,0,highfraud
8,449725,2,23,1,3458,39,9,4,0,highfraud
5,76549,2,11,1,3458,49,2,3,0,highfraud
...,...,...,...,...,...,...,...,...,...,...
1048545,138955,1,35,1,30228,7,1,39,1,highfraud
1048546,498967,1,5,1,30301,26,5,38,1,highfraud
1048547,93361,1,29,1,30344,8,4,40,1,highfraud
1048548,746588,2,35,1,30363,30,0,50,1,highfraud
1048549,1024503,2,14,1,30536,6,4,75,1,highfraud
1048550,706163,1,45,1,30605,25,0,46,1,highfraud
1048551,369762,2,10,1,30787,35,4,47,1,highfraud
1048552,749456,1,35,1,31000,11,4,30,1,highfraud
1048553,351746,1,5,1,31070,13,2,32,1,highfraud
1048554,554914,2,32,1,31076,42,5,46,1,highfraud
1048555,318241,2,50,1,31093,8,0,44,1,highfraud
1048556,1012716,1,5,1,31114,47,0,37,1,highfraud
1048557,653651,2,48,1,31238,64,0,56,1,highfraud
1048558,515228,2,50,1,31892,10,0,32,1,highfraud
1048559,671345,1,29,1,31937,21,0,34,1,highfraud
1048560,564287,2,36,1,32000,32,0,31,1,highfraud
1048561,600204,1,32,1,32553,16,1,75,1,highfraud
1048562,947209,1,19,1,32927,33,0,35,1,highfraud
1048563,804125,1,49,1,33000,41,0,32,1,highfraud
1048564,125717,2,44,1,33000,9,0,32,1,highfraud
1048565,650952,1,10,1,34000,37,13,33,1,highfraud
1048566,187154,2,37,1,34390,8,2,35,1,highfraud
1048567,378267,1,16,1,34737,16,4,38,1,highfraud
1048568,188845,2,5,1,34785,14,0,38,1,highfraud
1048569,753354,1,17,1,35039,100,4,39,1,highfraud
1048570,962370,1,46,1,35074,30,0,47,1,highfraud
1048571,1017216,2,3,1,35447,9,4,40,1,highfraud
1048572,887967,1,5,1,35982,70,4,43,1,highfraud
1048573,162445,2,39,1,39554,6,16,52,1,highfraud
1048574,471478,1,35,1,39725,61,0,41,1,highfraud

In [117]:
pd.value_counts(fraud5.balance-aValue)

-3457.89     278480
 542.11       75057
-457.89       64841
 1542.11      61517
 2542.11      46403
 3542.11      33780
 4542.11      24425
 5542.11      17551
 6542.11      12445
 7542.11       8845
-1457.89       7214
 8542.11       6243
 9542.11       4463
 10542.11      3090
 11542.11      2210
 12542.11      1490
 13542.11      1046
 14542.11       677
 15542.11       470
 16542.11       315
 17542.11       218
 18542.11       115
-884.89          74
-612.89          72
 19542.11        72
-1440.89         70
-775.89          70
-1712.89         69
-3353.89         68
-1755.89         68
              ...
 21657.11         1
 22893.11         1
 20424.11         1
 20427.11         1
 13566.11         1
 17469.11         1
 22837.11         1
 16092.11         1
 13312.11         1
 17487.11         1
 12127.11         1
 21687.11         1
 13313.11         1
 17474.11         1
 16097.11         1
 17475.11         1
 15098.11         1
 16101.11         1
 16088.11         1
 17476.11         1
 22840.11         1
 14853.11         1
 13316.11         1
 16094.11         1
 13317.11         1
 20409.11         1
 17467.11         1
 14852.11         1
 16095.11         1
 20608.11         1
Name: balance, dtype: int64

In [118]:
fraud5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
custID          1048575 non-null int64
gender          1048575 non-null int64
state           1048575 non-null int64
cardholder      1048575 non-null int64
balance         1048575 non-null int64
numTrans        1048575 non-null int64
numIntlTrans    1048575 non-null int64
creditLine      1048575 non-null int64
fraudRisk       1048575 non-null int64
fraud           1048575 non-null object
dtypes: int64(9), object(1)
memory usage: 88.0+ MB

There are 278,840 values in fraud where the value approximates 3457.89

In [119]:
fraud8=fraud.iloc[0:,0:4]
fraud8

          custID  gender  state  cardholder
0         672708       2     18           1
1          94787       1     15           1
2         974787       1     35           1
3         350035       2     35           1
4         158078       2     13           1
5          76549       2     11           1
6          34378       1     46           1
7         789126       2      5           1
8         449725       2     23           1
9          21254       1     10           1
10        416804       1     43           1
11        419235       1     23           1
12        673665       1     21           1
13        325406       2     15           2
14        207066       1     16           1
15         99819       2     15           1
16        959476       2     32           1
17        326200       2     48           1
18        393091       1      5           1
19        946702       2     25           1
20          5551       1     39           1
21        392336       1     39           1
22        344287       2     17           1
23        956689       2     37           1
24        772513       2     34           1
25        852567       1     32           1
26         95974       2     33           1
27        684563       1     35           1
28        380702       2     36           1
29        881635       1     24           1
...          ...     ...    ...         ...
1048545   138955       1     35           1
1048546   498967       1      5           1
1048547    93361       1     29           1
1048548   746588       2     35           1
1048549  1024503       2     14           1
1048550   706163       1     45           1
1048551   369762       2     10           1
1048552   749456       1     35           1
1048553   351746       1      5           1
1048554   554914       2     32           1
1048555   318241       2     50           1
1048556  1012716       1      5           1
1048557   653651       2     48           1
1048558   515228       2     50           1
1048559   671345       1     29           1
1048560   564287       2     36           1
1048561   600204       1     32           1
1048562   947209       1     19           1
1048563   804125       1     49           1
1048564   125717       2     44           1
1048565   650952       1     10           1
1048566   187154       2     37           1
1048567   378267       1     16           1
1048568   188845       2      5           1
1048569   753354       1     17           1
1048570   962370       1     46           1
1048571  1017216       2      3           1
1048572   887967       1      5           1
1048573   162445       2     39           1
1048574   471478       1     35           1

[1048575 rows x 4 columns]

In [120]:
fraud34=fraud.loc[(fraud['fraudRisk']>0),'gender']
fraud34
pd.value_counts(fraud34)

1    34140
2    28599
Name: gender, dtype: int64

The gender 1 has more fraud Risk compared to gender 2

In [211]:



fraud35=fraud.loc[(fraud['fraudRisk']==1),'state']
fraud35
pd.value_counts(fraud35)

5     9771
44    5272
10    4613
35    2858
11    2662
39    2627
36    2408
15    2407
48    1608
21    1603
4     1594
46    1530
29    1471
23    1470
32    1315
6     1238
25    1198
20    1134
2      996
49     977
16     948
43     922
41     870
24     858
18     822
7      730
34     702
19     671
37     617
45     567
38     552
13     524
33     520
26     504
3      503
17     477
28     436
50     413
12     300
14     289
22     264
9      233
31     206
40     183
1      180
27     150
42     131
8      110
51     109
30     104
47      92
Name: state, dtype: int64

the state 47 has least risk

In [123]:
fraud52=fraud.loc[(fraud['fraudRisk']==1),'state']
fraud52.sort(ascending=True)
fraud52
pd.value_counts(fraud52)

C:\Users\admin\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  from ipykernel import kernelapp as app

5     9771
44    5272
10    4613
35    2858
11    2662
39    2627
36    2408
15    2407
48    1608
21    1603
4     1594
46    1530
29    1471
23    1470
32    1315
6     1238
25    1198
20    1134
2      996
49     977
16     948
43     922
41     870
24     858
18     822
7      730
34     702
19     671
37     617
45     567
38     552
13     524
33     520
26     504
3      503
17     477
28     436
50     413
12     300
14     289
22     264
9      233
31     206
40     183
1      180
27     150
42     131
8      110
51     109
30     104
47      92
Name: state, dtype: int64

In [124]:

fraud.columns

Index(['custID', 'gender', 'state', 'cardholder', 'balance', 'numTrans',
       'numIntlTrans', 'creditLine', 'fraudRisk', 'fraud'],
      dtype='object')

In [125]:
fraud39=pd.crosstab([fraud.fraudRisk,fraud.creditLine],fraud.state,margins=True)
fraud39

state                    1      2      3      4       5      6      7     8  \
fraudRisk creditLine
0         1             17    193    103    228    1389    186    124    24
          2            194   1765   1098   2189   12981   1878   1344   201
          3            268   2081   1446   2816   16120   2319   1608   272
          4            246   1936   1198   2481   14571   2122   1509   289
          5            216   1575   1055   1961   12068   1706   1183   206
          6            170   1298    859   1687    9821   1398    927   150
          7            133   1068    648   1328    8042   1103    894   153
          8            122    935    523   1152    6371    916    687   120
          9             81    697    502    894    5377    735    528    95
          10            76    555    382    700    4438    633    442    74
          11            64    487    323    572    3601    489    340    61
          12            39    432    280    526    3031    439    324    68
          13            38    325    223    440    2405    368    251    55
          14            41    278    218    367    2076    312    231    39
          15            31    257    156    301    1853    226    195    36
          16            18    190    139    266    1537    245    149    26
          17            21    189     98    216    1302    209    134    20
          18            12    168    124    206    1109    152    116    25
          19            18    134    107    169    1022    160    112    22
          20            13    131     80    151     869    139    101    24
          21            12     99     76    150     763    142     69    18
          22             2     96     53    123     674     99     88    20
          23             6     75     55     89     570     98     58     8
          24             9     66     47     87     556     65     60     9
          25            12     60     43     76     488     79     44     9
          26             4     62     50     79     416     54     53    12
          27             7     43     30     62     362     56     37    10
          28             6     37     26     56     333     47     41     4
          29             6     44     27     39     266     35     29     6
          30             3     44     24     35     250     37     28     5
...                    ...    ...    ...    ...     ...    ...    ...   ...
1         47             0      6      0      2      59      4      3     1
          48             0     10      3     11      49      2      2     1
          49             1      1      1     10      42      5      1     0
          50             1      6      4     12      38      7      3     1
          51             1      4      2      6      43      6      5     1
          52             2      2      2      9      39      7      1     0
          53             0      7      2      5      37      6      3     0
          54             1      4      2     10      41      2      3     0
          55             1      3      4      4      39      2      4     2
          56             1      2      2     10      34      5      4     0
          57             0      0      5      7      24      7      4     1
          58             1      4      3      3      35      5      3     1
          59             0      5      1      2      33      7      5     0
          60             0      3      0      3      20      1      3     0
          61             0      5      2      4      24      3      0     0
          62             1      1      3      5      18      1      1     0
          63             1      2      1      4      24      1      2     1
          64             0      2      2      2      22      2      1     0
          65             0      3      2      3      19      3      0     0
          66             0      1      2      3      23      3      1     0
          67             0      2      3      4      20      1      1     2
          68             0      3      1      6      26      4      2     0
          69             0      1      0      2      18      2      1     1
          70             0      2      1      4      13      3      3     1
          71             0      0      4      2      20      4      1     0
          72             0      1      2      4      18      1      2     0
          73             0      1      1      1      12      1      1     0
          74             1      1      1      3      19      3      1     0
          75             7     44     27     56     373     58     35     3
All                   2108  16712  10749  21492  127129  18084  12745  2208

state                    9     10   ...        43     44    45     46    47  \
fraudRisk creditLine                ...
0         1             28    663   ...       234    915   116    283    24
          2            362   6394   ...      2231   8830   940   2689   223
          3            418   8236   ...      2798  11132  1187   3385   272
          4            340   7412   ...      2476   9781  1132   3051   268
          5            298   6120   ...      2125   8229   962   2557   207
          6            227   5044   ...      1626   6788   749   2025   183
          7            178   3989   ...      1363   5463   621   1682   121
          8            156   3221   ...      1130   4315   502   1337   121
          9            156   2630   ...       974   3579   392   1127    97
          10            95   2238   ...       752   3034   367    949    72
          11            72   1820   ...       658   2519   282    789    63
          12            89   1500   ...       524   2079   240    666    54
          13            47   1271   ...       434   1759   198    565    47
          14            67   1091   ...       373   1465   156    446    41
          15            54    941   ...       313   1255   152    397    40
          16            38    757   ...       249   1004   125    354    20
          17            29    618   ...       224    871    94    236    23
          18            18    599   ...       220    785    95    256    24
          19            25    504   ...       172    672    94    207    25
          20            31    425   ...       159    612    70    178    17
          21            22    400   ...       150    501    68    169    13
          22            19    360   ...       119    495    65    151    15
          23            11    299   ...       113    453    43    130     8
          24            20    266   ...        90    378    31    117    11
          25            12    216   ...        80    317    34     99     2
          26            13    225   ...        76    294    32     83    11
          27             8    179   ...        75    245    25     82    11
          28            10    177   ...        65    211    26     67     3
          29            11    145   ...        65    214    25     74     3
          30             6    112   ...        61    198    21     66     5
...                    ...    ...   ...       ...    ...   ...    ...   ...
1         47             0     18   ...         4     25     3      8     0
          48             0     14   ...         6     24     2      2     1
          49             1     25   ...         5     27     2      6     0
          50             0     23   ...         5     22     2      5     0
          51             1     15   ...         2     19     4     10     0
          52             0     19   ...        10     17     0      7     0
          53             0     15   ...         6     19     2      3     3
          54             0     13   ...         3     21     5      6     0
          55             0     16   ...         2     30     1      4     0
          56             2     23   ...         6     26     1      7     0
          57             0     19   ...         5     14     1      3     0
          58             1     14   ...         1     17     0      4     0
          59             1      8   ...         2     18     1      7     0
          60             0      7   ...         1     22     0      2     0
          61             3     12   ...         1     20     0      1     0
          62             2     12   ...         4     16     2      4     0
          63             0      8   ...         4     13     4      4     0
          64             1     11   ...         2     17     0      2     0
          65             1     11   ...         3     15     2      4     0
          66             0      9   ...         2     12     1      3     0
          67             1      6   ...         0     10     2      5     0
          68             0     11   ...         4     13     0      2     0
          69             0      8   ...         2     15     1      3     0
          70             3      4   ...         3      8     1      4     0
          71             0      7   ...         2     12     1      6     0
          72             0      4   ...         1      5     0      4     0
          73             0     11   ...         2      8     0      5     0
          74             0     11   ...         2     19     3      4     0
          75            10    167   ...        50    252    18     64     5
All                   3169  63858   ...     21401  85648  9621  26379  2158

state                    48     49    50    51      All
fraudRisk creditLine
0         1             248    198    53    23    11054
          2            2200   2019   654   219   107767
          3            2680   2474   866   301   135148
          4            2445   2213   789   257   121204
          5            2034   1856   632   185   100635
          6            1651   1571   439   160    81657
          7            1357   1247   408   156    66797
          8            1051    979   331   118    54259
          9             910    769   283   101    44710
          10            756    669   226    80    36752
          11            620    583   180    67    30484
          12            511    482   152    56    25615
          13            415    410   134    48    21398
          14            335    334   103    38    17987
          15            266    283    97    23    15377
          16            222    254    70    45    13008
          17            204    218    54    26    11120
          18            188    170    67    22     9858
          19            153    151    58    13     8489
          20            131    145    53    16     7495
          21            124    111    33    18     6560
          22            111    109    38    18     5935
          23            122    100    30    11     5205
          24            110     99    27    11     4529
          25             77     80    20     3     4044
          26             70     59    16     7     3677
          27             65     70    17     6     3235
          28             59     69    23     4     2897
          29             51     37     8     9     2532
          30             46     51    15     6     2392
...                     ...    ...   ...   ...      ...
1         47              5      2     1     1      304
          48              6      5     1     1      281
          49              4      3     1     2      294
          50              8      5     4     0      315
          51              2      6     2     0      263
          52              2      2     3     0      258
          53             11      4     0     0      243
          54              5      3     3     0      240
          55              5      3     1     0      255
          56              6      3     0     0      247
          57              2      4     1     0      225
          58              7      2     2     0      198
          59              1      2     1     0      177
          60              3      6     1     2      161
          61              4      1     0     1      162
          62              4      0     0     0      165
          63              5      4     1     0      157
          64              1      3     0     0      138
          65              2      4     0     0      155
          66              2      3     1     1      150
          67              0      2     2     0      120
          68              2      2     2     0      146
          69              3      3     1     2      131
          70              2      2     2     0      126
          71              2      1     0     0      129
          72              2      3     1     0      121
          73              6      0     0     1      122
          74              3      1     1     0      135
          75             55     44    17     7     2781
All                   21281  19258  6439  2203  1048575

[151 rows x 52 columns]

In [126]:
import pandasql as pdsql

In [164]:
fraud41=fraud.loc[(fraud['fraudRisk']==0),(['state','creditLine'])]

fraud41

         state  creditLine
0           18           7
1           15          17
2           35           3
3           35           6
4           13          25
5           11           3
6           46           3
7            5          17
8           23           4
9           10           3
10          43           3
11          23           3
12          21           8
13          15           7
14          16          15
15          15           3
16          32           4
17          48           4
18           5           4
19          25          30
20          39           4
21          39           3
22          17           4
23          37           4
24          34          39
25          32          17
26          33           3
27          35          18
28          36           7
29          24          12
...        ...         ...
1047185     25          36
1047187     11          22
1047190     29          29
1047211     16          23
1047238     40          23
1047240     10          22
1047241     46          22
1047249      5          30
1047250     25          28
1047255      7          23
1047369      5          34
1047391     35          32
1047443     43          29
1047474      4          22
1047493      5          22
1047496     44          30
1047523     46          23
1047555     48          22
1047579     44          22
1047593     16          22
1047612     39          22
1047624     24          22
1047626     39          23
1047708     44          24
1047710     43          23
1047757     35          26
1047818     37          28
1047841     10          31
1048009     35          36
1048256     35          29

[985836 rows x 2 columns]

In [129]:
import pandasql as pdsql

In [130]:
fraud.columns

Index(['custID', 'gender', 'state', 'cardholder', 'balance', 'numTrans',
       'numIntlTrans', 'creditLine', 'fraudRisk', 'fraud'],
      dtype='object')

In [ ]:
fraud45=fraud.loc[(fraud['fraudRisk']==1),(['state','creditLine'])]
fraud45

In [201]:

fraud45.creditLine.value_counts()

75    2781
12    2495
10    2429
13    2394
11    2368
9     2342
8     2295
14    2294
15    2170
7     2123
16    2109
17    1956
6     1953
18    1821
5     1728
19    1641
20    1519
4     1451
21    1379
23    1203
22    1177
24    1141
3     1043
25    1012
27     982
26     977
28     821
29     784
30     760
31     693
      ...
45     318
50     315
47     304
49     294
48     281
51     263
52     258
55     255
56     247
53     243
54     240
57     225
58     198
59     177
62     165
61     162
60     161
63     157
65     155
66     150
68     146
64     138
74     135
69     131
71     129
70     126
73     122
72     121
67     120
1       36
Name: creditLine, dtype: int64

In [174]:
fraud42=fraud41.pivot_table(index='creditLine')
fraud42

                state
creditLine
1           24.755654
2           24.710570
3           24.729238
4           24.714267
5           24.799046
6           24.730776
7           24.754749
8           24.682891
9           24.780765
10          24.873449
11          24.955321
12          24.766426
13          24.990326
14          24.688497
15          24.721272
16          24.749692
17          24.803237
18          24.855853
19          24.619743
20          24.657105
21          24.574543
22          24.961247
23          25.412104
24          25.081475
25          24.671118
26          24.562687
27          25.077280
28          24.778046
29          25.430490
30          25.634197
...               ...
46          25.009940
47          25.371429
48          25.625592
49          24.908665
50          25.691099
51          24.536741
52          24.364431
53          25.031034
54          23.887218
55          25.888889
56          25.854545
57          28.333333
58          25.191489
59          25.428571
60          26.753731
61          24.153333
62          23.431818
63          26.757576
64          25.766355
65          27.129630
66          24.010417
67          23.514851
68          24.416667
69          23.555556
70          23.972973
71          24.910714
72          24.280702
73          27.279070
74          24.913043
75          25.565877

[75 rows x 1 columns]

In [146]:
fraud41.pivot_table(index='creditLine')

                state
creditLine
1           24.755654
2           24.710570
3           24.729238
4           24.714267
5           24.799046
6           24.730776
7           24.754749
8           24.682891
9           24.780765
10          24.873449
11          24.955321
12          24.766426
13          24.990326
14          24.688497
15          24.721272
16          24.749692
17          24.803237
18          24.855853
19          24.619743
20          24.657105
21          24.574543
22          24.961247
23          25.412104
24          25.081475
25          24.671118
26          24.562687
27          25.077280
28          24.778046
29          25.430490
30          25.634197
...               ...
46          25.009940
47          25.371429
48          25.625592
49          24.908665
50          25.691099
51          24.536741
52          24.364431
53          25.031034
54          23.887218
55          25.888889
56          25.854545
57          28.333333
58          25.191489
59          25.428571
60          26.753731
61          24.153333
62          23.431818
63          26.757576
64          25.766355
65          27.129630
66          24.010417
67          23.514851
68          24.416667
69          23.555556
70          23.972973
71          24.910714
72          24.280702
73          27.279070
74          24.913043
75          25.565877

[75 rows x 1 columns]

In [147]:
fraud43=fraud41.pivot_table(index='state')

In [175]:
import pandasql as pdsql
str1="select max(state),creditLine from fraud42"
str4="select min(state),creditLine from fraud42"

In [176]:
df1=pdsql.sqldf(str1)
df4=pdsql.sqldf(str4)
df1

   max(state)  creditLine
0   28.333333          57

In [178]:
str2="select max(creditLine),state from fraud43"
str3="select min(creditLine),state from fraud43"
df2=pdsql.sqldf(str2)
df3=pdsql.sqldf(str3)

In [179]:
df2

   max(creditLine)  state
0         8.470157     14

In [177]:
df4

   min(state)  creditLine
0   23.431818          62

The state 14 has maximum creditLine offered at risk 0 
The state 1 has minimum creditLine offered at risk 0

In [180]:
df3

   min(creditLine)  state
0          7.97251      1

In [181]:
fraud41.pivot_table(index='creditLine',margins=True).max()

state    28.333333
dtype: float64

The creditLimit of 57 is normally allowed by most of the states when fraudRisk is 0.
The creditLimit of 62is least followed by any states when fraudRisk is 0

In [182]:
fraud41.describe()

               state     creditLine
count  985836.000000  985836.000000
mean       24.773490       8.213555
std        14.939996       7.925707
min         1.000000       1.000000
25%        10.000000       3.000000
50%        24.000000       6.000000
75%        38.000000      10.000000
max        51.000000      75.000000

In [184]:
fraud46=fraud45.pivot_table(index='state',values='creditLine',aggfunc='median',margins=True)
fraud45.pivot_table(index='state',margins=True)

       creditLine
state
1       22.233333
2       23.478916
3       26.443340
4       22.668130
5       22.355951
6       22.803716
7       23.661644
8       22.918182
9       21.575107
10      22.390635
11      21.438768
12      26.373333
13      26.618321
14      24.041522
15      24.200249
16      25.314346
17      24.828092
18      24.461071
19      25.512668
20      24.118166
21      22.205240
22      23.761364
23      26.244898
24      25.903263
25      24.498331
26      24.847222
27      25.313333
28      25.327982
29      25.746431
30      26.567308
31      23.388350
32      25.273764
33      23.182692
34      24.044160
35      25.228132
36      23.677326
37      24.111831
38      25.092391
39      23.527598
40      24.939891
41      23.844828
42      26.045802
43      25.691974
44      24.119120
45      22.442681
46      23.422222
47      24.054348
48      21.465796
49      23.964176
50      23.813559
51      25.440367
All     23.648496

In [190]:
fraud47=fraud45.pivot_table(index='creditLine',margins=True)
fraud47

                state
creditLine
1           21.194444
2           21.373057
3           21.865772
4           22.310131
5           22.621528
6           22.446493
7           23.186528
8           22.600436
9           22.376174
10          23.069988
11          22.733108
12          23.268136
13          22.817460
14          23.720139
15          23.715668
16          23.765292
17          23.817485
18          23.585942
19          23.846435
20          23.439763
21          23.324148
22          23.670348
23          23.414796
24          23.517090
25          23.589921
26          24.163767
27          24.404277
28          24.289890
29          23.559949
30          24.628947
...               ...
47          23.000000
48          22.811388
49          23.806122
50          22.860317
51          23.152091
52          23.220930
53          24.086420
54          23.616667
55          24.003922
56          23.380567
57          22.808889
58          21.772727
59          22.745763
60          27.062112
61          23.629630
62          23.890909
63          25.191083
64          23.942029
65          23.432258
66          22.740000
67          22.758333
68          22.520548
69          25.496183
70          23.571429
71          23.674419
72          23.867769
73          25.311475
74          25.281481
75          24.314995
All         23.381453

[76 rows x 1 columns]

In [192]:
fraud48=fraud45.pivot_table(index='state',margins=True)
fraud48

       creditLine
state
1       22.233333
2       23.478916
3       26.443340
4       22.668130
5       22.355951
6       22.803716
7       23.661644
8       22.918182
9       21.575107
10      22.390635
11      21.438768
12      26.373333
13      26.618321
14      24.041522
15      24.200249
16      25.314346
17      24.828092
18      24.461071
19      25.512668
20      24.118166
21      22.205240
22      23.761364
23      26.244898
24      25.903263
25      24.498331
26      24.847222
27      25.313333
28      25.327982
29      25.746431
30      26.567308
31      23.388350
32      25.273764
33      23.182692
34      24.044160
35      25.228132
36      23.677326
37      24.111831
38      25.092391
39      23.527598
40      24.939891
41      23.844828
42      26.045802
43      25.691974
44      24.119120
45      22.442681
46      23.422222
47      24.054348
48      21.465796
49      23.964176
50      23.813559
51      25.440367
All     23.648496

In [187]:
str5="select min(state),creditLine from fraud47"
str6="select max(state),creditLine from fraud47"

In [189]:
df5=pdsql.sqldf(str5)
df5

   min(state) creditLine
0   21.194444          1

The maximum creditLine offered is 60 whereas the minimumcreditLine offered is 1 when fraudRisk is 1

In [191]:
df6=pdsql.sqldf(str6)
df6

   max(state) creditLine
0   27.062112         60

In [193]:
str7="select max(creditLine),state from fraud48"

In [194]:
df7=pdsql.sqldf(str7)
df7

   max(creditLine) state
0        26.618321    13

In [195]:
str8="select min(creditLine),state from fraud48"

In [197]:
df8=pdsql.sqldf(str8)
df8

   min(creditLine) state
0        21.438768    11

The state 11 has minimum creditLine and state 13 has maximum creditLine
When creditLine is 1 is the minimum creditLine offered wherer fraudRisk=1
The maximum creditLine is of state 5 where fraudRisk is maximum and fraud is highest at the state
Another inference is that the minimum credit limit offered to the customer is 1 day implying that allmost all sales takes place in credit.The ideal creditLine is from 57-60

In [455]:
str8="select min(state),creditLine from fraud47"

In [456]:
df8=pdsql.sqldf(str8)

In [461]:
df8

   min(state) creditLine
0   21.194444          1

In [529]:
str10="select fraudRisk,state,creditLine from fraud"

In [531]:
df9=pdsql.sqldf(str10)
df9.head()

   fraudRisk  state  creditLine
0          0     18           7
1          0     15          17
2          0     35           3
3          0     35           6
4          0     13          25

In [486]:
type(df9)

pandas.core.frame.DataFrame

In [541]:
fraud51=df9.pivot_table(index='state',values='fraudRisk', aggfunc='count',margins=True)
fraud51

state
1         2108.0
2        16712.0
3        10749.0
4        21492.0
5       127129.0
6        18084.0
7        12745.0
8         2208.0
9         3169.0
10       63858.0
11       31812.0
12        5311.0
13       11635.0
14        6287.0
15       42373.0
16       21122.0
17        9604.0
18       14708.0
19       15832.0
20       21312.0
21       21282.0
22        4327.0
23       31712.0
24       19059.0
25       21305.0
26       10672.0
27        3064.0
28        6455.0
29       31853.0
30        2112.0
31        4211.0
32       29860.0
33        8577.0
34        9446.0
35       63991.0
36       38349.0
37       12758.0
38       12979.0
39       42560.0
40        3182.0
41       16025.0
42        2158.0
43       21401.0
44       85648.0
45        9621.0
46       26379.0
47        2158.0
48       21281.0
49       19258.0
50        6439.0
51        2203.0
All    1048575.0
Name: fraudRisk, dtype: float64

In [543]:
df9.pivot_table(index='creditLine',values='state', aggfunc='count',margins=True)

creditLine
1        11090.0
2       108346.0
3       136191.0
4       122655.0
5       102363.0
6        83610.0
7        68920.0
8        56554.0
9        47052.0
10       39181.0
11       32852.0
12       28110.0
13       23792.0
14       20281.0
15       17547.0
16       15117.0
17       13076.0
18       11679.0
19       10130.0
20        9014.0
21        7939.0
22        7112.0
23        6408.0
24        5670.0
25        5056.0
26        4654.0
27        4217.0
28        3718.0
29        3316.0
30        3152.0
         ...
47         759.0
48         703.0
49         721.0
50         697.0
51         576.0
52         601.0
53         533.0
54         506.0
55         498.0
56         467.0
57         450.0
58         386.0
59         352.0
60         295.0
61         312.0
62         297.0
63         289.0
64         245.0
65         263.0
66         246.0
67         221.0
68         230.0
69         203.0
70         200.0
71         185.0
72         178.0
73         165.0
74         181.0
75        3836.0
All    1048575.0
Name: state, dtype: float64

In [544]:
fraud.columns

Index(['custID', 'gender', 'state', 'cardholder', 'balance', 'numTrans',
       'numIntlTrans', 'creditLine', 'fraudRisk', 'fraud'],
      dtype='object')

In [ ]:
pd.crosstab([fraud.numTrans, df.experience], df.regiment,  margins=True)

In [6]:
pd.crosstab(fraud.numTrans,fraud.numIntlTrans,margins=True)

numIntlTrans,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,All
numTrans,,,,,,,,,,,,,,,,,,,,,
0,798,85,78,64,51,45,33,29,29,23,...,0,0,0,0,0,1,1,0,7,1448
1,5555,571,485,425,346,268,249,179,186,152,...,0,1,5,2,1,5,5,3,55,9781
2,10911,1138,918,792,665,592,493,385,333,308,...,7,7,6,6,7,8,5,2,96,19191
3,14947,1589,1300,1053,892,739,646,533,461,393,...,12,8,4,10,12,9,12,8,121,26076
4,17570,1787,1516,1258,1069,854,771,624,557,473,...,13,12,9,13,9,10,8,7,160,30438
5,19057,2046,1655,1378,1149,933,783,693,579,506,...,7,15,8,18,12,7,10,8,157,33246
6,19623,2027,1631,1392,1173,1019,903,755,611,510,...,14,15,8,12,8,6,5,9,151,34286
7,19690,2047,1679,1350,1154,996,883,738,674,579,...,14,11,13,8,13,11,12,6,176,34544
8,19547,2103,1669,1430,1152,991,848,679,618,500,...,12,11,12,11,12,8,10,3,185,34246
9,18952,1959,1603,1393,1088,1056,866,664,592,513,...,12,7,11,19,3,6,5,4,157,33265
10,18801,1937,1590,1307,1093,907,763,677,563,522,...,11,9,9,6,13,9,7,7,168,32588
11,17732,1821,1504,1214,1058,940,756,702,527,429,...,13,11,6,10,9,7,12,8,168,30947
12,17496,1830,1581,1172,1025,846,712,641,546,444,...,8,12,11,12,12,7,7,6,173,30447
13,16194,1689,1439,1152,1012,791,655,578,483,448,...,19,10,7,8,12,13,8,5,133,28484
14,15567,1648,1346,1094,951,772,628,587,493,396,...,12,6,5,9,9,8,9,9,149,27195
15,15078,1600,1323,1077,899,749,647,549,435,398,...,10,10,10,5,10,3,8,5,128,26326
16,14168,1457,1167,977,818,706,615,503,433,392,...,12,5,4,4,7,6,3,6,116,24504
17,13338,1469,1136,980,849,698,554,506,428,351,...,6,6,4,8,10,5,3,1,146,23482
18,12890,1305,1125,956,764,663,596,453,401,351,...,9,10,9,7,14,4,7,8,125,22601
19,12357,1293,1078,917,731,608,532,439,381,321,...,7,9,7,5,4,12,7,8,119,21649
20,11780,1256,1038,808,689,582,510,387,388,307,...,5,7,8,8,6,5,7,5,106,20465
21,11136,1123,893,825,667,511,475,441,351,313,...,3,5,7,3,6,7,5,9,95,19378
22,10431,1080,924,716,617,498,450,396,332,294,...,3,7,9,3,7,7,5,3,99,18153
23,10058,1005,818,687,565,480,439,366,309,273,...,2,3,6,5,3,3,1,7,80,17352
24,9452,1010,834,698,582,490,402,366,285,240,...,7,7,8,5,3,5,5,3,77,16624
25,9171,945,767,652,585,452,372,331,296,272,...,3,4,2,6,3,4,3,1,93,15926
26,8767,928,716,673,522,493,384,307,273,230,...,8,7,5,7,6,3,2,4,56,15347
27,8312,881,715,579,458,439,341,304,254,222,...,5,2,5,4,9,5,3,4,68,14498
28,7930,819,695,577,472,400,338,300,258,246,...,4,3,2,3,9,2,4,3,73,13953
29,7354,767,652,572,453,351,309,279,255,197,...,6,3,6,4,3,4,4,5,55,13012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,1416,140,135,87,87,59,57,63,53,37,...,0,0,1,0,0,0,0,0,12,2478
73,1452,146,121,94,85,87,68,42,50,43,...,0,2,0,2,1,0,2,1,8,2515
74,1329,120,138,78,84,65,60,41,45,37,...,0,2,0,1,1,0,0,0,13,2323
75,1344,116,108,99,72,63,66,53,34,30,...,2,0,3,1,1,1,0,0,11,2276
76,1295,126,131,86,67,69,67,48,38,26,...,2,1,1,1,1,0,0,1,16,2238
77,1275,142,90,71,83,63,49,44,37,38,...,0,1,1,0,1,1,0,1,7,2153
78,1145,110,81,88,95,56,58,54,39,35,...,1,1,0,1,0,1,1,1,8,2047
79,1168,133,101,83,64,73,47,34,49,27,...,3,2,0,1,2,2,1,3,12,2068
80,1175,121,89,81,70,59,41,47,39,29,...,1,1,2,1,0,0,2,1,11,2056
81,1124,112,92,71,53,57,39,45,42,25,...,1,0,0,0,1,0,2,0,12,1932
82,1026,91,106,71,51,49,41,35,35,28,...,0,1,0,2,1,1,1,0,6,1785
83,1066,111,94,94,50,52,49,23,27,31,...,0,1,2,1,0,0,1,0,6,1842
84,1032,100,85,67,56,43,38,32,39,21,...,1,0,1,0,1,0,0,0,13,1739
85,982,92,86,77,62,48,44,38,31,29,...,0,1,2,1,1,0,1,1,5,1711
86,963,82,64,74,51,50,31,31,35,32,...,0,1,1,0,1,0,0,1,7,1658
87,918,81,67,71,48,46,39,33,32,26,...,1,0,0,0,1,0,0,0,8,1578
88,904,81,76,62,56,53,38,31,22,25,...,0,0,0,0,0,1,0,0,6,1530
89,854,73,61,55,39,46,34,45,27,24,...,1,1,0,0,2,0,2,0,9,1463
90,836,95,87,52,54,36,37,28,24,24,...,1,2,1,0,0,0,1,0,7,1476
91,805,87,69,67,51,60,44,30,22,26,...,0,0,0,3,0,2,0,0,7,1465
92,826,74,60,60,62,40,44,30,31,22,...,2,1,0,0,1,0,0,0,3,1430
93,809,74,60,49,43,32,31,28,36,16,...,1,1,0,1,1,1,0,0,5,1353
94,728,80,58,59,52,37,32,37,26,21,...,1,2,0,0,0,0,0,1,6,1301
95,758,70,70,44,43,46,32,25,22,18,...,1,1,1,0,0,0,1,0,7,1301
96,707,71,65,42,39,41,27,33,19,17,...,0,1,1,0,0,0,0,0,3,1214
97,696,73,63,57,42,31,34,36,31,18,...,0,0,0,1,1,0,0,1,6,1240
98,720,65,66,43,44,47,35,41,22,19,...,1,0,0,0,0,1,0,0,7,1269
99,674,65,49,54,42,41,30,18,22,22,...,0,1,2,0,0,0,0,1,8,1173
100,32308,3337,2741,2285,1922,1668,1406,1177,1040,863,...,22,21,19,12,21,18,14,22,319,56392
All,600271,62353,51600,42726,35848,30439,25940,21926,18827,16160,...,376,340,312,326,341,284,270,249,5317,1048575

In [17]:
fraud.sort(ascending=True)
pd.value_counts(fraud.numTrans)

C:\Users\admin\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  if __name__ == '__main__':

100    56392
7      34544
6      34286
8      34246
9      33265
5      33246
10     32588
11     30947
12     30447
4      30438
13     28484
14     27195
15     26326
3      26076
16     24504
17     23482
18     22601
19     21649
20     20465
21     19378
2      19191
22     18153
23     17352
24     16624
25     15926
26     15347
27     14498
28     13953
29     13012
30     12437
       ...
71      2581
73      2515
72      2478
74      2323
75      2276
76      2238
77      2153
79      2068
80      2056
78      2047
81      1932
83      1842
82      1785
84      1739
85      1711
86      1658
87      1578
88      1530
90      1476
91      1465
89      1463
0       1448
92      1430
93      1353
94      1301
95      1301
98      1269
97      1240
96      1214
99      1173
Name: numTrans, dtype: int64

In [19]:
fraud.numTrans.count()

1048575

In [20]:
fraud.numIntlTrans.count()

1048575

In [18]:
fraud.sort(ascending=True)
pd.value_counts(fraud.numIntlTrans)

C:\Users\admin\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  if __name__ == '__main__':

0     600271
1      62353
2      51600
3      42726
4      35848
5      30439
6      25940
7      21926
8      18827
9      16160
10     14223
11     12446
12     10910
13      9543
14      8454
15      7594
16      6710
17      6158
18      5321
60      5317
19      4791
20      4387
21      3874
22      3595
23      3265
24      2899
25      2651
26      2529
27      2228
28      2003
       ...
30      1752
31      1546
32      1413
33      1352
34      1244
35      1158
36      1146
38       946
37       916
39       884
40       812
41       735
42       715
43       650
44       607
45       576
46       519
48       516
47       514
49       464
50       420
51       408
52       376
56       341
53       340
55       326
54       312
57       284
58       270
59       249
Name: numIntlTrans, dtype: int64

In [22]:
fraud[(fraud.numIntlTrans==0)]

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
3,350035,2,35,1,3458,39,0,6,0,highfraud
4,158078,2,13,1,3458,27,0,25,0,highfraud
6,34378,1,46,1,3458,1,0,3,0,highfraud
7,789126,2,5,1,3458,20,0,17,0,highfraud
9,21254,1,10,1,3458,9,0,3,0,highfraud
11,419235,1,23,1,3458,65,0,3,0,highfraud
12,673665,1,21,1,3458,5,0,8,0,highfraud
13,325406,2,15,2,3458,14,0,7,0,highfraud
14,207066,1,16,1,3458,19,0,15,0,highfraud
17,326200,2,48,1,3458,22,0,4,0,highfraud
18,393091,1,5,1,3458,21,0,4,0,highfraud
19,946702,2,25,1,3458,23,0,30,0,highfraud
20,5551,1,39,1,3458,25,0,4,0,highfraud
23,956689,2,37,1,3458,22,0,4,0,highfraud
24,772513,2,34,1,3458,17,0,39,0,highfraud
25,852567,1,32,1,3458,7,0,17,0,highfraud
28,380702,2,36,1,3458,12,0,7,0,highfraud
30,452015,1,7,1,3458,7,0,5,0,highfraud
31,572327,1,10,1,3458,29,0,3,0,highfraud
32,140458,1,5,1,3458,60,0,3,0,highfraud
35,100538,1,22,2,3458,15,0,10,0,highfraud
36,442642,1,46,1,3458,25,0,19,0,highfraud
37,502657,1,37,1,3458,51,0,9,0,highfraud
38,272037,2,15,1,3457,61,0,10,0,highfraud
39,40364,1,36,1,3457,61,0,3,0,highfraud
40,944265,1,20,1,3457,15,0,6,0,highfraud
41,1041544,1,5,1,3457,11,0,7,0,highfraud
42,58552,1,3,1,3457,32,0,4,0,highfraud
45,232114,1,25,1,3457,100,0,18,0,highfraud
46,263508,2,23,1,3457,4,0,21,0,highfraud
...,...,...,...,...,...,...,...,...,...,...
1048513,412112,1,11,1,29007,7,0,34,1,highfraud
1048514,72762,1,45,1,29115,12,0,75,1,highfraud
1048516,543463,2,48,1,29165,16,0,32,1,highfraud
1048517,521730,2,35,1,29242,49,0,29,1,highfraud
1048525,503210,1,44,1,29568,22,0,38,1,highfraud
1048526,311816,1,16,1,29587,20,0,37,1,highfraud
1048527,142430,1,43,1,29612,16,0,47,1,highfraud
1048528,987039,1,29,1,29617,18,0,33,1,highfraud
1048529,34655,2,34,1,29642,20,0,30,1,highfraud
1048530,978070,1,46,1,29697,48,0,75,1,highfraud
1048534,469908,1,15,1,29838,8,0,36,1,highfraud
1048535,168508,1,44,1,29911,47,0,60,1,highfraud
1048538,808562,1,21,1,30000,48,0,29,1,highfraud
1048539,258121,2,46,1,30000,8,0,29,1,highfraud
1048543,402280,1,44,1,30071,10,0,62,1,highfraud
1048544,972471,2,36,1,30198,39,0,50,1,highfraud
1048548,746588,2,35,1,30363,30,0,50,1,highfraud
1048550,706163,1,45,1,30605,25,0,46,1,highfraud
1048555,318241,2,50,1,31093,8,0,44,1,highfraud
1048556,1012716,1,5,1,31114,47,0,37,1,highfraud
1048557,653651,2,48,1,31238,64,0,56,1,highfraud
1048558,515228,2,50,1,31892,10,0,32,1,highfraud
1048559,671345,1,29,1,31937,21,0,34,1,highfraud
1048560,564287,2,36,1,32000,32,0,31,1,highfraud
1048562,947209,1,19,1,32927,33,0,35,1,highfraud
1048563,804125,1,49,1,33000,41,0,32,1,highfraud
1048564,125717,2,44,1,33000,9,0,32,1,highfraud
1048568,188845,2,5,1,34785,14,0,38,1,highfraud
1048570,962370,1,46,1,35074,30,0,47,1,highfraud
1048574,471478,1,35,1,39725,61,0,41,1,highfraud

In [24]:
fraudseries1=fraud[['numTrans','numIntlTrans','balance','fraudRisk']]
fraudseries1.head()

   numTrans  numIntlTrans  balance  fraudRisk
0         2             4     3458          0
1         8            60     3458          0
2        13             1     3458          0
3        39             0     3458          0
4        27             0     3458          0

In [31]:
newseries=fraud.loc[(fraud['numIntlTrans']==0)&(fraud['fraudRisk']==0),'balance']
newseries

3           3458
4           3458
6           3458
7           3458
9           3458
11          3458
12          3458
13          3458
14          3458
17          3458
18          3458
19          3458
20          3458
23          3458
24          3458
25          3458
28          3458
30          3458
31          3458
32          3458
35          3458
36          3458
37          3458
38          3457
39          3457
40          3457
41          3457
42          3457
45          3457
46          3457
           ...
1047063    22000
1047074    22000
1047088    22000
1047089    22000
1047091    22000
1047096    22000
1047104    22000
1047106    22000
1047132    22000
1047138    22000
1047151    22000
1047160    22002
1047187    22064
1047190    22068
1047211    22117
1047238    22167
1047241    22186
1047249    22203
1047255    22225
1047369    22463
1047391    22522
1047443    22679
1047474    22764
1047496    22832
1047555    23000
1047612    23000
1047626    23002
1047710    23275
1047841    23806
1048256    25743
Name: balance, dtype: int64

In [35]:
newseries.sort(inplace=True)
pd.value_counts(newseries)

C:\Users\admin\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

0        158294
4000      42512
3000      36698
5000      34748
6000      26018
7000      18678
8000      13271
9000       9354
10000      6324
11000      4345
2000       4106
12000      2925
13000      1940
14000      1192
15000       729
16000       431
17000       243
18000       138
19000        72
1702         47
2569         45
496          45
1745         44
1035         44
104          43
1604         43
671          43
2669         43
2565         43
1033         43
          ...
14427         1
12378         1
14223         1
18517         1
14286         1
15962         1
18519         1
10638         1
14732         1
11866         1
13761         1
15448         1
12889         1
14936         1
16983         1
15107         1
19918         1
12226         1
12273         1
14937         1
14424         1
16471         1
18818         1
20865         1
12033         1
14082         1
10126         1
15449         1
13400         1
12468         1
Name: balance, dtype: int64

In [36]:
newseries.count()

566845

In [39]:
566845/600271

0.9443151509901361

In [75]:
newseries.max()

25743

In [42]:
fraud.max()

custID            1048575
gender                  2
state                  51
cardholder              2
balance             39725
numTrans              100
numIntlTrans           60
creditLine             75
fraudRisk               1
fraud           highfraud
dtype: object

In [44]:
25743/39725

0.6480302076777847

In [43]:
newseries1=fraud.loc[(fraud['numIntlTrans']==1)&(fraud['fraudRisk']==0),'balance']
newseries1

2           3458
21          3458
26          3458
29          3458
33          3458
48          3457
54          3457
65          3457
66          3457
91          3459
109         3459
116         3459
128         3459
141         3456
161         3456
198         3460
208         3460
290         3461
327         3454
328         3454
384         3462
406         3453
419         3453
429         3453
452         3453
472         3463
484         3463
505         3452
509         3452
519         3452
           ...
1044076    19000
1044329    19103
1044371    19144
1044524    19279
1044525    19280
1044639    19392
1044807    19566
1044946    19721
1045007    19786
1045027    19806
1045227    20000
1045332    20000
1045454    20000
1045487    20000
1045531    20000
1045554    20023
1045614    20092
1045655    20139
1045699    20184
1045814    20323
1045862    20394
1046111    20712
1046246    20909
1046489    21000
1046852    21601
1047048    22000
1047130    22000
1047149    22000
1047185    22055
1047493    22816
Name: balance, dtype: int64

In [ ]:
new

In [45]:
newseries1.count()

58802

In [46]:
newseries1.max()

22816

In [47]:
22816/39725

0.5743486469477659

In [71]:
58802/62353

0.9430500537263644

In [48]:
newseries2=fraud.loc[(fraud['numIntlTrans']==60)&(fraud['fraudRisk']==0),'balance']
newseries2

1           3458
435         3453
652         3465
1257        3444
1276        3472
1491        3441
1581        3440
1854        3437
1908        3479
2074        3435
2790        3427
2918        3490
3104        3492
3107        3492
3296        3494
3331        3421
3608        3497
3890        3415
4014        3502
4092        3413
5000        3513
5025        3513
6211        3526
6274        3389
6417        3387
6566        3530
6809        3533
7119        3379
7829        3372
7993        3370
           ...
1019774    13779
1020198    13848
1021541    14000
1021742    14000
1022156    14000
1022576    14000
1022947    14000
1023003    14000
1023333    14000
1023932    14000
1025562    14285
1025711    14312
1026113    14398
1027136    14627
1028329    14899
1028388    14912
1028821    15000
1029999    15000
1030093    15000
1030963    15004
1033225    15624
1033478    15699
1034299    15950
1034626    16000
1034721    16000
1036242    16103
1037348    16503
1037428    16540
1038116    16818
1041500    17982
Name: balance, dtype: int64

In [49]:
newseries2.count()

4577

In [70]:
4577/5317

0.8608237728042129

In [50]:
newseries2.max()

17982

In [51]:
17982/39725

0.4526620516047829

In [54]:
newseries3=fraud.loc[(fraud['numTrans']==0)&(fraud['fraudRisk']==0),'balance']
newseries3

1160        3445
3093        3424
4121        3503
6000        3392
7316        3377
8445        3550
8462        3365
8775        3554
9523        3562
10629       3574
10688       3575
10780       3576
10907       3338
11419       3583
11601       3585
11931       3589
12297       3593
14260       3614
14407       3300
14866       3621
15989       3282
16072       3281
16646       3641
16787       3273
17573       3264
18552       3662
19916       3238
20652       3685
21033       3689
22222       3213
           ...
1014057    13000
1014123    13000
1015477    13093
1015480    13093
1015798    13143
1016855    13310
1017938    13476
1018349    13542
1018407    13550
1018661    13591
1019958    13811
1022106    14000
1023407    14000
1024745    14118
1024861    14141
1025470    14265
1026558    14494
1030027    15000
1030818    15000
1031668    15197
1033277    15641
1033316    15651
1035498    16000
1036820    16315
1037130    16427
1037193    16448
1037526    16582
1038547    16989
1041620    18000
1042239    18020
Name: balance, dtype: int64

In [56]:
newseries3.count()

1417

In [57]:
1417/1448

0.9785911602209945

In [58]:
newseries3.max()

18020

In [59]:
18020/39725

0.45361862806796727

In [60]:
newseries4=fraud.loc[(fraud['numTrans']==1)&(fraud['fraudRisk']==0),'balance']
newseries4

6           3458
175         3460
564         3464
706         3450
721         3450
800         3449
823         3467
947         3468
1104        3470
1418        3442
1488        3441
1596        3440
1611        3440
1640        3476
1762        3438
1769        3438
1773        3438
1967        3436
1979        3436
2076        3435
2228        3433
2387        3484
2530        3430
2548        3486
2629        3487
2651        3487
2653        3487
2715        3488
3204        3493
3277        3422
           ...
1038914    17000
1038968    17000
1038973    17000
1039154    17000
1039185    17000
1039193    17000
1039194    17000
1039355    17000
1039807    17092
1039823    17098
1040741    17562
1041520    17995
1041642    18000
1041749    18000
1042071    18000
1042461    18152
1042555    18207
1043092    18540
1043531    18857
1043872    19000
1043935    19000
1044175    19000
1044289    19072
1044625    19380
1045001    19780
1045189    19956
1045314    20000
1045679    20159
1046338    21000
1047010    21916
Name: balance, dtype: int64

In [61]:
newseries4.count()

9591

In [62]:
9591/9781

0.980574583375933

In [63]:
newseries4.max()

21916

In [64]:
21916/39725

0.5516928886091882

In [65]:
newseries5=fraud.loc[(fraud['numTrans']==100)&(fraud['fraudRisk']==0),'balance']
newseries5

45          3457
69          3457
93          3459
137         3456
156         3456
188         3460
210         3455
245         3455
274         3461
307         3454
337         3454
350         3462
360         3462
373         3462
377         3462
390         3462
436         3453
515         3452
526         3452
532         3452
537         3452
571         3464
588         3451
631         3465
658         3465
668         3465
691         3450
717         3450
776         3449
805         3449
           ...
1023969    14000
1024004    14000
1024958    14162
1025178    14206
1025641    14299
1026430    14466
1026815    14552
1027027    14603
1027571    14729
1028310    14894
1028547    14948
1028827    15000
1028862    15000
1029166    15000
1029478    15000
1029690    15000
1029916    15000
1032224    15347
1032300    15365
1032371    15382
1034041    15869
1034062    15875
1034365    15974
1034666    16000
1036291    16119
1038691    17000
1039525    17000
1039721    17054
1043409    18763
1044039    19000
Name: balance, dtype: int64

In [66]:
newseries5.count()

42932

In [67]:
42932/56392

0.7613136615122712

In [68]:
newseries5.max()

19000

In [69]:
19000/39725

0.47828823159219636

The number of transactions of international is only 60 compared to national transactions which is 100. It can be 
inferred  that when international transactions increase from 0 to 60 the % count of transactions when fraud
risk is 0  decrease from 94% to 86% which is better than national transactions where the %  count of transactions
decrease from 97% to 76%. Also the value of transactions is more in international transactions. Thus it can be concluded
that international transactions are of much higher value and are comparitively safer than national transactions.

In [80]:
fraud.columns

Index(['custID', 'gender', 'state', 'cardholder', 'balance', 'numTrans',
       'numIntlTrans', 'creditLine', 'fraudRisk', 'fraud'],
      dtype='object')

In [82]:
fraudseries2=fraud.loc[(fraud['balance']>5000)&(fraud['creditLine']<3)]
fraudseries2.head()

Empty DataFrame
Columns: [custID, gender, state, cardholder, balance, numTrans, numIntlTrans, creditLine, fraudRisk, fraud]
Index: []

There is no customer whose balance exceeds 5000 and credit line less than 3

In [20]:
fraud38.max()

            fraudRisk
creditLine  0             8.470157
            1            26.618321
            All           9.529822
dtype: float64

In [212]:
fraud5=fraud.copy()
fraud5_mask=pd.DataFrame({'custID':[True]*1048575,'gender':[True]*1048575,'state':[True]*1048575,'cardholder':[True]*1048575,'balance':[True]*1048575,'numTrans':[False]*1048575,'numIntlTrans':[True]*1048575,'creditLine':[True]*1048575,'fraudRisk':[True]*1048575,'fraud':[True]*1048575})

In [213]:
fraud5.where(fraud5_mask,-1000)

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,-1000,4,7,0,no
1,94787,1,15,1,3458,-1000,60,17,0,no
2,974787,1,35,1,3458,-1000,1,3,0,no
3,350035,2,35,1,3458,-1000,0,6,0,no
4,158078,2,13,1,3458,-1000,0,25,0,no
5,76549,2,11,1,3458,-1000,2,3,0,no
6,34378,1,46,1,3458,-1000,0,3,0,no
7,789126,2,5,1,3458,-1000,0,17,0,no
8,449725,2,23,1,3458,-1000,9,4,0,no
9,21254,1,10,1,3458,-1000,0,3,0,no
10,416804,1,43,1,3458,-1000,4,3,0,no
11,419235,1,23,1,3458,-1000,0,3,0,no
12,673665,1,21,1,3458,-1000,0,8,0,no
13,325406,2,15,2,3458,-1000,0,7,0,no
14,207066,1,16,1,3458,-1000,0,15,0,no
15,99819,2,15,1,3458,-1000,7,3,0,no
16,959476,2,32,1,3458,-1000,39,4,0,no
17,326200,2,48,1,3458,-1000,0,4,0,no
18,393091,1,5,1,3458,-1000,0,4,0,no
19,946702,2,25,1,3458,-1000,0,30,0,no
20,5551,1,39,1,3458,-1000,0,4,0,no
21,392336,1,39,1,3458,-1000,1,3,0,no
22,344287,2,17,1,3458,-1000,8,4,0,no
23,956689,2,37,1,3458,-1000,0,4,0,no
24,772513,2,34,1,3458,-1000,0,39,0,no
25,852567,1,32,1,3458,-1000,0,17,0,no
26,95974,2,33,1,3458,-1000,1,3,0,no
27,684563,1,35,1,3458,-1000,7,18,0,no
28,380702,2,36,1,3458,-1000,0,7,0,no
29,881635,1,24,1,3458,-1000,1,12,0,no
...,...,...,...,...,...,...,...,...,...,...
1048545,138955,1,35,1,30228,-1000,1,39,1,yes
1048546,498967,1,5,1,30301,-1000,5,38,1,yes
1048547,93361,1,29,1,30344,-1000,4,40,1,yes
1048548,746588,2,35,1,30363,-1000,0,50,1,yes
1048549,1024503,2,14,1,30536,-1000,4,75,1,yes
1048550,706163,1,45,1,30605,-1000,0,46,1,yes
1048551,369762,2,10,1,30787,-1000,4,47,1,yes
1048552,749456,1,35,1,31000,-1000,4,30,1,yes
1048553,351746,1,5,1,31070,-1000,2,32,1,yes
1048554,554914,2,32,1,31076,-1000,5,46,1,yes
1048555,318241,2,50,1,31093,-1000,0,44,1,yes
1048556,1012716,1,5,1,31114,-1000,0,37,1,yes
1048557,653651,2,48,1,31238,-1000,0,56,1,yes
1048558,515228,2,50,1,31892,-1000,0,32,1,yes
1048559,671345,1,29,1,31937,-1000,0,34,1,yes
1048560,564287,2,36,1,32000,-1000,0,31,1,yes
1048561,600204,1,32,1,32553,-1000,1,75,1,yes
1048562,947209,1,19,1,32927,-1000,0,35,1,yes
1048563,804125,1,49,1,33000,-1000,0,32,1,yes
1048564,125717,2,44,1,33000,-1000,0,32,1,yes
1048565,650952,1,10,1,34000,-1000,13,33,1,yes
1048566,187154,2,37,1,34390,-1000,2,35,1,yes
1048567,378267,1,16,1,34737,-1000,4,38,1,yes
1048568,188845,2,5,1,34785,-1000,0,38,1,yes
1048569,753354,1,17,1,35039,-1000,4,39,1,yes
1048570,962370,1,46,1,35074,-1000,0,47,1,yes
1048571,1017216,2,3,1,35447,-1000,4,40,1,yes
1048572,887967,1,5,1,35982,-1000,4,43,1,yes
1048573,162445,2,39,1,39554,-1000,16,52,1,yes
1048574,471478,1,35,1,39725,-1000,0,41,1,yes

In [214]:
fraud.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no
1,94787,1,15,1,3458,8,60,17,0,no
2,974787,1,35,1,3458,13,1,3,0,no
3,350035,2,35,1,3458,39,0,6,0,no
4,158078,2,13,1,3458,27,0,25,0,no

In [215]:
fraud1.ix[fraud.balance<=3000,'fraud']='lowfraud'
fraud1
fraud1.ix[fraud.balance<=3000,['fraudRisk','fraud']]='lowfraud'
fraud1

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,highfraud
1,94787,1,15,1,3458,8,60,17,0,highfraud
2,974787,1,35,1,3458,13,1,3,0,highfraud
3,350035,2,35,1,3458,39,0,6,0,highfraud
4,158078,2,13,1,3458,27,0,25,0,highfraud
5,76549,2,11,1,3458,49,2,3,0,highfraud
6,34378,1,46,1,3458,1,0,3,0,highfraud
7,789126,2,5,1,3458,20,0,17,0,highfraud
8,449725,2,23,1,3458,39,9,4,0,highfraud
9,21254,1,10,1,3458,9,0,3,0,highfraud
10,416804,1,43,1,3458,2,4,3,0,highfraud
11,419235,1,23,1,3458,65,0,3,0,highfraud
12,673665,1,21,1,3458,5,0,8,0,highfraud
13,325406,2,15,2,3458,14,0,7,0,highfraud
14,207066,1,16,1,3458,19,0,15,0,highfraud
15,99819,2,15,1,3458,9,7,3,0,highfraud
16,959476,2,32,1,3458,81,39,4,0,highfraud
17,326200,2,48,1,3458,22,0,4,0,highfraud
18,393091,1,5,1,3458,21,0,4,0,highfraud
19,946702,2,25,1,3458,23,0,30,0,highfraud
20,5551,1,39,1,3458,25,0,4,0,highfraud
21,392336,1,39,1,3458,44,1,3,0,highfraud
22,344287,2,17,1,3458,26,8,4,0,highfraud
23,956689,2,37,1,3458,22,0,4,0,highfraud
24,772513,2,34,1,3458,17,0,39,0,highfraud
25,852567,1,32,1,3458,7,0,17,0,highfraud
26,95974,2,33,1,3458,9,1,3,0,highfraud
27,684563,1,35,1,3458,24,7,18,0,highfraud
28,380702,2,36,1,3458,12,0,7,0,highfraud
29,881635,1,24,1,3458,26,1,12,0,highfraud
...,...,...,...,...,...,...,...,...,...,...
1048545,138955,1,35,1,30228,7,1,39,1,highfraud
1048546,498967,1,5,1,30301,26,5,38,1,highfraud
1048547,93361,1,29,1,30344,8,4,40,1,highfraud
1048548,746588,2,35,1,30363,30,0,50,1,highfraud
1048549,1024503,2,14,1,30536,6,4,75,1,highfraud
1048550,706163,1,45,1,30605,25,0,46,1,highfraud
1048551,369762,2,10,1,30787,35,4,47,1,highfraud
1048552,749456,1,35,1,31000,11,4,30,1,highfraud
1048553,351746,1,5,1,31070,13,2,32,1,highfraud
1048554,554914,2,32,1,31076,42,5,46,1,highfraud
1048555,318241,2,50,1,31093,8,0,44,1,highfraud
1048556,1012716,1,5,1,31114,47,0,37,1,highfraud
1048557,653651,2,48,1,31238,64,0,56,1,highfraud
1048558,515228,2,50,1,31892,10,0,32,1,highfraud
1048559,671345,1,29,1,31937,21,0,34,1,highfraud
1048560,564287,2,36,1,32000,32,0,31,1,highfraud
1048561,600204,1,32,1,32553,16,1,75,1,highfraud
1048562,947209,1,19,1,32927,33,0,35,1,highfraud
1048563,804125,1,49,1,33000,41,0,32,1,highfraud
1048564,125717,2,44,1,33000,9,0,32,1,highfraud
1048565,650952,1,10,1,34000,37,13,33,1,highfraud
1048566,187154,2,37,1,34390,8,2,35,1,highfraud
1048567,378267,1,16,1,34737,16,4,38,1,highfraud
1048568,188845,2,5,1,34785,14,0,38,1,highfraud
1048569,753354,1,17,1,35039,100,4,39,1,highfraud
1048570,962370,1,46,1,35074,30,0,47,1,highfraud
1048571,1017216,2,3,1,35447,9,4,40,1,highfraud
1048572,887967,1,5,1,35982,70,4,43,1,highfraud
1048573,162445,2,39,1,39554,6,16,52,1,highfraud
1048574,471478,1,35,1,39725,61,0,41,1,highfraud

In [216]:
fraud7=(fraud.iloc[0:,0:10])

In [217]:
fraud7

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no
1,94787,1,15,1,3458,8,60,17,0,no
2,974787,1,35,1,3458,13,1,3,0,no
3,350035,2,35,1,3458,39,0,6,0,no
4,158078,2,13,1,3458,27,0,25,0,no
5,76549,2,11,1,3458,49,2,3,0,no
6,34378,1,46,1,3458,1,0,3,0,no
7,789126,2,5,1,3458,20,0,17,0,no
8,449725,2,23,1,3458,39,9,4,0,no
9,21254,1,10,1,3458,9,0,3,0,no
10,416804,1,43,1,3458,2,4,3,0,no
11,419235,1,23,1,3458,65,0,3,0,no
12,673665,1,21,1,3458,5,0,8,0,no
13,325406,2,15,2,3458,14,0,7,0,no
14,207066,1,16,1,3458,19,0,15,0,no
15,99819,2,15,1,3458,9,7,3,0,no
16,959476,2,32,1,3458,81,39,4,0,no
17,326200,2,48,1,3458,22,0,4,0,no
18,393091,1,5,1,3458,21,0,4,0,no
19,946702,2,25,1,3458,23,0,30,0,no
20,5551,1,39,1,3458,25,0,4,0,no
21,392336,1,39,1,3458,44,1,3,0,no
22,344287,2,17,1,3458,26,8,4,0,no
23,956689,2,37,1,3458,22,0,4,0,no
24,772513,2,34,1,3458,17,0,39,0,no
25,852567,1,32,1,3458,7,0,17,0,no
26,95974,2,33,1,3458,9,1,3,0,no
27,684563,1,35,1,3458,24,7,18,0,no
28,380702,2,36,1,3458,12,0,7,0,no
29,881635,1,24,1,3458,26,1,12,0,no
...,...,...,...,...,...,...,...,...,...,...
1048545,138955,1,35,1,30228,7,1,39,1,yes
1048546,498967,1,5,1,30301,26,5,38,1,yes
1048547,93361,1,29,1,30344,8,4,40,1,yes
1048548,746588,2,35,1,30363,30,0,50,1,yes
1048549,1024503,2,14,1,30536,6,4,75,1,yes
1048550,706163,1,45,1,30605,25,0,46,1,yes
1048551,369762,2,10,1,30787,35,4,47,1,yes
1048552,749456,1,35,1,31000,11,4,30,1,yes
1048553,351746,1,5,1,31070,13,2,32,1,yes
1048554,554914,2,32,1,31076,42,5,46,1,yes
1048555,318241,2,50,1,31093,8,0,44,1,yes
1048556,1012716,1,5,1,31114,47,0,37,1,yes
1048557,653651,2,48,1,31238,64,0,56,1,yes
1048558,515228,2,50,1,31892,10,0,32,1,yes
1048559,671345,1,29,1,31937,21,0,34,1,yes
1048560,564287,2,36,1,32000,32,0,31,1,yes
1048561,600204,1,32,1,32553,16,1,75,1,yes
1048562,947209,1,19,1,32927,33,0,35,1,yes
1048563,804125,1,49,1,33000,41,0,32,1,yes
1048564,125717,2,44,1,33000,9,0,32,1,yes
1048565,650952,1,10,1,34000,37,13,33,1,yes
1048566,187154,2,37,1,34390,8,2,35,1,yes
1048567,378267,1,16,1,34737,16,4,38,1,yes
1048568,188845,2,5,1,34785,14,0,38,1,yes
1048569,753354,1,17,1,35039,100,4,39,1,yes
1048570,962370,1,46,1,35074,30,0,47,1,yes
1048571,1017216,2,3,1,35447,9,4,40,1,yes
1048572,887967,1,5,1,35982,70,4,43,1,yes
1048573,162445,2,39,1,39554,6,16,52,1,yes
1048574,471478,1,35,1,39725,61,0,41,1,yes

In [218]:
fraud7.shape

(1048575, 10)

In [219]:
fraud2.head()

83     yes
84     yes
164    yes
166    yes
276    yes
Name: fraud, dtype: object

In [220]:
fraud8=fraud1.loc[(fraud1['balance']>3000)&(fraud1['gender']==1)&(fraud1['fraudRisk']==0)]

In [221]:
fraud8

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
1,94787,1,15,1,3458,8,60,17,0,highfraud
2,974787,1,35,1,3458,13,1,3,0,highfraud
6,34378,1,46,1,3458,1,0,3,0,highfraud
9,21254,1,10,1,3458,9,0,3,0,highfraud
10,416804,1,43,1,3458,2,4,3,0,highfraud
11,419235,1,23,1,3458,65,0,3,0,highfraud
12,673665,1,21,1,3458,5,0,8,0,highfraud
14,207066,1,16,1,3458,19,0,15,0,highfraud
18,393091,1,5,1,3458,21,0,4,0,highfraud
20,5551,1,39,1,3458,25,0,4,0,highfraud
21,392336,1,39,1,3458,44,1,3,0,highfraud
25,852567,1,32,1,3458,7,0,17,0,highfraud
27,684563,1,35,1,3458,24,7,18,0,highfraud
29,881635,1,24,1,3458,26,1,12,0,highfraud
30,452015,1,7,1,3458,7,0,5,0,highfraud
31,572327,1,10,1,3458,29,0,3,0,highfraud
32,140458,1,5,1,3458,60,0,3,0,highfraud
33,609632,1,42,1,3458,15,1,11,0,highfraud
35,100538,1,22,2,3458,15,0,10,0,highfraud
36,442642,1,46,1,3458,25,0,19,0,highfraud
37,502657,1,37,1,3458,51,0,9,0,highfraud
39,40364,1,36,1,3457,61,0,3,0,highfraud
40,944265,1,20,1,3457,15,0,6,0,highfraud
41,1041544,1,5,1,3457,11,0,7,0,highfraud
42,58552,1,3,1,3457,32,0,4,0,highfraud
44,131411,1,44,1,3457,6,3,7,0,highfraud
45,232114,1,25,1,3457,100,0,18,0,highfraud
48,319480,1,7,1,3457,16,1,7,0,highfraud
49,662650,1,14,1,3457,21,0,6,0,highfraud
51,853493,1,36,1,3457,11,0,12,0,highfraud
...,...,...,...,...,...,...,...,...,...,...
1047132,217482,1,33,1,22000,10,0,21,0,highfraud
1047138,285169,1,10,1,22000,3,0,21,0,highfraud
1047151,72266,1,15,1,22000,28,0,21,0,highfraud
1047154,99030,1,43,1,22000,3,3,21,0,highfraud
1047185,457670,1,25,1,22055,6,1,36,0,highfraud
1047187,878698,1,11,1,22064,54,0,22,0,highfraud
1047190,173078,1,29,1,22068,3,0,29,0,highfraud
1047211,791431,1,16,1,22117,37,0,23,0,highfraud
1047238,620150,1,40,1,22167,5,0,23,0,highfraud
1047240,12004,1,10,1,22185,40,24,22,0,highfraud
1047249,256432,1,5,1,22203,21,0,30,0,highfraud
1047250,378938,1,25,1,22205,40,4,28,0,highfraud
1047255,423342,1,7,1,22225,12,0,23,0,highfraud
1047369,1773,1,5,1,22463,23,0,34,0,highfraud
1047391,483764,1,35,1,22522,13,0,32,0,highfraud
1047443,565857,1,43,1,22679,6,0,29,0,highfraud
1047474,653574,1,4,1,22764,2,0,22,0,highfraud
1047496,957469,1,44,1,22832,28,0,30,0,highfraud
1047523,89610,1,46,1,22918,26,4,23,0,highfraud
1047555,574295,1,48,1,23000,18,0,22,0,highfraud
1047579,320513,1,44,1,23000,11,3,22,0,highfraud
1047593,531619,1,16,1,23000,13,12,22,0,highfraud
1047624,864807,1,24,1,23000,4,10,22,0,highfraud
1047626,1045198,1,39,1,23002,3,0,23,0,highfraud
1047708,291524,1,44,1,23265,12,4,24,0,highfraud
1047710,9449,1,43,1,23275,17,0,23,0,highfraud
1047757,640459,1,35,1,23463,9,7,26,0,highfraud
1047818,118766,1,37,1,23707,14,4,28,0,highfraud
1047841,268393,1,10,1,23806,33,0,31,0,highfraud
1048009,987559,1,35,1,24321,31,4,36,0,highfraud

In [222]:
fraud8[(fraud8.balance>4000)&(fraud8.index.isin([280000,285789]))]

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
285789,323687,1,15,1,5000,5,23,4,0,highfraud

In [223]:
fraud9=fraud.copy()
fraud9

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no
1,94787,1,15,1,3458,8,60,17,0,no
2,974787,1,35,1,3458,13,1,3,0,no
3,350035,2,35,1,3458,39,0,6,0,no
4,158078,2,13,1,3458,27,0,25,0,no
5,76549,2,11,1,3458,49,2,3,0,no
6,34378,1,46,1,3458,1,0,3,0,no
7,789126,2,5,1,3458,20,0,17,0,no
8,449725,2,23,1,3458,39,9,4,0,no
9,21254,1,10,1,3458,9,0,3,0,no
10,416804,1,43,1,3458,2,4,3,0,no
11,419235,1,23,1,3458,65,0,3,0,no
12,673665,1,21,1,3458,5,0,8,0,no
13,325406,2,15,2,3458,14,0,7,0,no
14,207066,1,16,1,3458,19,0,15,0,no
15,99819,2,15,1,3458,9,7,3,0,no
16,959476,2,32,1,3458,81,39,4,0,no
17,326200,2,48,1,3458,22,0,4,0,no
18,393091,1,5,1,3458,21,0,4,0,no
19,946702,2,25,1,3458,23,0,30,0,no
20,5551,1,39,1,3458,25,0,4,0,no
21,392336,1,39,1,3458,44,1,3,0,no
22,344287,2,17,1,3458,26,8,4,0,no
23,956689,2,37,1,3458,22,0,4,0,no
24,772513,2,34,1,3458,17,0,39,0,no
25,852567,1,32,1,3458,7,0,17,0,no
26,95974,2,33,1,3458,9,1,3,0,no
27,684563,1,35,1,3458,24,7,18,0,no
28,380702,2,36,1,3458,12,0,7,0,no
29,881635,1,24,1,3458,26,1,12,0,no
...,...,...,...,...,...,...,...,...,...,...
1048545,138955,1,35,1,30228,7,1,39,1,yes
1048546,498967,1,5,1,30301,26,5,38,1,yes
1048547,93361,1,29,1,30344,8,4,40,1,yes
1048548,746588,2,35,1,30363,30,0,50,1,yes
1048549,1024503,2,14,1,30536,6,4,75,1,yes
1048550,706163,1,45,1,30605,25,0,46,1,yes
1048551,369762,2,10,1,30787,35,4,47,1,yes
1048552,749456,1,35,1,31000,11,4,30,1,yes
1048553,351746,1,5,1,31070,13,2,32,1,yes
1048554,554914,2,32,1,31076,42,5,46,1,yes
1048555,318241,2,50,1,31093,8,0,44,1,yes
1048556,1012716,1,5,1,31114,47,0,37,1,yes
1048557,653651,2,48,1,31238,64,0,56,1,yes
1048558,515228,2,50,1,31892,10,0,32,1,yes
1048559,671345,1,29,1,31937,21,0,34,1,yes
1048560,564287,2,36,1,32000,32,0,31,1,yes
1048561,600204,1,32,1,32553,16,1,75,1,yes
1048562,947209,1,19,1,32927,33,0,35,1,yes
1048563,804125,1,49,1,33000,41,0,32,1,yes
1048564,125717,2,44,1,33000,9,0,32,1,yes
1048565,650952,1,10,1,34000,37,13,33,1,yes
1048566,187154,2,37,1,34390,8,2,35,1,yes
1048567,378267,1,16,1,34737,16,4,38,1,yes
1048568,188845,2,5,1,34785,14,0,38,1,yes
1048569,753354,1,17,1,35039,100,4,39,1,yes
1048570,962370,1,46,1,35074,30,0,47,1,yes
1048571,1017216,2,3,1,35447,9,4,40,1,yes
1048572,887967,1,5,1,35982,70,4,43,1,yes
1048573,162445,2,39,1,39554,6,16,52,1,yes
1048574,471478,1,35,1,39725,61,0,41,1,yes

In [224]:
df=pd.DataFrame(data=fraud9,index=['foo','bar','boo'])

In [225]:
df.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
foo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
boo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [226]:
fraud9.loc[fraud9.balance>3000,'balance1']='high'

In [227]:
fraud9.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud,balance1
0,672708,2,18,1,3458,2,4,7,0,no,high
1,94787,1,15,1,3458,8,60,17,0,no,high
2,974787,1,35,1,3458,13,1,3,0,no,high
3,350035,2,35,1,3458,39,0,6,0,no,high
4,158078,2,13,1,3458,27,0,25,0,no,high

In [228]:
fraud9.shape

(1048575, 11)

In [229]:
fraud.iloc[100:158077,1:9]

,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
100,1,18,1,3459,15,5,31,0
101,2,43,1,3459,5,8,7,0
102,1,5,1,3459,86,5,11,0
103,2,29,1,3459,49,12,6,0
104,2,34,1,3459,29,0,6,0
105,1,35,1,3459,19,0,3,0
106,1,26,1,3459,9,0,9,0
107,1,26,1,3459,20,0,3,0
108,2,11,1,3459,7,0,5,0
109,1,29,1,3459,6,1,4,0
110,1,48,1,3459,4,0,4,0
111,2,25,1,3459,23,0,9,0
112,2,16,1,3459,13,0,6,0
113,2,29,1,3459,35,0,26,0
114,1,19,1,3459,7,2,3,0
115,2,23,1,3459,19,0,4,0
116,2,5,1,3459,25,1,5,0
117,2,39,1,3459,17,0,14,0
118,1,2,1,3459,4,10,15,0
119,1,5,1,3459,5,2,7,0
120,1,44,1,3459,3,2,3,0
121,2,36,1,3459,4,0,18,0
122,1,32,1,3459,28,7,27,0
123,2,33,1,3459,5,0,7,0
124,1,38,1,3459,32,20,14,0
125,2,35,1,3459,11,3,3,0
126,2,5,1,3459,71,18,5,0
127,1,20,1,3459,16,29,17,0
128,1,43,1,3459,46,1,4,0
129,2,33,1,3459,9,0,4,0
...,...,...,...,...,...,...,...,...
158047,1,11,1,4000,9,60,3,0
158048,2,11,1,4000,56,34,3,0
158049,2,35,1,4000,10,20,3,0
158050,1,44,1,4000,10,4,3,0
158051,2,39,1,4000,19,3,3,0
158052,1,16,1,4000,48,0,3,0
158053,1,35,1,4000,100,0,3,0
158054,2,38,1,4000,7,0,3,0
158055,1,29,1,4000,3,26,3,0
158056,2,14,1,4000,8,0,3,0
158057,1,21,1,4000,40,0,3,0
158058,1,35,2,4000,4,0,3,0
158059,1,19,1,4000,57,0,3,0
158060,2,21,1,4000,13,6,3,0
158061,1,15,1,4000,6,1,3,0
158062,1,35,1,4000,25,4,3,0
158063,1,44,1,4000,33,0,3,0
158064,2,35,1,4000,39,0,3,0
158065,1,35,1,4000,34,6,3,0
158066,1,48,1,4000,21,0,3,0
158067,2,39,1,4000,59,0,3,0
158068,1,6,1,4000,28,6,3,0
158069,2,43,1,4000,79,1,3,0
158070,1,6,1,4000,3,0,3,0
158071,2,46,1,4000,10,1,3,0
158072,2,10,1,4000,14,41,3,0
158073,1,44,1,4000,53,0,3,0
158074,1,36,1,4000,27,0,3,0
158075,2,36,1,4000,60,0,3,0
158076,1,10,1,4000,5,0,3,0

In [230]:
fraud.ix[:0,:]

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no

In [231]:
fraud.ix[:0,]

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no

In [232]:
fraud.ix[:,0,]

0           672708
1            94787
2           974787
3           350035
4           158078
5            76549
6            34378
7           789126
8           449725
9            21254
10          416804
11          419235
12          673665
13          325406
14          207066
15           99819
16          959476
17          326200
18          393091
19          946702
20            5551
21          392336
22          344287
23          956689
24          772513
25          852567
26           95974
27          684563
28          380702
29          881635
            ...
1048545     138955
1048546     498967
1048547      93361
1048548     746588
1048549    1024503
1048550     706163
1048551     369762
1048552     749456
1048553     351746
1048554     554914
1048555     318241
1048556    1012716
1048557     653651
1048558     515228
1048559     671345
1048560     564287
1048561     600204
1048562     947209
1048563     804125
1048564     125717
1048565     650952
1048566     187154
1048567     378267
1048568     188845
1048569     753354
1048570     962370
1048571    1017216
1048572     887967
1048573     162445
1048574     471478
Name: custID, dtype: int64

In [233]:
fraud[['balance','fraud']].head(10)

   balance fraud
0     3458    no
1     3458    no
2     3458    no
3     3458    no
4     3458    no
5     3458    no
6     3458    no
7     3458    no
8     3458    no
9     3458    no

In [234]:
fraud9.drop(fraud.index[[0,100]]).head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud,balance1
1,94787,1,15,1,3458,8,60,17,0,no,high
2,974787,1,35,1,3458,13,1,3,0,no,high
3,350035,2,35,1,3458,39,0,6,0,no,high
4,158078,2,13,1,3458,27,0,25,0,no,high
5,76549,2,11,1,3458,49,2,3,0,no,high

In [235]:
s=pd.Series(range(0,100))

In [236]:
fraud9.drop(fraud9.index[[s]]).head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud,balance1
100,615880,1,18,1,3459,15,5,31,0,no,high
101,193363,2,43,1,3459,5,8,7,0,no,high
102,412151,1,5,1,3459,86,5,11,0,no,high
103,298328,2,29,1,3459,49,12,6,0,no,high
104,613914,2,34,1,3459,29,0,6,0,no,high

In [237]:
s=pd.Series(range(0,100))

In [238]:
fraud5[~(fraud5.fraudRisk==0)&(fraud5.index.isin([s]))]

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
83,937825,1,5,1,3459,23,0,75,1,yes
84,708869,1,25,1,3459,99,0,7,1,yes

In [239]:
fraud5[(fraud5.fraudRisk==0)&(fraud5.index.isin([s]))]

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no
1,94787,1,15,1,3458,8,60,17,0,no
2,974787,1,35,1,3458,13,1,3,0,no
3,350035,2,35,1,3458,39,0,6,0,no
4,158078,2,13,1,3458,27,0,25,0,no
5,76549,2,11,1,3458,49,2,3,0,no
6,34378,1,46,1,3458,1,0,3,0,no
7,789126,2,5,1,3458,20,0,17,0,no
8,449725,2,23,1,3458,39,9,4,0,no
9,21254,1,10,1,3458,9,0,3,0,no
10,416804,1,43,1,3458,2,4,3,0,no
11,419235,1,23,1,3458,65,0,3,0,no
12,673665,1,21,1,3458,5,0,8,0,no
13,325406,2,15,2,3458,14,0,7,0,no
14,207066,1,16,1,3458,19,0,15,0,no
15,99819,2,15,1,3458,9,7,3,0,no
16,959476,2,32,1,3458,81,39,4,0,no
17,326200,2,48,1,3458,22,0,4,0,no
18,393091,1,5,1,3458,21,0,4,0,no
19,946702,2,25,1,3458,23,0,30,0,no
20,5551,1,39,1,3458,25,0,4,0,no
21,392336,1,39,1,3458,44,1,3,0,no
22,344287,2,17,1,3458,26,8,4,0,no
23,956689,2,37,1,3458,22,0,4,0,no
24,772513,2,34,1,3458,17,0,39,0,no
25,852567,1,32,1,3458,7,0,17,0,no
26,95974,2,33,1,3458,9,1,3,0,no
27,684563,1,35,1,3458,24,7,18,0,no
28,380702,2,36,1,3458,12,0,7,0,no
29,881635,1,24,1,3458,26,1,12,0,no
...,...,...,...,...,...,...,...,...,...,...
68,985889,2,10,1,3457,3,7,6,0,no
69,962502,2,35,1,3457,100,0,11,0,no
70,256834,1,48,1,3457,6,0,5,0,no
71,1010872,1,10,1,3457,76,0,6,0,no
72,987176,1,35,1,3457,9,4,14,0,no
73,287892,1,16,1,3457,17,0,14,0,no
74,392667,1,35,1,3457,45,0,7,0,no
75,304894,1,25,1,3457,30,3,15,0,no
76,634679,1,23,1,3457,19,0,4,0,no
77,156298,1,20,1,3457,7,0,16,0,no
78,890847,2,15,1,3457,44,0,6,0,no
79,1044434,2,39,1,3457,16,0,6,0,no
80,553131,2,50,1,3459,12,0,5,0,no
81,251961,1,5,1,3459,7,0,19,0,no
82,855350,1,38,1,3459,8,2,4,0,no
85,215158,1,37,1,3459,25,20,18,0,no
86,790367,2,15,1,3459,4,32,28,0,no
87,674477,1,15,1,3459,44,5,16,0,no
88,300318,2,29,1,3459,17,0,6,0,no
89,179259,2,16,1,3459,12,2,4,0,no
90,270557,1,20,1,3459,8,0,7,0,no
91,604968,2,2,2,3459,55,1,32,0,no
92,66161,2,19,1,3459,4,0,13,0,no
93,812341,1,4,1,3459,100,0,11,0,no
94,248155,1,10,1,3459,13,2,4,0,no
95,426885,1,36,2,3459,75,2,3,0,no
96,756855,2,16,1,3459,23,0,8,0,no
97,901966,2,41,1,3459,13,0,11,0,no
98,734388,2,39,1,3459,23,0,9,0,no
99,486210,2,5,1,3459,12,0,3,0,no

In [240]:
fraud.head(100)

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no
1,94787,1,15,1,3458,8,60,17,0,no
2,974787,1,35,1,3458,13,1,3,0,no
3,350035,2,35,1,3458,39,0,6,0,no
4,158078,2,13,1,3458,27,0,25,0,no
5,76549,2,11,1,3458,49,2,3,0,no
6,34378,1,46,1,3458,1,0,3,0,no
7,789126,2,5,1,3458,20,0,17,0,no
8,449725,2,23,1,3458,39,9,4,0,no
9,21254,1,10,1,3458,9,0,3,0,no
10,416804,1,43,1,3458,2,4,3,0,no
11,419235,1,23,1,3458,65,0,3,0,no
12,673665,1,21,1,3458,5,0,8,0,no
13,325406,2,15,2,3458,14,0,7,0,no
14,207066,1,16,1,3458,19,0,15,0,no
15,99819,2,15,1,3458,9,7,3,0,no
16,959476,2,32,1,3458,81,39,4,0,no
17,326200,2,48,1,3458,22,0,4,0,no
18,393091,1,5,1,3458,21,0,4,0,no
19,946702,2,25,1,3458,23,0,30,0,no
20,5551,1,39,1,3458,25,0,4,0,no
21,392336,1,39,1,3458,44,1,3,0,no
22,344287,2,17,1,3458,26,8,4,0,no
23,956689,2,37,1,3458,22,0,4,0,no
24,772513,2,34,1,3458,17,0,39,0,no
25,852567,1,32,1,3458,7,0,17,0,no
26,95974,2,33,1,3458,9,1,3,0,no
27,684563,1,35,1,3458,24,7,18,0,no
28,380702,2,36,1,3458,12,0,7,0,no
29,881635,1,24,1,3458,26,1,12,0,no
...,...,...,...,...,...,...,...,...,...,...
70,256834,1,48,1,3457,6,0,5,0,no
71,1010872,1,10,1,3457,76,0,6,0,no
72,987176,1,35,1,3457,9,4,14,0,no
73,287892,1,16,1,3457,17,0,14,0,no
74,392667,1,35,1,3457,45,0,7,0,no
75,304894,1,25,1,3457,30,3,15,0,no
76,634679,1,23,1,3457,19,0,4,0,no
77,156298,1,20,1,3457,7,0,16,0,no
78,890847,2,15,1,3457,44,0,6,0,no
79,1044434,2,39,1,3457,16,0,6,0,no
80,553131,2,50,1,3459,12,0,5,0,no
81,251961,1,5,1,3459,7,0,19,0,no
82,855350,1,38,1,3459,8,2,4,0,no
83,937825,1,5,1,3459,23,0,75,1,yes
84,708869,1,25,1,3459,99,0,7,1,yes
85,215158,1,37,1,3459,25,20,18,0,no
86,790367,2,15,1,3459,4,32,28,0,no
87,674477,1,15,1,3459,44,5,16,0,no
88,300318,2,29,1,3459,17,0,6,0,no
89,179259,2,16,1,3459,12,2,4,0,no
90,270557,1,20,1,3459,8,0,7,0,no
91,604968,2,2,2,3459,55,1,32,0,no
92,66161,2,19,1,3459,4,0,13,0,no
93,812341,1,4,1,3459,100,0,11,0,no
94,248155,1,10,1,3459,13,2,4,0,no
95,426885,1,36,2,3459,75,2,3,0,no
96,756855,2,16,1,3459,23,0,8,0,no
97,901966,2,41,1,3459,13,0,11,0,no
98,734388,2,39,1,3459,23,0,9,0,no
99,486210,2,5,1,3459,12,0,3,0,no

In [241]:
fraud10=fraud.copy()
fraud10

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no
1,94787,1,15,1,3458,8,60,17,0,no
2,974787,1,35,1,3458,13,1,3,0,no
3,350035,2,35,1,3458,39,0,6,0,no
4,158078,2,13,1,3458,27,0,25,0,no
5,76549,2,11,1,3458,49,2,3,0,no
6,34378,1,46,1,3458,1,0,3,0,no
7,789126,2,5,1,3458,20,0,17,0,no
8,449725,2,23,1,3458,39,9,4,0,no
9,21254,1,10,1,3458,9,0,3,0,no
10,416804,1,43,1,3458,2,4,3,0,no
11,419235,1,23,1,3458,65,0,3,0,no
12,673665,1,21,1,3458,5,0,8,0,no
13,325406,2,15,2,3458,14,0,7,0,no
14,207066,1,16,1,3458,19,0,15,0,no
15,99819,2,15,1,3458,9,7,3,0,no
16,959476,2,32,1,3458,81,39,4,0,no
17,326200,2,48,1,3458,22,0,4,0,no
18,393091,1,5,1,3458,21,0,4,0,no
19,946702,2,25,1,3458,23,0,30,0,no
20,5551,1,39,1,3458,25,0,4,0,no
21,392336,1,39,1,3458,44,1,3,0,no
22,344287,2,17,1,3458,26,8,4,0,no
23,956689,2,37,1,3458,22,0,4,0,no
24,772513,2,34,1,3458,17,0,39,0,no
25,852567,1,32,1,3458,7,0,17,0,no
26,95974,2,33,1,3458,9,1,3,0,no
27,684563,1,35,1,3458,24,7,18,0,no
28,380702,2,36,1,3458,12,0,7,0,no
29,881635,1,24,1,3458,26,1,12,0,no
...,...,...,...,...,...,...,...,...,...,...
1048545,138955,1,35,1,30228,7,1,39,1,yes
1048546,498967,1,5,1,30301,26,5,38,1,yes
1048547,93361,1,29,1,30344,8,4,40,1,yes
1048548,746588,2,35,1,30363,30,0,50,1,yes
1048549,1024503,2,14,1,30536,6,4,75,1,yes
1048550,706163,1,45,1,30605,25,0,46,1,yes
1048551,369762,2,10,1,30787,35,4,47,1,yes
1048552,749456,1,35,1,31000,11,4,30,1,yes
1048553,351746,1,5,1,31070,13,2,32,1,yes
1048554,554914,2,32,1,31076,42,5,46,1,yes
1048555,318241,2,50,1,31093,8,0,44,1,yes
1048556,1012716,1,5,1,31114,47,0,37,1,yes
1048557,653651,2,48,1,31238,64,0,56,1,yes
1048558,515228,2,50,1,31892,10,0,32,1,yes
1048559,671345,1,29,1,31937,21,0,34,1,yes
1048560,564287,2,36,1,32000,32,0,31,1,yes
1048561,600204,1,32,1,32553,16,1,75,1,yes
1048562,947209,1,19,1,32927,33,0,35,1,yes
1048563,804125,1,49,1,33000,41,0,32,1,yes
1048564,125717,2,44,1,33000,9,0,32,1,yes
1048565,650952,1,10,1,34000,37,13,33,1,yes
1048566,187154,2,37,1,34390,8,2,35,1,yes
1048567,378267,1,16,1,34737,16,4,38,1,yes
1048568,188845,2,5,1,34785,14,0,38,1,yes
1048569,753354,1,17,1,35039,100,4,39,1,yes
1048570,962370,1,46,1,35074,30,0,47,1,yes
1048571,1017216,2,3,1,35447,9,4,40,1,yes
1048572,887967,1,5,1,35982,70,4,43,1,yes
1048573,162445,2,39,1,39554,6,16,52,1,yes
1048574,471478,1,35,1,39725,61,0,41,1,yes

In [242]:
fraud10=fraud.iloc[0:10,:2]

In [243]:
fraud10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
custID    10 non-null int64
gender    10 non-null int64
dtypes: int64(2)
memory usage: 240.0 bytes

In [244]:
fraud10

   custID  gender
0  672708       2
1   94787       1
2  974787       1
3  350035       2
4  158078       2
5   76549       2
6   34378       1
7  789126       2
8  449725       2
9   21254       1

In [245]:
fraudsource_cols=fraud10.columns
new_cols=[str(x)+"_fraud"for x in fraudsource_cols]
categories={1:'male',2:'female'}
fraud10[new_cols]=fraud10[fraudsource_cols].applymap(categories.get)

In [73]:
fraud10

   custID  gender custID_fraud gender_fraud
0  672708       2         None       female
1   94787       1         None         male
2  974787       1         None         male
3  350035       2         None       female
4  158078       2         None       female
5   76549       2         None       female
6   34378       1         None         male
7  789126       2         None       female
8  449725       2         None       female
9   21254       1         None         male

In [246]:
fraud.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no
1,94787,1,15,1,3458,8,60,17,0,no
2,974787,1,35,1,3458,13,1,3,0,no
3,350035,2,35,1,3458,39,0,6,0,no
4,158078,2,13,1,3458,27,0,25,0,no

In [247]:
fraud.columns

Index(['custID', 'gender', 'state', 'cardholder', 'balance', 'numTrans',
       'numIntlTrans', 'creditLine', 'fraudRisk', 'fraud'],
      dtype='object')

In [248]:
fraud.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk,fraud
0,672708,2,18,1,3458,2,4,7,0,no
1,94787,1,15,1,3458,8,60,17,0,no
2,974787,1,35,1,3458,13,1,3,0,no
3,350035,2,35,1,3458,39,0,6,0,no
4,158078,2,13,1,3458,27,0,25,0,no

In [249]:
fraud.drop(fraud.columns[[9]], axis=1, inplace=True)

In [78]:
fraud.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,672708,2,18,1,3458,2,4,7,0
1,94787,1,15,1,3458,8,60,17,0
2,974787,1,35,1,3458,13,1,3,0
3,350035,2,35,1,3458,39,0,6,0
4,158078,2,13,1,3458,27,0,25,0

In [250]:
import numpy as np
pt=np.random.randn(100,4)
cols=['A','B','C']

In [251]:
fraud10

   custID  gender custID_fraud gender_fraud
0  672708       2         None       female
1   94787       1         None         male
2  974787       1         None         male
3  350035       2         None       female
4  158078       2         None       female
5   76549       2         None       female
6   34378       1         None         male
7  789126       2         None       female
8  449725       2         None       female
9   21254       1         None         male

In [252]:
df1,df2=pd.DataFrame(fraud10,pt,cols),pd.DataFrame(fraud10,pt,cols)

In [253]:
pf=pd.Panel({'df1':df1,'df2':df2})
pf=pf.transpose(2,0,1)
pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 2 (major_axis) x 100 (minor_axis)
Items axis: A to C
Major_axis axis: df1 to df2
Minor_axis axis: [-1.67288231376, -1.47362571677, -1.40750301253, 0.201206074366] to [1.05974514934, -0.012738809103, -0.122405992931, -0.362316349292]

In [254]:
fraud.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,672708,2,18,1,3458,2,4,7,0
1,94787,1,15,1,3458,8,60,17,0
2,974787,1,35,1,3458,13,1,3,0
3,350035,2,35,1,3458,39,0,6,0
4,158078,2,13,1,3458,27,0,25,0

In [255]:
fraud.loc[fraud.groupby('balance')['fraudRisk'].idxmin()]

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
539562,722778,2,15,1,0,16,3,4,0
539495,55870,1,13,2,1,7,0,5,0
539431,683397,1,24,1,2,35,1,25,0
539351,735042,1,43,1,3,54,0,12,0
539291,851600,2,21,1,4,17,1,6,0
539228,697567,1,13,1,5,13,0,3,0
539155,435195,1,41,1,6,100,0,4,0
539087,568697,1,11,1,7,19,0,6,0
539011,292413,1,44,1,8,6,0,2,0
538933,209785,2,45,1,9,20,0,8,0
538848,377514,2,44,1,10,9,0,6,0
538778,881013,1,5,1,11,38,0,35,0
538709,199401,1,23,1,12,10,0,7,0
538655,473286,1,23,1,13,33,0,2,0
538580,106187,1,29,1,14,61,0,6,0
538508,777632,1,38,1,15,19,0,6,0
538433,220268,1,18,1,16,24,0,9,0
538363,4462,2,18,1,17,1,1,8,0
538292,158126,1,21,1,18,10,0,2,0
538222,511136,1,44,1,19,53,6,21,0
538156,412705,1,34,1,20,43,0,4,0
538056,162375,1,20,1,21,43,34,3,0
537984,385960,2,20,1,22,32,0,4,0
537915,584536,1,5,1,23,17,0,9,0
537834,1034775,1,35,1,24,76,0,5,0
537774,983217,2,10,1,25,47,0,5,0
537695,356280,1,5,1,26,26,0,5,0
537634,314042,1,5,1,27,38,0,5,0
537555,43626,1,2,1,28,27,17,7,0
537485,69286,1,16,1,29,24,3,2,0
...,...,...,...,...,...,...,...,...,...
1048544,972471,2,36,1,30198,39,0,50,1
1048545,138955,1,35,1,30228,7,1,39,1
1048546,498967,1,5,1,30301,26,5,38,1
1048547,93361,1,29,1,30344,8,4,40,1
1048548,746588,2,35,1,30363,30,0,50,1
1048549,1024503,2,14,1,30536,6,4,75,1
1048550,706163,1,45,1,30605,25,0,46,1
1048551,369762,2,10,1,30787,35,4,47,1
1048552,749456,1,35,1,31000,11,4,30,1
1048553,351746,1,5,1,31070,13,2,32,1
1048554,554914,2,32,1,31076,42,5,46,1
1048555,318241,2,50,1,31093,8,0,44,1
1048556,1012716,1,5,1,31114,47,0,37,1
1048557,653651,2,48,1,31238,64,0,56,1
1048558,515228,2,50,1,31892,10,0,32,1
1048559,671345,1,29,1,31937,21,0,34,1
1048560,564287,2,36,1,32000,32,0,31,1
1048561,600204,1,32,1,32553,16,1,75,1
1048562,947209,1,19,1,32927,33,0,35,1
1048563,804125,1,49,1,33000,41,0,32,1
1048565,650952,1,10,1,34000,37,13,33,1
1048566,187154,2,37,1,34390,8,2,35,1
1048567,378267,1,16,1,34737,16,4,38,1
1048568,188845,2,5,1,34785,14,0,38,1
1048569,753354,1,17,1,35039,100,4,39,1
1048570,962370,1,46,1,35074,30,0,47,1
1048571,1017216,2,3,1,35447,9,4,40,1
1048572,887967,1,5,1,35982,70,4,43,1
1048573,162445,2,39,1,39554,6,16,52,1
1048574,471478,1,35,1,39725,61,0,41,1

In [256]:
fraud.sort_values(by="balance").groupby("fraudRisk",as_index=False).first()

,fraudRisk,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine
0,0,632020,2,44,1,0,48,2,7
1,1,66618,2,7,1,0,81,0,9

In [257]:
fraud11=fraud.copy()

In [258]:
fraud11.set_index('custID')

,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
custID,,,,,,,,
672708,2,18,1,3458,2,4,7,0
94787,1,15,1,3458,8,60,17,0
974787,1,35,1,3458,13,1,3,0
350035,2,35,1,3458,39,0,6,0
158078,2,13,1,3458,27,0,25,0
76549,2,11,1,3458,49,2,3,0
34378,1,46,1,3458,1,0,3,0
789126,2,5,1,3458,20,0,17,0
449725,2,23,1,3458,39,9,4,0
21254,1,10,1,3458,9,0,3,0
416804,1,43,1,3458,2,4,3,0
419235,1,23,1,3458,65,0,3,0
673665,1,21,1,3458,5,0,8,0
325406,2,15,2,3458,14,0,7,0
207066,1,16,1,3458,19,0,15,0
99819,2,15,1,3458,9,7,3,0
959476,2,32,1,3458,81,39,4,0
326200,2,48,1,3458,22,0,4,0
393091,1,5,1,3458,21,0,4,0
946702,2,25,1,3458,23,0,30,0
5551,1,39,1,3458,25,0,4,0
392336,1,39,1,3458,44,1,3,0
344287,2,17,1,3458,26,8,4,0
956689,2,37,1,3458,22,0,4,0
772513,2,34,1,3458,17,0,39,0
852567,1,32,1,3458,7,0,17,0
95974,2,33,1,3458,9,1,3,0
684563,1,35,1,3458,24,7,18,0
380702,2,36,1,3458,12,0,7,0
881635,1,24,1,3458,26,1,12,0
...,...,...,...,...,...,...,...,...
138955,1,35,1,30228,7,1,39,1
498967,1,5,1,30301,26,5,38,1
93361,1,29,1,30344,8,4,40,1
746588,2,35,1,30363,30,0,50,1
1024503,2,14,1,30536,6,4,75,1
706163,1,45,1,30605,25,0,46,1
369762,2,10,1,30787,35,4,47,1
749456,1,35,1,31000,11,4,30,1
351746,1,5,1,31070,13,2,32,1
554914,2,32,1,31076,42,5,46,1
318241,2,50,1,31093,8,0,44,1
1012716,1,5,1,31114,47,0,37,1
653651,2,48,1,31238,64,0,56,1
515228,2,50,1,31892,10,0,32,1
671345,1,29,1,31937,21,0,34,1
564287,2,36,1,32000,32,0,31,1
600204,1,32,1,32553,16,1,75,1
947209,1,19,1,32927,33,0,35,1
804125,1,49,1,33000,41,0,32,1
125717,2,44,1,33000,9,0,32,1
650952,1,10,1,34000,37,13,33,1
187154,2,37,1,34390,8,2,35,1
378267,1,16,1,34737,16,4,38,1
188845,2,5,1,34785,14,0,38,1
753354,1,17,1,35039,100,4,39,1
962370,1,46,1,35074,30,0,47,1
1017216,2,3,1,35447,9,4,40,1
887967,1,5,1,35982,70,4,43,1
162445,2,39,1,39554,6,16,52,1
471478,1,35,1,39725,61,0,41,1

In [259]:
fraud12=fraud.stack(0).reset_index(1)

In [90]:
fraud12

              level_1       0
0              custID  672708
0              gender       2
0               state      18
0          cardholder       1
0             balance    3458
0            numTrans       2
0        numIntlTrans       4
0          creditLine       7
0           fraudRisk       0
1              custID   94787
1              gender       1
1               state      15
1          cardholder       1
1             balance    3458
1            numTrans       8
1        numIntlTrans      60
1          creditLine      17
1           fraudRisk       0
2              custID  974787
2              gender       1
2               state      35
2          cardholder       1
2             balance    3458
2            numTrans      13
2        numIntlTrans       1
2          creditLine       3
2           fraudRisk       0
3              custID  350035
3              gender       2
3               state      35
...               ...     ...
1048571  numIntlTrans       4
1048571    creditLine      40
1048571     fraudRisk       1
1048572        custID  887967
1048572        gender       1
1048572         state       5
1048572    cardholder       1
1048572       balance   35982
1048572      numTrans      70
1048572  numIntlTrans       4
1048572    creditLine      43
1048572     fraudRisk       1
1048573        custID  162445
1048573        gender       2
1048573         state      39
1048573    cardholder       1
1048573       balance   39554
1048573      numTrans       6
1048573  numIntlTrans      16
1048573    creditLine      52
1048573     fraudRisk       1
1048574        custID  471478
1048574        gender       1
1048574         state      35
1048574    cardholder       1
1048574       balance   39725
1048574      numTrans      61
1048574  numIntlTrans       0
1048574    creditLine      41
1048574     fraudRisk       1

[9437175 rows x 2 columns]

In [260]:
fraud12.columns

Index(['level_1', 0], dtype='object')

In [261]:
fraud12.columns=[['Sample','0']]

In [93]:
fraud12

               Sample       0
0              custID  672708
0              gender       2
0               state      18
0          cardholder       1
0             balance    3458
0            numTrans       2
0        numIntlTrans       4
0          creditLine       7
0           fraudRisk       0
1              custID   94787
1              gender       1
1               state      15
1          cardholder       1
1             balance    3458
1            numTrans       8
1        numIntlTrans      60
1          creditLine      17
1           fraudRisk       0
2              custID  974787
2              gender       1
2               state      35
2          cardholder       1
2             balance    3458
2            numTrans      13
2        numIntlTrans       1
2          creditLine       3
2           fraudRisk       0
3              custID  350035
3              gender       2
3               state      35
...               ...     ...
1048571  numIntlTrans       4
1048571    creditLine      40
1048571     fraudRisk       1
1048572        custID  887967
1048572        gender       1
1048572         state       5
1048572    cardholder       1
1048572       balance   35982
1048572      numTrans      70
1048572  numIntlTrans       4
1048572    creditLine      43
1048572     fraudRisk       1
1048573        custID  162445
1048573        gender       2
1048573         state      39
1048573    cardholder       1
1048573       balance   39554
1048573      numTrans       6
1048573  numIntlTrans      16
1048573    creditLine      52
1048573     fraudRisk       1
1048574        custID  471478
1048574        gender       1
1048574         state      35
1048574    cardholder       1
1048574       balance   39725
1048574      numTrans      61
1048574  numIntlTrans       0
1048574    creditLine      41
1048574     fraudRisk       1

[9437175 rows x 2 columns]

In [262]:
fraud12.head()

       Sample       0
0      custID  672708
0      gender       2
0       state      18
0  cardholder       1
0     balance    3458

In [263]:
cols=pd.MultiIndex.from_tuples([(x,y)for x in ['A','B','C']for y in['O','I']])

In [264]:
df=pd.DataFrame(np.random.randn(2,6),index=['n','m'],columns=cols)

In [265]:
df

          A                   B                   C
          O         I         O         I         O         I
n  0.430230 -1.301347  0.935897  0.186521 -0.671808  0.207582
m -0.743413 -1.099273  0.473793 -1.789157 -0.914764 -0.010259

In [266]:
fraud13=fraud.iloc[0:5,0:2]
fraud13

   custID  gender
0  672708       2
1   94787       1
2  974787       1
3  350035       2
4  158078       2

In [267]:
fraud14=fraud.iloc[0:5,:5:,]
fraud14

   custID  gender  state  cardholder  balance
0  672708       2     18           1     3458
1   94787       1     15           1     3458
2  974787       1     35           1     3458
3  350035       2     35           1     3458
4  158078       2     13           1     3458

In [268]:
fraud13

   custID  gender
0  672708       2
1   94787       1
2  974787       1
3  350035       2
4  158078       2

In [269]:
coords=[('CustID','gender'),('672708','2'),('94787','1'),('974787','1'),('350035','2'),('158078','2')]

In [270]:
index=pd.MultiIndex.from_tuples(coords)

In [271]:
fraud15=pd.DataFrame(['balance',3458,3458,3458,3458,3458],index,['Fraud'])

In [272]:
fraud15

                 Fraud
CustID gender  balance
672708 2          3458
94787  1          3458
974787 1          3458
350035 2          3458
158078 2          3458

In [273]:
fraud15.xs('2',level=1,axis=0)

       Fraud
672708  3458
350035  3458
158078  3458

In [274]:
fraud15.xs('158078',level=0,axis=0)

  Fraud
2  3458

In [275]:
fraud.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,672708,2,18,1,3458,2,4,7,0
1,94787,1,15,1,3458,8,60,17,0
2,974787,1,35,1,3458,13,1,3,0
3,350035,2,35,1,3458,39,0,6,0
4,158078,2,13,1,3458,27,0,25,0

In [300]:
s=pd.Series(range(0,5))
fraud19=(fraud.index[[s]])

In [277]:

type(fraud)

pandas.core.frame.DataFrame

In [305]:
import itertools as itertools
import pandas as pd

data=fraud.iloc[0:5]
columns=fraud

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,672708,2,18,1,3458,2,4,7,0
1,94787,1,15,1,3458,8,60,17,0
2,974787,1,35,1,3458,13,1,3,0
3,350035,2,35,1,3458,39,0,6,0
4,158078,2,13,1,3458,27,0,25,0

In [306]:
data.columns

Index(['custID', 'gender', 'state', 'cardholder', 'balance', 'numTrans',
       'numIntlTrans', 'creditLine', 'fraudRisk'],
      dtype='object')

In [308]:
df=pd.DataFrame(data=data,index=data.index[0:],columns=data.columns[0:])
df.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,672708,2,18,1,3458,2,4,7,0
1,94787,1,15,1,3458,8,60,17,0
2,974787,1,35,1,3458,13,1,3,0
3,350035,2,35,1,3458,39,0,6,0
4,158078,2,13,1,3458,27,0,25,0

In [313]:
fraud.head(100)

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,672708,2,18,1,3458,2,4,7,0
1,94787,1,15,1,3458,8,60,17,0
2,974787,1,35,1,3458,13,1,3,0
3,350035,2,35,1,3458,39,0,6,0
4,158078,2,13,1,3458,27,0,25,0
5,76549,2,11,1,3458,49,2,3,0
6,34378,1,46,1,3458,1,0,3,0
7,789126,2,5,1,3458,20,0,17,0
8,449725,2,23,1,3458,39,9,4,0
9,21254,1,10,1,3458,9,0,3,0
10,416804,1,43,1,3458,2,4,3,0
11,419235,1,23,1,3458,65,0,3,0
12,673665,1,21,1,3458,5,0,8,0
13,325406,2,15,2,3458,14,0,7,0
14,207066,1,16,1,3458,19,0,15,0
15,99819,2,15,1,3458,9,7,3,0
16,959476,2,32,1,3458,81,39,4,0
17,326200,2,48,1,3458,22,0,4,0
18,393091,1,5,1,3458,21,0,4,0
19,946702,2,25,1,3458,23,0,30,0
20,5551,1,39,1,3458,25,0,4,0
21,392336,1,39,1,3458,44,1,3,0
22,344287,2,17,1,3458,26,8,4,0
23,956689,2,37,1,3458,22,0,4,0
24,772513,2,34,1,3458,17,0,39,0
25,852567,1,32,1,3458,7,0,17,0
26,95974,2,33,1,3458,9,1,3,0
27,684563,1,35,1,3458,24,7,18,0
28,380702,2,36,1,3458,12,0,7,0
29,881635,1,24,1,3458,26,1,12,0
...,...,...,...,...,...,...,...,...,...
70,256834,1,48,1,3457,6,0,5,0
71,1010872,1,10,1,3457,76,0,6,0
72,987176,1,35,1,3457,9,4,14,0
73,287892,1,16,1,3457,17,0,14,0
74,392667,1,35,1,3457,45,0,7,0
75,304894,1,25,1,3457,30,3,15,0
76,634679,1,23,1,3457,19,0,4,0
77,156298,1,20,1,3457,7,0,16,0
78,890847,2,15,1,3457,44,0,6,0
79,1044434,2,39,1,3457,16,0,6,0
80,553131,2,50,1,3459,12,0,5,0
81,251961,1,5,1,3459,7,0,19,0
82,855350,1,38,1,3459,8,2,4,0
83,937825,1,5,1,3459,23,0,75,1
84,708869,1,25,1,3459,99,0,7,1
85,215158,1,37,1,3459,25,20,18,0
86,790367,2,15,1,3459,4,32,28,0
87,674477,1,15,1,3459,44,5,16,0
88,300318,2,29,1,3459,17,0,6,0
89,179259,2,16,1,3459,12,2,4,0
90,270557,1,20,1,3459,8,0,7,0
91,604968,2,2,2,3459,55,1,32,0
92,66161,2,19,1,3459,4,0,13,0
93,812341,1,4,1,3459,100,0,11,0
94,248155,1,10,1,3459,13,2,4,0
95,426885,1,36,2,3459,75,2,3,0
96,756855,2,16,1,3459,23,0,8,0
97,901966,2,41,1,3459,13,0,11,0
98,734388,2,39,1,3459,23,0,9,0
99,486210,2,5,1,3459,12,0,3,0

In [315]:
fraud.sort_values(by=['balance'],ascending=False)

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
1048574,471478,1,35,1,39725,61,0,41,1
1048573,162445,2,39,1,39554,6,16,52,1
1048572,887967,1,5,1,35982,70,4,43,1
1048571,1017216,2,3,1,35447,9,4,40,1
1048570,962370,1,46,1,35074,30,0,47,1
1048569,753354,1,17,1,35039,100,4,39,1
1048568,188845,2,5,1,34785,14,0,38,1
1048567,378267,1,16,1,34737,16,4,38,1
1048566,187154,2,37,1,34390,8,2,35,1
1048565,650952,1,10,1,34000,37,13,33,1
1048563,804125,1,49,1,33000,41,0,32,1
1048564,125717,2,44,1,33000,9,0,32,1
1048562,947209,1,19,1,32927,33,0,35,1
1048561,600204,1,32,1,32553,16,1,75,1
1048560,564287,2,36,1,32000,32,0,31,1
1048559,671345,1,29,1,31937,21,0,34,1
1048558,515228,2,50,1,31892,10,0,32,1
1048557,653651,2,48,1,31238,64,0,56,1
1048556,1012716,1,5,1,31114,47,0,37,1
1048555,318241,2,50,1,31093,8,0,44,1
1048554,554914,2,32,1,31076,42,5,46,1
1048553,351746,1,5,1,31070,13,2,32,1
1048552,749456,1,35,1,31000,11,4,30,1
1048551,369762,2,10,1,30787,35,4,47,1
1048550,706163,1,45,1,30605,25,0,46,1
1048549,1024503,2,14,1,30536,6,4,75,1
1048548,746588,2,35,1,30363,30,0,50,1
1048547,93361,1,29,1,30344,8,4,40,1
1048546,498967,1,5,1,30301,26,5,38,1
1048545,138955,1,35,1,30228,7,1,39,1
...,...,...,...,...,...,...,...,...,...
709250,1018001,1,49,1,0,17,0,3,0
709222,959785,1,43,1,0,26,0,6,0
709249,588545,1,44,1,0,50,0,11,0
709248,202558,2,4,1,0,74,0,6,0
709247,588541,1,16,1,0,84,6,13,0
709246,588540,1,11,1,0,17,2,6,0
709245,11881,2,21,1,0,73,0,9,0
709244,487066,2,11,1,0,24,0,1,0
709243,487069,1,5,1,0,9,60,6,0
709242,202559,1,36,1,0,5,0,2,0
709241,1018000,1,4,1,0,72,0,3,0
709240,202561,2,35,1,0,66,0,5,0
709239,11879,2,11,1,0,30,0,6,0
709238,891395,1,32,1,0,6,1,1,0
709237,487153,1,44,1,0,9,0,9,0
709236,588322,1,44,1,0,44,0,9,0
709235,1046823,1,39,1,0,11,0,8,0
709234,202835,1,43,1,0,38,0,7,0
709233,891439,1,44,1,0,31,0,10,0
709232,11824,1,44,1,0,100,12,16,0
709231,487239,2,44,1,0,39,8,3,0
709230,487238,2,26,2,0,7,0,13,0
709229,202830,2,10,1,0,51,0,7,0
709228,202824,2,18,1,0,4,0,7,0
709227,346429,2,19,1,0,22,5,7,0
709226,202820,1,5,1,0,4,0,3,0
709225,891434,2,44,2,0,20,29,3,0
709224,588124,2,35,1,0,10,10,12,0
709223,974889,2,32,1,0,18,3,3,0
642502,334217,2,44,1,0,49,1,5,0

In [319]:

fraud23=fraud.dropna(how='any')
fraud21=fraud23.groupby(['custID','cardholder'])['balance'].mean().unstack()
fraud21

cardholder        1        2
custID
1            3000.0      NaN
2               0.0      NaN
3               0.0      NaN
4               0.0      NaN
5               0.0      NaN
6               NaN   5546.0
7            2000.0      NaN
8            6016.0      NaN
9            2428.0      NaN
10              0.0      NaN
11           4601.0      NaN
12           3000.0      NaN
13              0.0      NaN
14           9000.0      NaN
15           5227.0      NaN
16              0.0      NaN
17          13970.0      NaN
18           3113.0      NaN
19           9000.0      NaN
20           1860.0      NaN
21           4000.0      NaN
22              0.0      NaN
23              0.0      NaN
24              0.0      NaN
25              0.0      NaN
26           5000.0      NaN
27           4000.0      NaN
28          12000.0      NaN
29              0.0      NaN
30           5192.0      NaN
...             ...      ...
1048546         0.0      NaN
1048547         0.0      NaN
1048548      5000.0      NaN
1048549     12343.0      NaN
1048550         0.0      NaN
1048551         NaN  13746.0
1048552      1237.0      NaN
1048553      1481.0      NaN
1048554         0.0      NaN
1048555      7259.0      NaN
1048556         0.0      NaN
1048557      6000.0      NaN
1048558      1934.0      NaN
1048559         0.0      NaN
1048560      3000.0      NaN
1048561      7767.0      NaN
1048562         0.0      NaN
1048563         0.0      NaN
1048564      3152.0      NaN
1048565         0.0      NaN
1048566         0.0      NaN
1048567         0.0      NaN
1048568      6000.0      NaN
1048569         NaN   1713.0
1048570      6522.0      NaN
1048571         0.0      NaN
1048572      6000.0      NaN
1048573      3000.0      NaN
1048574      6000.0      NaN
1048575      8556.0      NaN

[1048575 rows x 2 columns]

In [320]:
fraud24=fraud.groupby(['balance'])
fraud25=(fraud24.state).max()
fraud25
fraud26=(fraud24.custID).max()
fraud26
fraud24.balance.mean()

balance
0            0
1            1
2            2
3            3
4            4
5            5
6            6
7            7
8            8
9            9
10          10
11          11
12          12
13          13
14          14
15          15
16          16
17          17
18          18
19          19
20          20
21          21
22          22
23          23
24          24
25          25
26          26
27          27
28          28
29          29
         ...
30198    30198
30228    30228
30301    30301
30344    30344
30363    30363
30536    30536
30605    30605
30787    30787
31000    31000
31070    31070
31076    31076
31093    31093
31114    31114
31238    31238
31892    31892
31937    31937
32000    32000
32553    32553
32927    32927
33000    33000
34000    34000
34390    34390
34737    34737
34785    34785
35039    35039
35074    35074
35447    35447
35982    35982
39554    39554
39725    39725
Name: balance, dtype: int64

In [321]:
fraud.balance.mean()

4111.859637126577

In [322]:
fraud.balance.median()

3716.0

In [323]:
fraud.balance.std()

3995.9449963875177

In [333]:
dg = pd.DataFrame({'custID': '672708 94787 974787 350035'.split(),
                    'balance': [3458,3458,3458,3458]})
                   
dg

   balance  custID
0     3458  672708
1     3458   94787
2     3458  974787
3     3458  350035

In [325]:
dg=pd.DataFrame({'custID':()})

In [326]:
fraud28=fraud.iloc[0:50,0:5]
fraud29=fraud28.copy()
fraud30=fraud29.copy()
fraud31=fraud29.copy()
fraud32=fraud29.copy()

In [327]:
fraud28

     custID  gender  state  cardholder  balance
0    672708       2     18           1     3458
1     94787       1     15           1     3458
2    974787       1     35           1     3458
3    350035       2     35           1     3458
4    158078       2     13           1     3458
5     76549       2     11           1     3458
6     34378       1     46           1     3458
7    789126       2      5           1     3458
8    449725       2     23           1     3458
9     21254       1     10           1     3458
10   416804       1     43           1     3458
11   419235       1     23           1     3458
12   673665       1     21           1     3458
13   325406       2     15           2     3458
14   207066       1     16           1     3458
15    99819       2     15           1     3458
16   959476       2     32           1     3458
17   326200       2     48           1     3458
18   393091       1      5           1     3458
19   946702       2     25           1     3458
20     5551       1     39           1     3458
21   392336       1     39           1     3458
22   344287       2     17           1     3458
23   956689       2     37           1     3458
24   772513       2     34           1     3458
25   852567       1     32           1     3458
26    95974       2     33           1     3458
27   684563       1     35           1     3458
28   380702       2     36           1     3458
29   881635       1     24           1     3458
30   452015       1      7           1     3458
31   572327       1     10           1     3458
32   140458       1      5           1     3458
33   609632       1     42           1     3458
34   278509       2     49           1     3458
35   100538       1     22           2     3458
36   442642       1     46           1     3458
37   502657       1     37           1     3458
38   272037       2     15           1     3457
39    40364       1     36           1     3457
40   944265       1     20           1     3457
41  1041544       1      5           1     3457
42    58552       1      3           1     3457
43   742787       2      5           2     3457
44   131411       1     44           1     3457
45   232114       1     25           1     3457
46   263508       2     23           1     3457
47   516710       2      3           1     3457
48   319480       1      7           1     3457
49   662650       1     14           1     3457

In [328]:
fraud28.columns

Index(['custID', 'gender', 'state', 'cardholder', 'balance'], dtype='object')

In [329]:
def GrowUp(fraud28):								
   ....:    avg_balance =  sum(fraud28[fraud28['cardholder'] == 2].balance * 1.5)								
   ....:    avg_balance += sum(fraud28[fraud28['cardholder'] == 1].balance* 1.25)								
   ....:    avg_balance/= len(fraud28)								
   ....:    return pd.Series([1,avg_balance,True], index= ['cardholder',  'state',  'balance'])

In [330]:
gb=fraud28.groupby(['balance'])

In [332]:
expected_fraud28=gb.apply(GrowUp)

In [333]:
expected_fraud28

         cardholder        state balance
balance
3457              1  4393.270833    True
3458              1  4368.000000    True

In [334]:
pd.value_counts(fraud28.cardholder)

1    47
2     3
Name: cardholder, dtype: int64

In [335]:
pd.value_counts(fraud28.balance)

3458    38
3457    12
Name: balance, dtype: int64

In [337]:
 def replace(g):
   .....:    mask = g < 0
   .....:    g.loc[mask] = g[~mask].mean()
   .....:    return g




gb.transform(replace)

C:\Users\admin\lib\site-packages\pandas\core\indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

       custID  gender  state  cardholder
0    672708.0     2.0   18.0         1.0
1     94787.0     1.0   15.0         1.0
2    974787.0     1.0   35.0         1.0
3    350035.0     2.0   35.0         1.0
4    158078.0     2.0   13.0         1.0
5     76549.0     2.0   11.0         1.0
6     34378.0     1.0   46.0         1.0
7    789126.0     2.0    5.0         1.0
8    449725.0     2.0   23.0         1.0
9     21254.0     1.0   10.0         1.0
10   416804.0     1.0   43.0         1.0
11   419235.0     1.0   23.0         1.0
12   673665.0     1.0   21.0         1.0
13   325406.0     2.0   15.0         2.0
14   207066.0     1.0   16.0         1.0
15    99819.0     2.0   15.0         1.0
16   959476.0     2.0   32.0         1.0
17   326200.0     2.0   48.0         1.0
18   393091.0     1.0    5.0         1.0
19   946702.0     2.0   25.0         1.0
20     5551.0     1.0   39.0         1.0
21   392336.0     1.0   39.0         1.0
22   344287.0     2.0   17.0         1.0
23   956689.0     2.0   37.0         1.0
24   772513.0     2.0   34.0         1.0
25   852567.0     1.0   32.0         1.0
26    95974.0     2.0   33.0         1.0
27   684563.0     1.0   35.0         1.0
28   380702.0     2.0   36.0         1.0
29   881635.0     1.0   24.0         1.0
30   452015.0     1.0    7.0         1.0
31   572327.0     1.0   10.0         1.0
32   140458.0     1.0    5.0         1.0
33   609632.0     1.0   42.0         1.0
34   278509.0     2.0   49.0         1.0
35   100538.0     1.0   22.0         2.0
36   442642.0     1.0   46.0         1.0
37   502657.0     1.0   37.0         1.0
38   272037.0     2.0   15.0         1.0
39    40364.0     1.0   36.0         1.0
40   944265.0     1.0   20.0         1.0
41  1041544.0     1.0    5.0         1.0
42    58552.0     1.0    3.0         1.0
43   742787.0     2.0    5.0         2.0
44   131411.0     1.0   44.0         1.0
45   232114.0     1.0   25.0         1.0
46   263508.0     2.0   23.0         1.0
47   516710.0     2.0    3.0         1.0
48   319480.0     1.0    7.0         1.0
49   662650.0     1.0   14.0         1.0

In [338]:
fraud28.head()

   custID  gender  state  cardholder  balance
0  672708       2     18           1     3458
1   94787       1     15           1     3458
2  974787       1     35           1     3458
3  350035       2     35           1     3458
4  158078       2     13           1     3458

In [339]:
codegroups=fraud28.groupby('custID')

In [342]:
agg_n_sort_order=codegroups[['balance']].transform(sum).sort_values(by='balance')

In [343]:
sorted_fraud28=fraud28.ix[agg_n_sort_order.index]

In [344]:
sorted_fraud28

     custID  gender  state  cardholder  balance
49   662650       1     14           1     3457
38   272037       2     15           1     3457
39    40364       1     36           1     3457
40   944265       1     20           1     3457
41  1041544       1      5           1     3457
42    58552       1      3           1     3457
48   319480       1      7           1     3457
44   131411       1     44           1     3457
45   232114       1     25           1     3457
46   263508       2     23           1     3457
47   516710       2      3           1     3457
43   742787       2      5           2     3457
26    95974       2     33           1     3458
27   684563       1     35           1     3458
28   380702       2     36           1     3458
29   881635       1     24           1     3458
30   452015       1      7           1     3458
33   609632       1     42           1     3458
32   140458       1      5           1     3458
34   278509       2     49           1     3458
35   100538       1     22           2     3458
25   852567       1     32           1     3458
37   502657       1     37           1     3458
31   572327       1     10           1     3458
36   442642       1     46           1     3458
0    672708       2     18           1     3458
22   344287       2     17           1     3458
1     94787       1     15           1     3458
2    974787       1     35           1     3458
3    350035       2     35           1     3458
4    158078       2     13           1     3458
5     76549       2     11           1     3458
6     34378       1     46           1     3458
7    789126       2      5           1     3458
8    449725       2     23           1     3458
9     21254       1     10           1     3458
10   416804       1     43           1     3458
11   419235       1     23           1     3458
12   673665       1     21           1     3458
13   325406       2     15           2     3458
14   207066       1     16           1     3458
15    99819       2     15           1     3458
16   959476       2     32           1     3458
17   326200       2     48           1     3458
18   393091       1      5           1     3458
19   946702       2     25           1     3458
20     5551       1     39           1     3458
21   392336       1     39           1     3458
23   956689       2     37           1     3458
24   772513       2     34           1     3458

In [345]:
fraud29.loc[0:,['state','cardholder']] = fraud29.loc[0:,['state','cardholder']].shift(1,axis=1)
fraud29

     custID  gender  state  cardholder  balance
0    672708       2    NaN        18.0     3458
1     94787       1    NaN        15.0     3458
2    974787       1    NaN        35.0     3458
3    350035       2    NaN        35.0     3458
4    158078       2    NaN        13.0     3458
5     76549       2    NaN        11.0     3458
6     34378       1    NaN        46.0     3458
7    789126       2    NaN         5.0     3458
8    449725       2    NaN        23.0     3458
9     21254       1    NaN        10.0     3458
10   416804       1    NaN        43.0     3458
11   419235       1    NaN        23.0     3458
12   673665       1    NaN        21.0     3458
13   325406       2    NaN        15.0     3458
14   207066       1    NaN        16.0     3458
15    99819       2    NaN        15.0     3458
16   959476       2    NaN        32.0     3458
17   326200       2    NaN        48.0     3458
18   393091       1    NaN         5.0     3458
19   946702       2    NaN        25.0     3458
20     5551       1    NaN        39.0     3458
21   392336       1    NaN        39.0     3458
22   344287       2    NaN        17.0     3458
23   956689       2    NaN        37.0     3458
24   772513       2    NaN        34.0     3458
25   852567       1    NaN        32.0     3458
26    95974       2    NaN        33.0     3458
27   684563       1    NaN        35.0     3458
28   380702       2    NaN        36.0     3458
29   881635       1    NaN        24.0     3458
30   452015       1    NaN         7.0     3458
31   572327       1    NaN        10.0     3458
32   140458       1    NaN         5.0     3458
33   609632       1    NaN        42.0     3458
34   278509       2    NaN        49.0     3458
35   100538       1    NaN        22.0     3458
36   442642       1    NaN        46.0     3458
37   502657       1    NaN        37.0     3458
38   272037       2    NaN        15.0     3457
39    40364       1    NaN        36.0     3457
40   944265       1    NaN        20.0     3457
41  1041544       1    NaN         5.0     3457
42    58552       1    NaN         3.0     3457
43   742787       2    NaN         5.0     3457
44   131411       1    NaN        44.0     3457
45   232114       1    NaN        25.0     3457
46   263508       2    NaN        23.0     3457
47   516710       2    NaN         3.0     3457
48   319480       1    NaN         7.0     3457
49   662650       1    NaN        14.0     3457

In [346]:
fraud29['balance_shifted']=fraud29.groupby(level=0)['balance'].shift(1)

In [347]:
fraud29

     custID  gender  state  cardholder  balance  balance_shifted
0    672708       2    NaN        18.0     3458              NaN
1     94787       1    NaN        15.0     3458              NaN
2    974787       1    NaN        35.0     3458              NaN
3    350035       2    NaN        35.0     3458              NaN
4    158078       2    NaN        13.0     3458              NaN
5     76549       2    NaN        11.0     3458              NaN
6     34378       1    NaN        46.0     3458              NaN
7    789126       2    NaN         5.0     3458              NaN
8    449725       2    NaN        23.0     3458              NaN
9     21254       1    NaN        10.0     3458              NaN
10   416804       1    NaN        43.0     3458              NaN
11   419235       1    NaN        23.0     3458              NaN
12   673665       1    NaN        21.0     3458              NaN
13   325406       2    NaN        15.0     3458              NaN
14   207066       1    NaN        16.0     3458              NaN
15    99819       2    NaN        15.0     3458              NaN
16   959476       2    NaN        32.0     3458              NaN
17   326200       2    NaN        48.0     3458              NaN
18   393091       1    NaN         5.0     3458              NaN
19   946702       2    NaN        25.0     3458              NaN
20     5551       1    NaN        39.0     3458              NaN
21   392336       1    NaN        39.0     3458              NaN
22   344287       2    NaN        17.0     3458              NaN
23   956689       2    NaN        37.0     3458              NaN
24   772513       2    NaN        34.0     3458              NaN
25   852567       1    NaN        32.0     3458              NaN
26    95974       2    NaN        33.0     3458              NaN
27   684563       1    NaN        35.0     3458              NaN
28   380702       2    NaN        36.0     3458              NaN
29   881635       1    NaN        24.0     3458              NaN
30   452015       1    NaN         7.0     3458              NaN
31   572327       1    NaN        10.0     3458              NaN
32   140458       1    NaN         5.0     3458              NaN
33   609632       1    NaN        42.0     3458              NaN
34   278509       2    NaN        49.0     3458              NaN
35   100538       1    NaN        22.0     3458              NaN
36   442642       1    NaN        46.0     3458              NaN
37   502657       1    NaN        37.0     3458              NaN
38   272037       2    NaN        15.0     3457              NaN
39    40364       1    NaN        36.0     3457              NaN
40   944265       1    NaN        20.0     3457              NaN
41  1041544       1    NaN         5.0     3457              NaN
42    58552       1    NaN         3.0     3457              NaN
43   742787       2    NaN         5.0     3457              NaN
44   131411       1    NaN        44.0     3457              NaN
45   232114       1    NaN        25.0     3457              NaN
46   263508       2    NaN        23.0     3457              NaN
47   516710       2    NaN         3.0     3457              NaN
48   319480       1    NaN         7.0     3457              NaN
49   662650       1    NaN        14.0     3457              NaN

In [348]:
mask=fraud28.groupby(level=0).agg('idxmax')
fraud28_count=fraud28.loc[mask['balance']].reset_index()

In [349]:
fraud28_count

    index   custID  gender  state  cardholder  balance
0       0   672708       2     18           1     3458
1       1    94787       1     15           1     3458
2       2   974787       1     35           1     3458
3       3   350035       2     35           1     3458
4       4   158078       2     13           1     3458
5       5    76549       2     11           1     3458
6       6    34378       1     46           1     3458
7       7   789126       2      5           1     3458
8       8   449725       2     23           1     3458
9       9    21254       1     10           1     3458
10     10   416804       1     43           1     3458
11     11   419235       1     23           1     3458
12     12   673665       1     21           1     3458
13     13   325406       2     15           2     3458
14     14   207066       1     16           1     3458
15     15    99819       2     15           1     3458
16     16   959476       2     32           1     3458
17     17   326200       2     48           1     3458
18     18   393091       1      5           1     3458
19     19   946702       2     25           1     3458
20     20     5551       1     39           1     3458
21     21   392336       1     39           1     3458
22     22   344287       2     17           1     3458
23     23   956689       2     37           1     3458
24     24   772513       2     34           1     3458
25     25   852567       1     32           1     3458
26     26    95974       2     33           1     3458
27     27   684563       1     35           1     3458
28     28   380702       2     36           1     3458
29     29   881635       1     24           1     3458
30     30   452015       1      7           1     3458
31     31   572327       1     10           1     3458
32     32   140458       1      5           1     3458
33     33   609632       1     42           1     3458
34     34   278509       2     49           1     3458
35     35   100538       1     22           2     3458
36     36   442642       1     46           1     3458
37     37   502657       1     37           1     3458
38     38   272037       2     15           1     3457
39     39    40364       1     36           1     3457
40     40   944265       1     20           1     3457
41     41  1041544       1      5           1     3457
42     42    58552       1      3           1     3457
43     43   742787       2      5           2     3457
44     44   131411       1     44           1     3457
45     45   232114       1     25           1     3457
46     46   263508       2     23           1     3457
47     47   516710       2      3           1     3457
48     48   319480       1      7           1     3457
49     49   662650       1     14           1     3457

In [350]:
fraud28.balance.groupby((fraud28.balance!=fraud28.balance.shift()).cumsum()).groups

{1: Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
             34, 35, 36, 37],
            dtype='int64'),
 2: Int64Index([38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49], dtype='int64')}

In [351]:
fraud28['balance_shift']=fraud28['balance'].shift(1)

In [352]:
fraud28.balance_shift=fraud28.balance.cumsum()

In [353]:
fraud28

     custID  gender  state  cardholder  balance  balance_shift
0    672708       2     18           1     3458           3458
1     94787       1     15           1     3458           6916
2    974787       1     35           1     3458          10374
3    350035       2     35           1     3458          13832
4    158078       2     13           1     3458          17290
5     76549       2     11           1     3458          20748
6     34378       1     46           1     3458          24206
7    789126       2      5           1     3458          27664
8    449725       2     23           1     3458          31122
9     21254       1     10           1     3458          34580
10   416804       1     43           1     3458          38038
11   419235       1     23           1     3458          41496
12   673665       1     21           1     3458          44954
13   325406       2     15           2     3458          48412
14   207066       1     16           1     3458          51870
15    99819       2     15           1     3458          55328
16   959476       2     32           1     3458          58786
17   326200       2     48           1     3458          62244
18   393091       1      5           1     3458          65702
19   946702       2     25           1     3458          69160
20     5551       1     39           1     3458          72618
21   392336       1     39           1     3458          76076
22   344287       2     17           1     3458          79534
23   956689       2     37           1     3458          82992
24   772513       2     34           1     3458          86450
25   852567       1     32           1     3458          89908
26    95974       2     33           1     3458          93366
27   684563       1     35           1     3458          96824
28   380702       2     36           1     3458         100282
29   881635       1     24           1     3458         103740
30   452015       1      7           1     3458         107198
31   572327       1     10           1     3458         110656
32   140458       1      5           1     3458         114114
33   609632       1     42           1     3458         117572
34   278509       2     49           1     3458         121030
35   100538       1     22           2     3458         124488
36   442642       1     46           1     3458         127946
37   502657       1     37           1     3458         131404
38   272037       2     15           1     3457         134861
39    40364       1     36           1     3457         138318
40   944265       1     20           1     3457         141775
41  1041544       1      5           1     3457         145232
42    58552       1      3           1     3457         148689
43   742787       2      5           2     3457         152146
44   131411       1     44           1     3457         155603
45   232114       1     25           1     3457         159060
46   263508       2     23           1     3457         162517
47   516710       2      3           1     3457         165974
48   319480       1      7           1     3457         169431
49   662650       1     14           1     3457         172888

In [354]:
fraud30=list(zip(*fraud28.groupby((1*(fraud28['balance']==3458)).cumsum().rolling(window=3,min_periods=1).median())))[-1]

In [355]:
fraud30

(   custID  gender  state  cardholder  balance  balance_shift
 0  672708       2     18           1     3458           3458,
    custID  gender  state  cardholder  balance  balance_shift
 1   94787       1     15           1     3458           6916,
    custID  gender  state  cardholder  balance  balance_shift
 2  974787       1     35           1     3458          10374,
    custID  gender  state  cardholder  balance  balance_shift
 3  350035       2     35           1     3458          13832,
    custID  gender  state  cardholder  balance  balance_shift
 4  158078       2     13           1     3458          17290,
    custID  gender  state  cardholder  balance  balance_shift
 5   76549       2     11           1     3458          20748,
    custID  gender  state  cardholder  balance  balance_shift
 6   34378       1     46           1     3458          24206,
    custID  gender  state  cardholder  balance  balance_shift
 7  789126       2      5           1     3458          27664,
    custID  gender  state  cardholder  balance  balance_shift
 8  449725       2     23           1     3458          31122,
    custID  gender  state  cardholder  balance  balance_shift
 9   21254       1     10           1     3458          34580,
     custID  gender  state  cardholder  balance  balance_shift
 10  416804       1     43           1     3458          38038,
     custID  gender  state  cardholder  balance  balance_shift
 11  419235       1     23           1     3458          41496,
     custID  gender  state  cardholder  balance  balance_shift
 12  673665       1     21           1     3458          44954,
     custID  gender  state  cardholder  balance  balance_shift
 13  325406       2     15           2     3458          48412,
     custID  gender  state  cardholder  balance  balance_shift
 14  207066       1     16           1     3458          51870,
     custID  gender  state  cardholder  balance  balance_shift
 15   99819       2     15           1     3458          55328,
     custID  gender  state  cardholder  balance  balance_shift
 16  959476       2     32           1     3458          58786,
     custID  gender  state  cardholder  balance  balance_shift
 17  326200       2     48           1     3458          62244,
     custID  gender  state  cardholder  balance  balance_shift
 18  393091       1      5           1     3458          65702,
     custID  gender  state  cardholder  balance  balance_shift
 19  946702       2     25           1     3458          69160,
     custID  gender  state  cardholder  balance  balance_shift
 20    5551       1     39           1     3458          72618,
     custID  gender  state  cardholder  balance  balance_shift
 21  392336       1     39           1     3458          76076,
     custID  gender  state  cardholder  balance  balance_shift
 22  344287       2     17           1     3458          79534,
     custID  gender  state  cardholder  balance  balance_shift
 23  956689       2     37           1     3458          82992,
     custID  gender  state  cardholder  balance  balance_shift
 24  772513       2     34           1     3458          86450,
     custID  gender  state  cardholder  balance  balance_shift
 25  852567       1     32           1     3458          89908,
     custID  gender  state  cardholder  balance  balance_shift
 26   95974       2     33           1     3458          93366,
     custID  gender  state  cardholder  balance  balance_shift
 27  684563       1     35           1     3458          96824,
     custID  gender  state  cardholder  balance  balance_shift
 28  380702       2     36           1     3458         100282,
     custID  gender  state  cardholder  balance  balance_shift
 29  881635       1     24           1     3458         103740,
     custID  gender  state  cardholder  balance  balance_shift
 30  452015       1      7           1     3458         107198,
     custID  gender  state  cardholder  balance  balance_shift
 31  572327       1     10           1     3458         110656,
     custID  gender  state  cardholder  balance  balance_shift
 32  140458       1      5           1     3458         114114,
     custID  gender  state  cardholder  balance  balance_shift
 33  609632       1     42           1     3458         117572,
     custID  gender  state  cardholder  balance  balance_shift
 34  278509       2     49           1     3458         121030,
     custID  gender  state  cardholder  balance  balance_shift
 35  100538       1     22           2     3458         124488,
     custID  gender  state  cardholder  balance  balance_shift
 36  442642       1     46           1     3458         127946,
     custID  gender  state  cardholder  balance  balance_shift
 37  502657       1     37           1     3458         131404,
      custID  gender  state  cardholder  balance  balance_shift
 38   272037       2     15           1     3457         134861
 39    40364       1     36           1     3457         138318
 40   944265       1     20           1     3457         141775
 41  1041544       1      5           1     3457         145232
 42    58552       1      3           1     3457         148689
 43   742787       2      5           2     3457         152146
 44   131411       1     44           1     3457         155603
 45   232114       1     25           1     3457         159060
 46   263508       2     23           1     3457         162517
 47   516710       2      3           1     3457         165974
 48   319480       1      7           1     3457         169431
 49   662650       1     14           1     3457         172888)

In [356]:
table=pd.pivot_table(fraud28,values=['balance'],index=['gender'],columns=['state'],aggfunc=np.sum,margins=True)

In [357]:
table.stack('state')

               balance
gender state
1      3        3457.0
       5       10373.0
       7        6915.0
       10       6916.0
       14       3457.0
       15       3458.0
       16       3458.0
       20       3457.0
       21       3458.0
       22       3458.0
       23       3458.0
       24       3458.0
       25       3457.0
       32       3458.0
       35       6916.0
       36       3457.0
       37       3458.0
       39       6916.0
       42       3458.0
       43       3458.0
       44       3457.0
       46       6916.0
       All    100274.0
2      3        3457.0
       5        6915.0
       11       3458.0
       13       3458.0
       15      10373.0
       17       3458.0
       18       3458.0
...                ...
All    5       17288.0
       7        6915.0
       10       6916.0
       11       3458.0
       13       3458.0
       14       3457.0
       15      13831.0
       16       3458.0
       17       3458.0
       18       3458.0
       20       3457.0
       21       3458.0
       22       3458.0
       23      10373.0
       24       3458.0
       25       6915.0
       32       6916.0
       33       3458.0
       34       3458.0
       35      10374.0
       36       6915.0
       37       6916.0
       39       6916.0
       42       3458.0
       43       3458.0
       44       3457.0
       46       6916.0
       48       3458.0
       49       3458.0
       All    172888.0

[72 rows x 1 columns]

In [358]:
fraud28.groupby('balance').agg({'state':lambda x:x.value_counts()['yes'],'cardholder':lambda x:sum(x==2),'gender':lambda x :sum(x),'state':lambda x:sum(x)/len(x)})

             state  cardholder  gender
balance
3457     16.666667           1      16
3458     26.263158           2      55

In [359]:
fraud.head(100)

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,672708,2,18,1,3458,2,4,7,0
1,94787,1,15,1,3458,8,60,17,0
2,974787,1,35,1,3458,13,1,3,0
3,350035,2,35,1,3458,39,0,6,0
4,158078,2,13,1,3458,27,0,25,0
5,76549,2,11,1,3458,49,2,3,0
6,34378,1,46,1,3458,1,0,3,0
7,789126,2,5,1,3458,20,0,17,0
8,449725,2,23,1,3458,39,9,4,0
9,21254,1,10,1,3458,9,0,3,0
10,416804,1,43,1,3458,2,4,3,0
11,419235,1,23,1,3458,65,0,3,0
12,673665,1,21,1,3458,5,0,8,0
13,325406,2,15,2,3458,14,0,7,0
14,207066,1,16,1,3458,19,0,15,0
15,99819,2,15,1,3458,9,7,3,0
16,959476,2,32,1,3458,81,39,4,0
17,326200,2,48,1,3458,22,0,4,0
18,393091,1,5,1,3458,21,0,4,0
19,946702,2,25,1,3458,23,0,30,0
20,5551,1,39,1,3458,25,0,4,0
21,392336,1,39,1,3458,44,1,3,0
22,344287,2,17,1,3458,26,8,4,0
23,956689,2,37,1,3458,22,0,4,0
24,772513,2,34,1,3458,17,0,39,0
25,852567,1,32,1,3458,7,0,17,0
26,95974,2,33,1,3458,9,1,3,0
27,684563,1,35,1,3458,24,7,18,0
28,380702,2,36,1,3458,12,0,7,0
29,881635,1,24,1,3458,26,1,12,0
...,...,...,...,...,...,...,...,...,...
70,256834,1,48,1,3457,6,0,5,0
71,1010872,1,10,1,3457,76,0,6,0
72,987176,1,35,1,3457,9,4,14,0
73,287892,1,16,1,3457,17,0,14,0
74,392667,1,35,1,3457,45,0,7,0
75,304894,1,25,1,3457,30,3,15,0
76,634679,1,23,1,3457,19,0,4,0
77,156298,1,20,1,3457,7,0,16,0
78,890847,2,15,1,3457,44,0,6,0
79,1044434,2,39,1,3457,16,0,6,0
80,553131,2,50,1,3459,12,0,5,0
81,251961,1,5,1,3459,7,0,19,0
82,855350,1,38,1,3459,8,2,4,0
83,937825,1,5,1,3459,23,0,75,1
84,708869,1,25,1,3459,99,0,7,1
85,215158,1,37,1,3459,25,20,18,0
86,790367,2,15,1,3459,4,32,28,0
87,674477,1,15,1,3459,44,5,16,0
88,300318,2,29,1,3459,17,0,6,0
89,179259,2,16,1,3459,12,2,4,0
90,270557,1,20,1,3459,8,0,7,0
91,604968,2,2,2,3459,55,1,32,0
92,66161,2,19,1,3459,4,0,13,0
93,812341,1,4,1,3459,100,0,11,0
94,248155,1,10,1,3459,13,2,4,0
95,426885,1,36,2,3459,75,2,3,0
96,756855,2,16,1,3459,23,0,8,0
97,901966,2,41,1,3459,13,0,11,0
98,734388,2,39,1,3459,23,0,9,0
99,486210,2,5,1,3459,12,0,3,0

In [360]:
fraud32=fraud31.append(fraud29,ignore_index=True)

In [361]:
fraud32

    balance  balance_shifted  cardholder   custID  gender  state
0      3458              NaN         1.0   672708       2   18.0
1      3458              NaN         1.0    94787       1   15.0
2      3458              NaN         1.0   974787       1   35.0
3      3458              NaN         1.0   350035       2   35.0
4      3458              NaN         1.0   158078       2   13.0
5      3458              NaN         1.0    76549       2   11.0
6      3458              NaN         1.0    34378       1   46.0
7      3458              NaN         1.0   789126       2    5.0
8      3458              NaN         1.0   449725       2   23.0
9      3458              NaN         1.0    21254       1   10.0
10     3458              NaN         1.0   416804       1   43.0
11     3458              NaN         1.0   419235       1   23.0
12     3458              NaN         1.0   673665       1   21.0
13     3458              NaN         2.0   325406       2   15.0
14     3458              NaN         1.0   207066       1   16.0
15     3458              NaN         1.0    99819       2   15.0
16     3458              NaN         1.0   959476       2   32.0
17     3458              NaN         1.0   326200       2   48.0
18     3458              NaN         1.0   393091       1    5.0
19     3458              NaN         1.0   946702       2   25.0
20     3458              NaN         1.0     5551       1   39.0
21     3458              NaN         1.0   392336       1   39.0
22     3458              NaN         1.0   344287       2   17.0
23     3458              NaN         1.0   956689       2   37.0
24     3458              NaN         1.0   772513       2   34.0
25     3458              NaN         1.0   852567       1   32.0
26     3458              NaN         1.0    95974       2   33.0
27     3458              NaN         1.0   684563       1   35.0
28     3458              NaN         1.0   380702       2   36.0
29     3458              NaN         1.0   881635       1   24.0
..      ...              ...         ...      ...     ...    ...
70     3458              NaN        39.0     5551       1    NaN
71     3458              NaN        39.0   392336       1    NaN
72     3458              NaN        17.0   344287       2    NaN
73     3458              NaN        37.0   956689       2    NaN
74     3458              NaN        34.0   772513       2    NaN
75     3458              NaN        32.0   852567       1    NaN
76     3458              NaN        33.0    95974       2    NaN
77     3458              NaN        35.0   684563       1    NaN
78     3458              NaN        36.0   380702       2    NaN
79     3458              NaN        24.0   881635       1    NaN
80     3458              NaN         7.0   452015       1    NaN
81     3458              NaN        10.0   572327       1    NaN
82     3458              NaN         5.0   140458       1    NaN
83     3458              NaN        42.0   609632       1    NaN
84     3458              NaN        49.0   278509       2    NaN
85     3458              NaN        22.0   100538       1    NaN
86     3458              NaN        46.0   442642       1    NaN
87     3458              NaN        37.0   502657       1    NaN
88     3457              NaN        15.0   272037       2    NaN
89     3457              NaN        36.0    40364       1    NaN
90     3457              NaN        20.0   944265       1    NaN
91     3457              NaN         5.0  1041544       1    NaN
92     3457              NaN         3.0    58552       1    NaN
93     3457              NaN         5.0   742787       2    NaN
94     3457              NaN        44.0   131411       1    NaN
95     3457              NaN        25.0   232114       1    NaN
96     3457              NaN        23.0   263508       2    NaN
97     3457              NaN         3.0   516710       2    NaN
98     3457              NaN         7.0   319480       1    NaN
99     3457              NaN        14.0   662650       1    NaN

[100 rows x 6 columns]

In [114]:
fraud[balance'quartiles']=pd.qcut(fraud[balance],4,labels=[balance'0-25%',balance'25-50%',balance'50-75%',balance'75-100%'])

SyntaxError: invalid syntax (<ipython-input-114-6d09c7c8d248>, line 1)