In [1]:
import os as os

In [2]:
import pandas as pd

In [3]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\admin\lib\site-packages

In [4]:
os.getcwd()

'C:\\Users\\admin'

In [6]:
os.chdir('D:\\')

In [8]:
os.listdir()

['$RECYCLE.BIN',
 '.RData',
 '.Rhistory',
 '.Rproj.user',
 '20170107_235933.jpg',
 '20170107_235933.rar',
 '94d5a5c4a69c5caf95883b7172',
 'AlbumArtSmall.jpg',
 'Arthashastra_of_Chanakya_-_English.pdf',
 'aug sep.xlsx',
 'AUGUST LULU 2016(5).xls',
 'AXIS BANK MUTUAL FUND.pdf',
 'axis bank statement.pdf',
 'AxisMFOnline.pdf',
 'BANGALORE TICKET brs..one',
 'bank statement.pdf',
 'BigDiamonds.csv',
 'Book1.xlsx',
 'bucon increment letter.pdf',
 'bucon Septmber.xlsx',
 'C.docx',
 'CANCELLED CHEQUE.pdf',
 'CANCELLED CHEQUE.txt',
 'ccFraud.csv',
 'ChatLog Data Analytics Course 2-introduction sas.rtf',
 'ChatLog Data Analytics Course Weekday Batch  2017_02_09 21_38.rtf',
 'cheque copy.pdf',
 'connect to postgres',
 'control panel.docx',
 'copy formula.docx',
 'Copy of Bucon- August 2016  latest(1).xlsx',
 'Copy of Bucon- August 2016  latest.xlsx',
 'Copy of Practice file after session 3.xlsx',
 'CPWD__Building_sample_tcr_1.3619.xls',
 'CREATION OF TABLE.docx',
 'D',
 'd.docx',
 'DAP-1.pdf',
 'DAP-2.pdf',
 'DAP-3-Intro-to-R-and-Analytics-Using-R-1.pdf',
 'DAP-4-Intro-to-SAS.pdf',
 'DAP-5-Introduction-to-Python.pdf',
 'DAP-6-RDBMS-and-SQL-1 (1).pdf',
 'DAP-6-RDBMS-and-SQL-1.pdf',
 'details of course.docx',
 'details of face cleaning.docx',
 'Digital vidya invoice.pdf',
 'divine benefits.xlsx',
 'doc  44.docx',
 'Doc1.docx',
 'Doc2.docx',
 'Doc3.docx',
 'Doc4.docx',
 'download.htm',
 'download.html',
 'draft-model-gst-law-25-11-2016 - Copy.pdf',
 'draft-model-gst-law-25-11-2016.pdf',
 'dram.html',
 'dram.R',
 'dsds.html',
 'dsds.R',
 'E9864400',
 'EDBS screenshot.docx',
 'eedf.R',
 'Enthe Kannanu.mp3',
 'Enthe-Kannanu-Various.html',
 'error in sas assignment.docx',
 'Excel file to work on during Online Sessions.xlsx',
 'Excel Important Shortcuts.pdf',
 'Folder.jpg',
 'ghss varavoor-final.xls',
 'git_real-level-1.pdf',
 'Hedonic.csv',
 'hotel rameshwaram.pdf',
 'How to view datasets in R.docx',
 'how to view last class python.docx',
 'ICRTC DOCUMENT.docx',
 'introduction to python.docx',
 'joppan.xps',
 'jupyter.docx',
 'k k iBRAHIM.xlsx',
 'kabali theathre.docx',
 'Kahaani 2 Hindi (2016) DVDScr x264-MRF.mp4',
 'Kannetha Doore Marutheeram.mp3',
 'kathala_kannala_song_from_anjathae_ayngaran_hd_quality.php',
 'Kerala-Municipal-Act-1994.pdf',
 'KKK.jpg',
 'KKK.rar',
 'Kochavva Paulo Ayyappa Coelho 2016',
 'leftcutter.jpg',
 'link of python class learned on 4-04.xlsx',
 'loading error sqldf.docx',
 'Logical Operations Questions.pdf',
 'Login.htm',
 'loops function error.docx',
 'matlab-python-xref.pdf',
 'mtcars.csv',
 'New User Registration.html',
 'New User Registration_files',
 'Payment.pdf',
 'PDF statement axis bank.pdf',
 'practise session 3 ready.xlsx',
 'practise session ready.xlsx',
 'Profession Tax as per Kerala Municipal Act.docx',
 'python class.docx',
 'python.docx',
 'Python_qr (1).pdf',
 'Python_qr.pdf',
 'Quandl+-+Pandas,+SciPy,+NumPy+Cheat+Sheet.pdf',
 'Quandl+-+R+Cheat+Sheet.pdf',
 'R',
 'R console.docx',
 'R error.docx',
 'R history',
 'r save',
 'R work assignment latest.R',
 'R work assignment.R',
 'ramdas.xps',
 'rameswaram stay.one',
 'RCommander.R',
 'RCommander.txt',
 'RCommanderMarkdown.Rmd',
 'rd.R',
 'rforanalytics-master',
 'rforanalytics-master.zip',
 'Ricci-refcard-regression.pdf',
 'Ricci-refcard-ts.pdf',
 'rree,document.R',
 'rrr.R',
 'sas assignment given in R.docx',
 'SAS error installation.docx',
 'Sas error message.docx',
 'SAS Store.htm',
 'SAS Store_files',
 'sas user details vij.docx',
 'SAS window.docx',
 'Short-refcard.pdf',
 'Sri Aurobindo Society.pdf',
 'Stats-for-Data-Analysts.pdf',
 'System Volume Information',
 'tax benefits.xlsx',
 'thoppil john.doc',
 'thoppil john.one',
 'Ticket - Abibus.txt',
 'TRAIN TICKET CHARGESS.docx',
 'untitled new.R',
 'Untitled17.ipynb',
 'vijay increment letter.pdf',
 'vijay insurance.pdf',
 'vodafone sep.pdf',
 'working statistics',
 'www.TamilRockers.com - Anjathe [2008] Tamil 720p DVDRip AC3 5.1 x264 1.4GB.mkv',
 'www.TamilRockers.com - Naanum Rowdydhaan (2015)[DVDScr - x264 - 1CDRip - 700MB - Tamil].mkv',
 'www.TamilRockers.la - Kaashmora (2016)[HQ Real DVDScr - x264 - 700MB - Tamil].mkv',
 'www.TamilRockers.la - Pretham  2016  Malayalam DVDRip x264 800MB ESubs.mkv',
 'xact time file was last modified.docx',
 'YanchangZhao-refcard-data-mining.pdf',
 '[ZippyMovieZ.DE] Karinkunnam Sixes (2016) Malayalam DVDRip - 1GB - x264 - AAC - Esub - Chaps - DrC Release.mkv',
 '[ZippyMovieZ.EU] Anuraga Karikkin Vellam (2016) Malayalam DVDRip x264 AAC 5.1 ESubs 800MB ZippyMovieZ ExCluSivE.mkv',
 '~$BS screenshot.docx',
 '~$d.docx',
 '~$Doc3.docx',
 '~$Excel file to work on during Online Sessions.xlsx',
 '~$NCELLED CHEQUE.txt',
 '~$oppil john.doc',
 '~$py formula.docx',
 '~$s user details vij.docx',
 '~$troduction to python.docx',
 '~$w to view datasets in R.docx']

In [9]:
hedonic=pd.read_csv("Hedonic.csv")

In [10]:
hedonic2=hedonic

In [11]:
hedonic3=hedonic.copy()

In [12]:
type(hedonic)

pandas.core.frame.DataFrame

In [13]:
hedonic.columns

Index(['Unnamed: 0', 'mv', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age',
       'dis', 'rad', 'tax', 'ptratio', 'blacks', 'lstat', 'townid'],
      dtype='object')

In [14]:
hedonic.dtypes

Unnamed: 0      int64
mv            float64
crim          float64
zn            float64
indus         float64
chas           object
nox           float64
rm            float64
age           float64
dis           float64
rad           float64
tax             int64
ptratio       float64
blacks        float64
lstat         float64
townid          int64
dtype: object

In [15]:
hedonic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 16 columns):
Unnamed: 0    506 non-null int64
mv            506 non-null float64
crim          506 non-null float64
zn            506 non-null float64
indus         506 non-null float64
chas          506 non-null object
nox           506 non-null float64
rm            506 non-null float64
age           506 non-null float64
dis           506 non-null float64
rad           506 non-null float64
tax           506 non-null int64
ptratio       506 non-null float64
blacks        506 non-null float64
lstat         506 non-null float64
townid        506 non-null int64
dtypes: float64(12), int64(3), object(1)
memory usage: 63.3+ KB

In [16]:
hedonic.memory_usage()

Index           80
Unnamed: 0    4048
mv            4048
crim          4048
zn            4048
indus         4048
chas          4048
nox           4048
rm            4048
age           4048
dis           4048
rad           4048
tax           4048
ptratio       4048
blacks        4048
lstat         4048
townid        4048
dtype: int64

In [17]:
hedonic.memory_usage(index=True).sum()

64848

In [18]:
hedonic.shape

(506, 16)

In [19]:
len(hedonic)

506

In [20]:
hedonic.columns

Index(['Unnamed: 0', 'mv', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age',
       'dis', 'rad', 'tax', 'ptratio', 'blacks', 'lstat', 'townid'],
      dtype='object')

In [21]:
hedonic.shape[1]

16

In [97]:
len(hedonic)

506

In [23]:
hedonic.head(10)

,Unnamed: 0,mv,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,blacks,lstat,townid
0,1,10.08580,0.00632,18.0,2.309999,no,28.944401,43.230598,65.199951,1.40854,0.00000,296,15.299995,0.39690,-3.00074,1
1,2,9.98045,0.02731,0.0,7.070000,no,21.996099,41.229198,78.899963,1.60283,0.69315,242,17.799988,0.39690,-2.39251,2
2,3,10.45450,0.02730,0.0,7.070000,no,21.996099,51.624199,61.099976,1.60283,0.69315,242,17.799988,0.39283,-3.21165,2
3,4,10.41630,0.03237,0.0,2.179998,no,20.976400,48.972000,45.799988,1.80207,1.09861,222,18.699997,0.39464,-3.52744,3
4,5,10.49680,0.06905,0.0,2.179998,no,20.976400,51.079601,54.199982,1.80207,1.09861,222,18.699997,0.39690,-2.93163,3
5,6,10.26470,0.02985,0.0,2.179998,no,20.976400,41.344898,58.699982,1.80207,1.09861,222,18.699997,0.39412,-2.95555,3
6,7,10.03890,0.08829,12.5,7.869999,no,27.457600,36.144100,66.599976,1.71569,1.60944,311,15.199997,0.39560,-2.08482,4
7,8,10.20730,0.14455,12.5,7.869999,no,27.457600,38.093601,96.099976,1.78347,1.60944,311,15.199997,0.39690,-1.65276,4
8,9,9.71112,0.21124,12.5,7.869999,no,27.457600,31.708200,100.000000,1.80535,1.60944,311,15.199997,0.38664,-1.20638,4
9,10,9.84692,0.17004,12.5,7.869999,no,27.457600,36.048000,85.899963,1.88587,1.60944,311,15.199997,0.38671,-1.76627,4

In [24]:
hedonic.tail()

,Unnamed: 0,mv,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,blacks,lstat,townid
501,502,10.01680,0.06263,0.0,11.929993,no,32.832901,43.467701,69.099976,0.90769,0.0,273,21.0,0.39199,-2.33604,92
502,503,9.93305,0.04527,0.0,11.929993,no,32.832901,37.454399,76.699951,0.82746,0.0,273,21.0,0.39690,-2.39910,92
503,504,10.08160,0.06076,0.0,11.929993,no,32.832901,48.664600,91.000000,0.77357,0.0,273,21.0,0.39690,-2.87582,92
504,505,9.99880,0.10959,0.0,11.929993,no,32.832901,46.158401,89.299988,0.87083,0.0,273,21.0,0.39346,-2.73630,92
505,506,9.38429,0.04741,0.0,11.929993,no,32.832901,36.360901,80.799988,0.91829,0.0,273,21.0,0.39690,-2.54033,92

In [25]:
hedonic.mv.head()

0    10.08580
1     9.98045
2    10.45450
3    10.41630
4    10.49680
Name: mv, dtype: float64

In [26]:
hedonic.head().mv

0    10.08580
1     9.98045
2    10.45450
3    10.41630
4    10.49680
Name: mv, dtype: float64

In [27]:
hedonic['mv'].head()

0    10.08580
1     9.98045
2    10.45450
3    10.41630
4    10.49680
Name: mv, dtype: float64

In [28]:
import numpy as np

In [29]:
hedonic[['mv','crim','zn']].head()

         mv     crim    zn
0  10.08580  0.00632  18.0
1   9.98045  0.02731   0.0
2  10.45450  0.02730   0.0
3  10.41630  0.03237   0.0
4  10.49680  0.06905   0.0

In [30]:
np.random.choice(100,5)

array([77, 39, 87, 75, 45])

In [31]:
np.random.choice(len(hedonic),0.000001*len(hedonic))

C:\Users\admin\lib\site-packages\ipykernel\__main__.py:1: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  if __name__ == '__main__':

array([], dtype=int32)

In [32]:
b=np.random.choice(len(hedonic),0.000001*len(hedonic))

C:\Users\admin\lib\site-packages\ipykernel\__main__.py:1: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  if __name__ == '__main__':

In [33]:
hedonic.ix[b]

Empty DataFrame
Columns: [Unnamed: 0, mv, crim, zn, indus, chas, nox, rm, age, dis, rad, tax, ptratio, blacks, lstat, townid]
Index: []

In [34]:
del hedonic['mv']

In [35]:
hedonic

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,blacks,lstat,townid
0,1,0.00632,18.0,2.309999,no,28.944401,43.230598,65.199951,1.40854,0.00000,296,15.299995,0.39690,-3.00074,1
1,2,0.02731,0.0,7.070000,no,21.996099,41.229198,78.899963,1.60283,0.69315,242,17.799988,0.39690,-2.39251,2
2,3,0.02730,0.0,7.070000,no,21.996099,51.624199,61.099976,1.60283,0.69315,242,17.799988,0.39283,-3.21165,2
3,4,0.03237,0.0,2.179998,no,20.976400,48.972000,45.799988,1.80207,1.09861,222,18.699997,0.39464,-3.52744,3
4,5,0.06905,0.0,2.179998,no,20.976400,51.079601,54.199982,1.80207,1.09861,222,18.699997,0.39690,-2.93163,3
5,6,0.02985,0.0,2.179998,no,20.976400,41.344898,58.699982,1.80207,1.09861,222,18.699997,0.39412,-2.95555,3
6,7,0.08829,12.5,7.869999,no,27.457600,36.144100,66.599976,1.71569,1.60944,311,15.199997,0.39560,-2.08482,4
7,8,0.14455,12.5,7.869999,no,27.457600,38.093601,96.099976,1.78347,1.60944,311,15.199997,0.39690,-1.65276,4
8,9,0.21124,12.5,7.869999,no,27.457600,31.708200,100.000000,1.80535,1.60944,311,15.199997,0.38664,-1.20638,4
9,10,0.17004,12.5,7.869999,no,27.457600,36.048000,85.899963,1.88587,1.60944,311,15.199997,0.38671,-1.76627,4
10,11,0.22489,12.5,7.869999,no,27.457600,40.666100,94.299988,1.84793,1.60944,311,15.199997,0.39251,-1.58733,4
11,12,0.11747,12.5,7.869999,no,27.457600,36.108101,82.899963,1.82885,1.60944,311,15.199997,0.39690,-2.01966,4
12,13,0.09378,12.5,7.869999,no,27.457600,34.680302,39.000000,1.69578,1.60944,311,15.199997,0.39050,-1.85075,4
13,14,0.62976,0.0,8.139999,no,28.944401,35.390598,61.799988,1.54916,1.38629,307,21.000000,0.39690,-2.49411,5
14,15,0.63796,0.0,8.139999,no,28.944401,37.161201,84.500000,1.49557,1.38629,307,21.000000,0.38002,-2.27692,5
15,16,0.62739,0.0,8.139999,no,28.944401,34.035500,56.500000,1.50377,1.38629,307,21.000000,0.39562,-2.46852,5
16,17,1.05393,0.0,8.139999,no,28.944401,35.224201,29.299988,1.50377,1.38629,307,21.000000,0.38685,-2.72174,5
17,18,0.78420,0.0,8.139999,no,28.944401,35.880100,81.699951,1.44878,1.38629,307,21.000000,0.38675,-1.91943,5
18,19,0.80271,0.0,8.139999,no,28.944401,29.767900,36.599976,1.33408,1.38629,307,21.000000,0.28899,-2.14652,5
19,20,0.72580,0.0,8.139999,no,28.944401,32.798500,69.500000,1.33408,1.38629,307,21.000000,0.39095,-2.18196,5
20,21,1.25179,0.0,8.139999,no,28.944401,31.024900,98.099976,1.33445,1.38629,307,21.000000,0.37657,-1.55989,5
21,22,0.85204,0.0,8.139999,no,28.944401,35.581200,89.199951,1.38936,1.38629,307,21.000000,0.39253,-1.97818,5
22,23,1.23247,0.0,8.139999,no,28.944401,37.724201,91.699951,1.38050,1.38629,307,21.000000,0.39690,-1.67563,5
23,24,0.98843,0.0,8.139999,no,28.944401,33.791000,100.000000,1.40981,1.38629,307,21.000000,0.39453,-1.61530,5
24,25,0.75026,0.0,8.139999,no,28.944401,35.093700,94.099976,1.48151,1.38629,307,21.000000,0.39433,-1.81376,5
25,26,0.84054,0.0,8.139999,no,28.944401,31.348801,85.699951,1.49394,1.38629,307,21.000000,0.30342,-1.80108,5
26,27,0.67191,0.0,8.139999,no,28.944401,33.791000,90.299988,1.54372,1.38629,307,21.000000,0.37689,-1.90987,5
27,28,0.95578,0.0,8.139999,no,28.944401,36.566200,88.799988,1.49367,1.38629,307,21.000000,0.30638,-1.75585,5
28,29,0.77299,0.0,8.139999,no,28.944401,42.185001,94.399963,1.49396,1.38629,307,21.000000,0.38794,-2.05557,5
29,30,1.00245,0.0,8.139999,no,28.944401,44.542301,87.299988,1.44433,1.38629,307,21.000000,0.38023,-2.12218,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,477,4.87141,0.0,18.099991,no,37.699600,42.042198,93.599976,0.83521,3.17805,666,20.199997,0.39621,-1.67777,87
477,478,15.02340,0.0,18.099991,no,37.699600,28.132401,97.299988,0.74227,3.17805,666,20.199997,0.34948,-1.38982,87
478,479,10.23300,0.0,18.099991,no,37.699600,38.254200,96.699951,0.77496,3.17805,666,20.199997,0.37970,-1.71335,87
479,480,14.33370,0.0,18.099991,no,37.699600,38.800400,88.000000,0.66844,3.17805,666,20.199997,0.38332,-2.03202,87
480,481,5.82401,0.0,18.099991,no,28.302401,38.962502,64.699951,1.23087,3.17805,666,20.199997,0.39690,-2.23120,88
481,482,5.70818,0.0,18.099991,no,28.302401,45.562500,74.899963,1.20348,3.17805,666,20.199997,0.39307,-2.55903,88
482,483,5.73116,0.0,18.099991,no,28.302401,49.857700,77.000000,1.22689,3.17805,666,20.199997,0.39528,-2.65726,88
483,484,2.81838,0.0,18.099991,no,28.302401,33.200600,40.299988,1.41057,3.17805,666,20.199997,0.39292,-2.26135,88
484,485,2.37857,0.0,18.099991,no,33.988899,34.468601,41.899994,1.31480,3.17805,666,20.199997,0.37073,-2.01463,89
485,486,3.67367,0.0,18.099991,no,33.988899,39.841301,51.899994,1.38422,3.17805,666,20.199997,0.38862,-2.24630,89
486,487,5.69175,0.0,18.099991,no,33.988899,37.381001,79.799988,1.26579,3.17805,666,20.199997,0.39268,-1.89872,89
487,488,4.83567,0.0,18.099991,no,33.988899,34.868999,53.199982,1.14813,3.17805,666,20.199997,0.38822,-2.16727,89
488,489,0.15086,0.0,27.739990,no,37.088100,29.746099,92.699951,0.59933,1.38629,711,20.099991,0.39509,-1.71125,90
489,490,0.18337,0.0,27.739990,no,37.088100,29.311399,98.299988,0.56270,1.38629,711,20.099991,0.34405,-1.42828,90
490,491,0.20746,0.0,27.739990,no,37.088100,25.938601,98.000000,0.60026,1.38629,711,20.099991,0.31843,-1.21460,90
491,492,0.10574,0.0,27.739990,no,37.088100,35.796299,98.799988,0.62492,1.38629,711,20.099991,0.39011,-1.71097,90
492,493,0.11132,0.0,27.739990,no,37.088100,35.796299,83.500000,0.74664,1.38629,711,20.099991,0.39690,-2.01328,90
493,494,0.17331,0.0,9.689995,no,34.222500,32.569801,54.000000,0.86781,1.79176,391,19.199997,0.39690,-2.11943,91
494,495,0.27957,0.0,9.689995,no,34.222500,35.117500,42.599976,0.86781,1.79176,391,19.199997,0.39690,-1.99584,91
495,496,0.17899,0.0,9.689995,no,34.222500,32.148899,28.799988,1.02912,1.79176,391,19.199997,0.39329,-1.73733,91
496,497,0.28960,0.0,9.689995,no,34.222500,29.052099,72.899963,1.02912,1.79176,391,19.199997,0.39690,-1.55377,91
497,498,0.26838,0.0,9.689995,no,34.222500,33.570400,70.599976,1.06219,1.79176,391,19.199997,0.39690,-1.95899,91
498,499,0.23912,0.0,9.689995,no,34.222500,36.228298,65.299988,0.87925,1.79176,391,19.199997,0.39690,-2.04624,91
499,500,0.17783,0.0,9.689995,no,34.222500,31.013700,73.500000,0.87543,1.79176,391,19.199997,0.39577,-1.89061,91
500,501,0.22438,0.0,9.689995,no,34.222500,36.324699,79.699951,0.91557,1.79176,391,19.199997,0.39690,-1.94302,91
501,502,0.06263,0.0,11.929993,no,32.832901,43.467701,69.099976,0.90769,0.00000,273,21.000000,0.39199,-2.33604,92
502,503,0.04527,0.0,11.929993,no,32.832901,37.454399,76.699951,0.82746,0.00000,273,21.000000,0.39690,-2.39910,92
503,504,0.06076,0.0,11.929993,no,32.832901,48.664600,91.000000,0.77357,0.00000,273,21.000000,0.39690,-2.87582,92
504,505,0.10959,0.0,11.929993,no,32.832901,46.158401,89.299988,0.87083,0.00000,273,21.000000,0.39346,-2.73630,92
505,506,0.04741,0.0,11.929993,no,32.832901,36.360901,80.799988,0.91829,0.00000,273,21.000000,0.39690,-2.54033,92

In [37]:
hedonic.iloc[:,[1,2,3]]

         crim    zn      indus
0     0.00632  18.0   2.309999
1     0.02731   0.0   7.070000
2     0.02730   0.0   7.070000
3     0.03237   0.0   2.179998
4     0.06905   0.0   2.179998
5     0.02985   0.0   2.179998
6     0.08829  12.5   7.869999
7     0.14455  12.5   7.869999
8     0.21124  12.5   7.869999
9     0.17004  12.5   7.869999
10    0.22489  12.5   7.869999
11    0.11747  12.5   7.869999
12    0.09378  12.5   7.869999
13    0.62976   0.0   8.139999
14    0.63796   0.0   8.139999
15    0.62739   0.0   8.139999
16    1.05393   0.0   8.139999
17    0.78420   0.0   8.139999
18    0.80271   0.0   8.139999
19    0.72580   0.0   8.139999
20    1.25179   0.0   8.139999
21    0.85204   0.0   8.139999
22    1.23247   0.0   8.139999
23    0.98843   0.0   8.139999
24    0.75026   0.0   8.139999
25    0.84054   0.0   8.139999
26    0.67191   0.0   8.139999
27    0.95578   0.0   8.139999
28    0.77299   0.0   8.139999
29    1.00245   0.0   8.139999
..        ...   ...        ...
476   4.87141   0.0  18.099991
477  15.02340   0.0  18.099991
478  10.23300   0.0  18.099991
479  14.33370   0.0  18.099991
480   5.82401   0.0  18.099991
481   5.70818   0.0  18.099991
482   5.73116   0.0  18.099991
483   2.81838   0.0  18.099991
484   2.37857   0.0  18.099991
485   3.67367   0.0  18.099991
486   5.69175   0.0  18.099991
487   4.83567   0.0  18.099991
488   0.15086   0.0  27.739990
489   0.18337   0.0  27.739990
490   0.20746   0.0  27.739990
491   0.10574   0.0  27.739990
492   0.11132   0.0  27.739990
493   0.17331   0.0   9.689995
494   0.27957   0.0   9.689995
495   0.17899   0.0   9.689995
496   0.28960   0.0   9.689995
497   0.26838   0.0   9.689995
498   0.23912   0.0   9.689995
499   0.17783   0.0   9.689995
500   0.22438   0.0   9.689995
501   0.06263   0.0  11.929993
502   0.04527   0.0  11.929993
503   0.06076   0.0  11.929993
504   0.10959   0.0  11.929993
505   0.04741   0.0  11.929993

[506 rows x 3 columns]

fraud.iloc[:,[1,2,8]].head()

fraud.drop(fraud.columns[[0, 4]], axis=1, inplace=True)

In [39]:
hedonic.drop(hedonic.columns[[0,4]],axis=1,inplace=True)

In [41]:
hedonic.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,blacks,lstat,townid
0,0.00632,18.0,2.309999,28.944401,43.230598,65.199951,1.40854,0.00000,296,15.299995,0.39690,-3.00074,1
1,0.02731,0.0,7.070000,21.996099,41.229198,78.899963,1.60283,0.69315,242,17.799988,0.39690,-2.39251,2
2,0.02730,0.0,7.070000,21.996099,51.624199,61.099976,1.60283,0.69315,242,17.799988,0.39283,-3.21165,2
3,0.03237,0.0,2.179998,20.976400,48.972000,45.799988,1.80207,1.09861,222,18.699997,0.39464,-3.52744,3
4,0.06905,0.0,2.179998,20.976400,51.079601,54.199982,1.80207,1.09861,222,18.699997,0.39690,-2.93163,3

In [42]:
hedonic2.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,blacks,lstat,townid
0,0.00632,18.0,2.309999,28.944401,43.230598,65.199951,1.40854,0.00000,296,15.299995,0.39690,-3.00074,1
1,0.02731,0.0,7.070000,21.996099,41.229198,78.899963,1.60283,0.69315,242,17.799988,0.39690,-2.39251,2
2,0.02730,0.0,7.070000,21.996099,51.624199,61.099976,1.60283,0.69315,242,17.799988,0.39283,-3.21165,2
3,0.03237,0.0,2.179998,20.976400,48.972000,45.799988,1.80207,1.09861,222,18.699997,0.39464,-3.52744,3
4,0.06905,0.0,2.179998,20.976400,51.079601,54.199982,1.80207,1.09861,222,18.699997,0.39690,-2.93163,3

In [43]:
hedonic3.head()

,Unnamed: 0,mv,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,blacks,lstat,townid
0,1,10.08580,0.00632,18.0,2.309999,no,28.944401,43.230598,65.199951,1.40854,0.00000,296,15.299995,0.39690,-3.00074,1
1,2,9.98045,0.02731,0.0,7.070000,no,21.996099,41.229198,78.899963,1.60283,0.69315,242,17.799988,0.39690,-2.39251,2
2,3,10.45450,0.02730,0.0,7.070000,no,21.996099,51.624199,61.099976,1.60283,0.69315,242,17.799988,0.39283,-3.21165,2
3,4,10.41630,0.03237,0.0,2.179998,no,20.976400,48.972000,45.799988,1.80207,1.09861,222,18.699997,0.39464,-3.52744,3
4,5,10.49680,0.06905,0.0,2.179998,no,20.976400,51.079601,54.199982,1.80207,1.09861,222,18.699997,0.39690,-2.93163,3

In [44]:
hedonic3.shape

(506, 16)

In [45]:
hedonic.drop(hedonic.index[[0,1,2,3]])

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,blacks,lstat,townid
4,0.06905,0.0,2.179998,20.976400,51.079601,54.199982,1.80207,1.09861,222,18.699997,0.39690,-2.93163,3
5,0.02985,0.0,2.179998,20.976400,41.344898,58.699982,1.80207,1.09861,222,18.699997,0.39412,-2.95555,3
6,0.08829,12.5,7.869999,27.457600,36.144100,66.599976,1.71569,1.60944,311,15.199997,0.39560,-2.08482,4
7,0.14455,12.5,7.869999,27.457600,38.093601,96.099976,1.78347,1.60944,311,15.199997,0.39690,-1.65276,4
8,0.21124,12.5,7.869999,27.457600,31.708200,100.000000,1.80535,1.60944,311,15.199997,0.38664,-1.20638,4
9,0.17004,12.5,7.869999,27.457600,36.048000,85.899963,1.88587,1.60944,311,15.199997,0.38671,-1.76627,4
10,0.22489,12.5,7.869999,27.457600,40.666100,94.299988,1.84793,1.60944,311,15.199997,0.39251,-1.58733,4
11,0.11747,12.5,7.869999,27.457600,36.108101,82.899963,1.82885,1.60944,311,15.199997,0.39690,-2.01966,4
12,0.09378,12.5,7.869999,27.457600,34.680302,39.000000,1.69578,1.60944,311,15.199997,0.39050,-1.85075,4
13,0.62976,0.0,8.139999,28.944401,35.390598,61.799988,1.54916,1.38629,307,21.000000,0.39690,-2.49411,5
14,0.63796,0.0,8.139999,28.944401,37.161201,84.500000,1.49557,1.38629,307,21.000000,0.38002,-2.27692,5
15,0.62739,0.0,8.139999,28.944401,34.035500,56.500000,1.50377,1.38629,307,21.000000,0.39562,-2.46852,5
16,1.05393,0.0,8.139999,28.944401,35.224201,29.299988,1.50377,1.38629,307,21.000000,0.38685,-2.72174,5
17,0.78420,0.0,8.139999,28.944401,35.880100,81.699951,1.44878,1.38629,307,21.000000,0.38675,-1.91943,5
18,0.80271,0.0,8.139999,28.944401,29.767900,36.599976,1.33408,1.38629,307,21.000000,0.28899,-2.14652,5
19,0.72580,0.0,8.139999,28.944401,32.798500,69.500000,1.33408,1.38629,307,21.000000,0.39095,-2.18196,5
20,1.25179,0.0,8.139999,28.944401,31.024900,98.099976,1.33445,1.38629,307,21.000000,0.37657,-1.55989,5
21,0.85204,0.0,8.139999,28.944401,35.581200,89.199951,1.38936,1.38629,307,21.000000,0.39253,-1.97818,5
22,1.23247,0.0,8.139999,28.944401,37.724201,91.699951,1.38050,1.38629,307,21.000000,0.39690,-1.67563,5
23,0.98843,0.0,8.139999,28.944401,33.791000,100.000000,1.40981,1.38629,307,21.000000,0.39453,-1.61530,5
24,0.75026,0.0,8.139999,28.944401,35.093700,94.099976,1.48151,1.38629,307,21.000000,0.39433,-1.81376,5
25,0.84054,0.0,8.139999,28.944401,31.348801,85.699951,1.49394,1.38629,307,21.000000,0.30342,-1.80108,5
26,0.67191,0.0,8.139999,28.944401,33.791000,90.299988,1.54372,1.38629,307,21.000000,0.37689,-1.90987,5
27,0.95578,0.0,8.139999,28.944401,36.566200,88.799988,1.49367,1.38629,307,21.000000,0.30638,-1.75585,5
28,0.77299,0.0,8.139999,28.944401,42.185001,94.399963,1.49396,1.38629,307,21.000000,0.38794,-2.05557,5
29,1.00245,0.0,8.139999,28.944401,44.542301,87.299988,1.44433,1.38629,307,21.000000,0.38023,-2.12218,5
30,1.13081,0.0,8.139999,28.944401,32.638401,94.099976,1.44291,1.38629,307,21.000000,0.36017,-1.48740,5
31,1.35472,0.0,8.139999,28.944401,36.869202,100.000000,1.42911,1.38629,307,21.000000,0.37673,-2.03738,5
32,1.38799,0.0,8.139999,28.944401,35.402500,82.000000,1.38379,1.38629,307,21.000000,0.23260,-1.28348,5
33,1.15172,0.0,8.139999,28.944401,32.501400,95.000000,1.33163,1.38629,307,21.000000,0.35877,-1.69549,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,4.87141,0.0,18.099991,37.699600,42.042198,93.599976,0.83521,3.17805,666,20.199997,0.39621,-1.67777,87
477,15.02340,0.0,18.099991,37.699600,28.132401,97.299988,0.74227,3.17805,666,20.199997,0.34948,-1.38982,87
478,10.23300,0.0,18.099991,37.699600,38.254200,96.699951,0.77496,3.17805,666,20.199997,0.37970,-1.71335,87
479,14.33370,0.0,18.099991,37.699600,38.800400,88.000000,0.66844,3.17805,666,20.199997,0.38332,-2.03202,87
480,5.82401,0.0,18.099991,28.302401,38.962502,64.699951,1.23087,3.17805,666,20.199997,0.39690,-2.23120,88
481,5.70818,0.0,18.099991,28.302401,45.562500,74.899963,1.20348,3.17805,666,20.199997,0.39307,-2.55903,88
482,5.73116,0.0,18.099991,28.302401,49.857700,77.000000,1.22689,3.17805,666,20.199997,0.39528,-2.65726,88
483,2.81838,0.0,18.099991,28.302401,33.200600,40.299988,1.41057,3.17805,666,20.199997,0.39292,-2.26135,88
484,2.37857,0.0,18.099991,33.988899,34.468601,41.899994,1.31480,3.17805,666,20.199997,0.37073,-2.01463,89
485,3.67367,0.0,18.099991,33.988899,39.841301,51.899994,1.38422,3.17805,666,20.199997,0.38862,-2.24630,89
486,5.69175,0.0,18.099991,33.988899,37.381001,79.799988,1.26579,3.17805,666,20.199997,0.39268,-1.89872,89
487,4.83567,0.0,18.099991,33.988899,34.868999,53.199982,1.14813,3.17805,666,20.199997,0.38822,-2.16727,89
488,0.15086,0.0,27.739990,37.088100,29.746099,92.699951,0.59933,1.38629,711,20.099991,0.39509,-1.71125,90
489,0.18337,0.0,27.739990,37.088100,29.311399,98.299988,0.56270,1.38629,711,20.099991,0.34405,-1.42828,90
490,0.20746,0.0,27.739990,37.088100,25.938601,98.000000,0.60026,1.38629,711,20.099991,0.31843,-1.21460,90
491,0.10574,0.0,27.739990,37.088100,35.796299,98.799988,0.62492,1.38629,711,20.099991,0.39011,-1.71097,90
492,0.11132,0.0,27.739990,37.088100,35.796299,83.500000,0.74664,1.38629,711,20.099991,0.39690,-2.01328,90
493,0.17331,0.0,9.689995,34.222500,32.569801,54.000000,0.86781,1.79176,391,19.199997,0.39690,-2.11943,91
494,0.27957,0.0,9.689995,34.222500,35.117500,42.599976,0.86781,1.79176,391,19.199997,0.39690,-1.99584,91
495,0.17899,0.0,9.689995,34.222500,32.148899,28.799988,1.02912,1.79176,391,19.199997,0.39329,-1.73733,91
496,0.28960,0.0,9.689995,34.222500,29.052099,72.899963,1.02912,1.79176,391,19.199997,0.39690,-1.55377,91
497,0.26838,0.0,9.689995,34.222500,33.570400,70.599976,1.06219,1.79176,391,19.199997,0.39690,-1.95899,91
498,0.23912,0.0,9.689995,34.222500,36.228298,65.299988,0.87925,1.79176,391,19.199997,0.39690,-2.04624,91
499,0.17783,0.0,9.689995,34.222500,31.013700,73.500000,0.87543,1.79176,391,19.199997,0.39577,-1.89061,91
500,0.22438,0.0,9.689995,34.222500,36.324699,79.699951,0.91557,1.79176,391,19.199997,0.39690,-1.94302,91
501,0.06263,0.0,11.929993,32.832901,43.467701,69.099976,0.90769,0.00000,273,21.000000,0.39199,-2.33604,92
502,0.04527,0.0,11.929993,32.832901,37.454399,76.699951,0.82746,0.00000,273,21.000000,0.39690,-2.39910,92
503,0.06076,0.0,11.929993,32.832901,48.664600,91.000000,0.77357,0.00000,273,21.000000,0.39690,-2.87582,92
504,0.10959,0.0,11.929993,32.832901,46.158401,89.299988,0.87083,0.00000,273,21.000000,0.39346,-2.73630,92
505,0.04741,0.0,11.929993,32.832901,36.360901,80.799988,0.91829,0.00000,273,21.000000,0.39690,-2.54033,92

In [46]:


s=pd.Series(range(1,101))

In [47]:
type(s)

pandas.core.series.Series

In [48]:
hedonic3.iloc[20:30,[1,8,11]]

         mv         age  tax
20  9.51783   98.099976  307
21  9.88329   89.199951  307
22  9.62905   91.699951  307
23  9.58190  100.000000  307
24  9.65503   94.099976  307
25  9.53964   85.699951  307
26  9.71716   90.299988  307
27  9.60238   88.799988  307
28  9.82011   94.399963  307
29  9.95228   87.299988  307

In [143]:
os.getcwd()

'C:\\Users\\admin\\Downloads'

In [145]:
os.listdir('D:\\')

['$RECYCLE.BIN',
 '.RData',
 '.Rhistory',
 '.Rproj.user',
 '20170107_235933.jpg',
 '20170107_235933.rar',
 '94d5a5c4a69c5caf95883b7172',
 'AlbumArtSmall.jpg',
 'Arthashastra_of_Chanakya_-_English.pdf',
 'aug sep.xlsx',
 'AUGUST LULU 2016(5).xls',
 'AXIS BANK MUTUAL FUND.pdf',
 'axis bank statement.pdf',
 'AxisMFOnline.pdf',
 'BANGALORE TICKET brs..one',
 'bank statement.pdf',
 'BigDiamonds.csv',
 'Book1.xlsx',
 'bucon increment letter.pdf',
 'bucon Septmber.xlsx',
 'C.docx',
 'CANCELLED CHEQUE.pdf',
 'CANCELLED CHEQUE.txt',
 'ccFraud.csv',
 'ChatLog Data Analytics Course 2-introduction sas.rtf',
 'ChatLog Data Analytics Course Weekday Batch  2017_02_09 21_38.rtf',
 'cheque copy.pdf',
 'connect to postgres',
 'control panel.docx',
 'copy formula.docx',
 'Copy of Bucon- August 2016  latest(1).xlsx',
 'Copy of Bucon- August 2016  latest.xlsx',
 'Copy of Practice file after session 3.xlsx',
 'CPWD__Building_sample_tcr_1.3619.xls',
 'CREATION OF TABLE.docx',
 'D',
 'd.docx',
 'DAP-1.pdf',
 'DAP-2.pdf',
 'DAP-3-Intro-to-R-and-Analytics-Using-R-1.pdf',
 'DAP-4-Intro-to-SAS.pdf',
 'DAP-5-Introduction-to-Python.pdf',
 'DAP-6-RDBMS-and-SQL-1 (1).pdf',
 'DAP-6-RDBMS-and-SQL-1.pdf',
 'details of course.docx',
 'details of face cleaning.docx',
 'Digital vidya invoice.pdf',
 'divine benefits.xlsx',
 'doc  44.docx',
 'Doc1.docx',
 'Doc2.docx',
 'Doc3.docx',
 'Doc4.docx',
 'download.htm',
 'download.html',
 'draft-model-gst-law-25-11-2016 - Copy.pdf',
 'draft-model-gst-law-25-11-2016.pdf',
 'dram.html',
 'dram.R',
 'dsds.html',
 'dsds.R',
 'E9864400',
 'EDBS screenshot.docx',
 'eedf.R',
 'Enthe Kannanu.mp3',
 'Enthe-Kannanu-Various.html',
 'error in sas assignment.docx',
 'Excel file to work on during Online Sessions.xlsx',
 'Excel Important Shortcuts.pdf',
 'Folder.jpg',
 'ghss varavoor-final.xls',
 'git_real-level-1.pdf',
 'Hedonic.csv',
 'hotel rameshwaram.pdf',
 'How to view datasets in R.docx',
 'how to view last class python.docx',
 'ICRTC DOCUMENT.docx',
 'introduction to python.docx',
 'joppan.xps',
 'jupyter.docx',
 'k k iBRAHIM.xlsx',
 'kabali theathre.docx',
 'Kahaani 2 Hindi (2016) DVDScr x264-MRF.mp4',
 'Kannetha Doore Marutheeram.mp3',
 'kathala_kannala_song_from_anjathae_ayngaran_hd_quality.php',
 'Kerala-Municipal-Act-1994.pdf',
 'KKK.jpg',
 'KKK.rar',
 'Kochavva Paulo Ayyappa Coelho 2016',
 'leftcutter.jpg',
 'link of python class learned on 4-04.xlsx',
 'loading error sqldf.docx',
 'Logical Operations Questions.pdf',
 'Login.htm',
 'loops function error.docx',
 'matlab-python-xref.pdf',
 'mtcars.csv',
 'New User Registration.html',
 'New User Registration_files',
 'Payment.pdf',
 'PDF statement axis bank.pdf',
 'practise session 3 ready.xlsx',
 'practise session ready.xlsx',
 'Profession Tax as per Kerala Municipal Act.docx',
 'python class.docx',
 'python.docx',
 'Python_qr (1).pdf',
 'Python_qr.pdf',
 'Quandl+-+Pandas,+SciPy,+NumPy+Cheat+Sheet.pdf',
 'Quandl+-+R+Cheat+Sheet.pdf',
 'R',
 'R console.docx',
 'R error.docx',
 'R history',
 'r save',
 'R work assignment latest.R',
 'R work assignment.R',
 'ramdas.xps',
 'rameswaram stay.one',
 'RCommander.R',
 'RCommander.txt',
 'RCommanderMarkdown.Rmd',
 'rd.R',
 'rforanalytics-master',
 'rforanalytics-master.zip',
 'Ricci-refcard-regression.pdf',
 'Ricci-refcard-ts.pdf',
 'rree,document.R',
 'rrr.R',
 'sas assignment given in R.docx',
 'SAS error installation.docx',
 'Sas error message.docx',
 'SAS Store.htm',
 'SAS Store_files',
 'sas user details vij.docx',
 'SAS window.docx',
 'Short-refcard.pdf',
 'Sri Aurobindo Society.pdf',
 'Stats-for-Data-Analysts.pdf',
 'System Volume Information',
 'tax benefits.xlsx',
 'thoppil john.doc',
 'thoppil john.one',
 'Ticket - Abibus.txt',
 'TRAIN TICKET CHARGESS.docx',
 'untitled new.R',
 'Untitled17.ipynb',
 'vijay increment letter.pdf',
 'vijay insurance.pdf',
 'vodafone sep.pdf',
 'working statistics',
 'www.TamilRockers.com - Anjathe [2008] Tamil 720p DVDRip AC3 5.1 x264 1.4GB.mkv',
 'www.TamilRockers.com - Naanum Rowdydhaan (2015)[DVDScr - x264 - 1CDRip - 700MB - Tamil].mkv',
 'www.TamilRockers.la - Kaashmora (2016)[HQ Real DVDScr - x264 - 700MB - Tamil].mkv',
 'www.TamilRockers.la - Pretham  2016  Malayalam DVDRip x264 800MB ESubs.mkv',
 'xact time file was last modified.docx',
 'YanchangZhao-refcard-data-mining.pdf',
 '[ZippyMovieZ.DE] Karinkunnam Sixes (2016) Malayalam DVDRip - 1GB - x264 - AAC - Esub - Chaps - DrC Release.mkv',
 '[ZippyMovieZ.EU] Anuraga Karikkin Vellam (2016) Malayalam DVDRip x264 AAC 5.1 ESubs 800MB ZippyMovieZ ExCluSivE.mkv',
 '~$BS screenshot.docx',
 '~$d.docx',
 '~$Doc3.docx',
 '~$Excel file to work on during Online Sessions.xlsx',
 '~$NCELLED CHEQUE.txt',
 '~$oppil john.doc',
 '~$py formula.docx',
 '~$s user details vij.docx',
 '~$troduction to python.docx',
 '~$w to view datasets in R.docx']

In [148]:
os.listdir('D:\\')

['$RECYCLE.BIN',
 '.RData',
 '.Rhistory',
 '.Rproj.user',
 '20170107_235933.jpg',
 '20170107_235933.rar',
 '94d5a5c4a69c5caf95883b7172',
 'AlbumArtSmall.jpg',
 'Arthashastra_of_Chanakya_-_English.pdf',
 'aug sep.xlsx',
 'AUGUST LULU 2016(5).xls',
 'AXIS BANK MUTUAL FUND.pdf',
 'axis bank statement.pdf',
 'AxisMFOnline.pdf',
 'BANGALORE TICKET brs..one',
 'bank statement.pdf',
 'BigDiamonds.csv',
 'Book1.xlsx',
 'bucon increment letter.pdf',
 'bucon Septmber.xlsx',
 'C.docx',
 'CANCELLED CHEQUE.pdf',
 'CANCELLED CHEQUE.txt',
 'ccFraud.csv',
 'ChatLog Data Analytics Course 2-introduction sas.rtf',
 'ChatLog Data Analytics Course Weekday Batch  2017_02_09 21_38.rtf',
 'cheque copy.pdf',
 'connect to postgres',
 'control panel.docx',
 'copy formula.docx',
 'Copy of Bucon- August 2016  latest(1).xlsx',
 'Copy of Bucon- August 2016  latest.xlsx',
 'Copy of Practice file after session 3.xlsx',
 'CPWD__Building_sample_tcr_1.3619.xls',
 'CREATION OF TABLE.docx',
 'D',
 'd.docx',
 'DAP-1.pdf',
 'DAP-2.pdf',
 'DAP-3-Intro-to-R-and-Analytics-Using-R-1.pdf',
 'DAP-4-Intro-to-SAS.pdf',
 'DAP-5-Introduction-to-Python.pdf',
 'DAP-6-RDBMS-and-SQL-1 (1).pdf',
 'DAP-6-RDBMS-and-SQL-1.pdf',
 'details of course.docx',
 'details of face cleaning.docx',
 'Digital vidya invoice.pdf',
 'divine benefits.xlsx',
 'doc  44.docx',
 'Doc1.docx',
 'Doc2.docx',
 'Doc3.docx',
 'Doc4.docx',
 'download.htm',
 'download.html',
 'draft-model-gst-law-25-11-2016 - Copy.pdf',
 'draft-model-gst-law-25-11-2016.pdf',
 'dram.html',
 'dram.R',
 'dsds.html',
 'dsds.R',
 'E9864400',
 'EDBS screenshot.docx',
 'eedf.R',
 'Enthe Kannanu.mp3',
 'Enthe-Kannanu-Various.html',
 'error in sas assignment.docx',
 'Excel file to work on during Online Sessions.xlsx',
 'Excel Important Shortcuts.pdf',
 'Folder.jpg',
 'ghss varavoor-final.xls',
 'git_real-level-1.pdf',
 'Hedonic.csv',
 'hotel rameshwaram.pdf',
 'How to view datasets in R.docx',
 'how to view last class python.docx',
 'ICRTC DOCUMENT.docx',
 'introduction to python.docx',
 'joppan.xps',
 'jupyter.docx',
 'k k iBRAHIM.xlsx',
 'kabali theathre.docx',
 'Kahaani 2 Hindi (2016) DVDScr x264-MRF.mp4',
 'Kannetha Doore Marutheeram.mp3',
 'kathala_kannala_song_from_anjathae_ayngaran_hd_quality.php',
 'Kerala-Municipal-Act-1994.pdf',
 'KKK.jpg',
 'KKK.rar',
 'Kochavva Paulo Ayyappa Coelho 2016',
 'leftcutter.jpg',
 'link of python class learned on 4-04.xlsx',
 'loading error sqldf.docx',
 'Logical Operations Questions.pdf',
 'Login.htm',
 'loops function error.docx',
 'matlab-python-xref.pdf',
 'mtcars.csv',
 'New User Registration.html',
 'New User Registration_files',
 'Payment.pdf',
 'PDF statement axis bank.pdf',
 'practise session 3 ready.xlsx',
 'practise session ready.xlsx',
 'Profession Tax as per Kerala Municipal Act.docx',
 'python class.docx',
 'python.docx',
 'Python_qr (1).pdf',
 'Python_qr.pdf',
 'Quandl+-+Pandas,+SciPy,+NumPy+Cheat+Sheet.pdf',
 'Quandl+-+R+Cheat+Sheet.pdf',
 'R',
 'R console.docx',
 'R error.docx',
 'R history',
 'r save',
 'R work assignment latest.R',
 'R work assignment.R',
 'ramdas.xps',
 'rameswaram stay.one',
 'RCommander.R',
 'RCommander.txt',
 'RCommanderMarkdown.Rmd',
 'rd.R',
 'rforanalytics-master',
 'rforanalytics-master.zip',
 'Ricci-refcard-regression.pdf',
 'Ricci-refcard-ts.pdf',
 'rree,document.R',
 'rrr.R',
 'sas assignment given in R.docx',
 'SAS error installation.docx',
 'Sas error message.docx',
 'SAS Store.htm',
 'SAS Store_files',
 'sas user details vij.docx',
 'SAS window.docx',
 'Short-refcard.pdf',
 'Sri Aurobindo Society.pdf',
 'Stats-for-Data-Analysts.pdf',
 'System Volume Information',
 'tax benefits.xlsx',
 'thoppil john.doc',
 'thoppil john.one',
 'Ticket - Abibus.txt',
 'TRAIN TICKET CHARGESS.docx',
 'untitled new.R',
 'Untitled17.ipynb',
 'vijay increment letter.pdf',
 'vijay insurance.pdf',
 'vodafone sep.pdf',
 'working statistics',
 'www.TamilRockers.com - Anjathe [2008] Tamil 720p DVDRip AC3 5.1 x264 1.4GB.mkv',
 'www.TamilRockers.com - Naanum Rowdydhaan (2015)[DVDScr - x264 - 1CDRip - 700MB - Tamil].mkv',
 'www.TamilRockers.la - Kaashmora (2016)[HQ Real DVDScr - x264 - 700MB - Tamil].mkv',
 'www.TamilRockers.la - Pretham  2016  Malayalam DVDRip x264 800MB ESubs.mkv',
 'xact time file was last modified.docx',
 'YanchangZhao-refcard-data-mining.pdf',
 '[ZippyMovieZ.DE] Karinkunnam Sixes (2016) Malayalam DVDRip - 1GB - x264 - AAC - Esub - Chaps - DrC Release.mkv',
 '[ZippyMovieZ.EU] Anuraga Karikkin Vellam (2016) Malayalam DVDRip x264 AAC 5.1 ESubs 800MB ZippyMovieZ ExCluSivE.mkv',
 '~$BS screenshot.docx',
 '~$d.docx',
 '~$Doc3.docx',
 '~$Excel file to work on during Online Sessions.xlsx',
 '~$NCELLED CHEQUE.txt',
 '~$oppil john.doc',
 '~$py formula.docx',
 '~$s user details vij.docx',
 '~$troduction to python.docx',
 '~$w to view datasets in R.docx']

In [153]:
fraud=pd.read_csv("ccFraud.csv")

FileNotFoundError: File b'ccFraud.csv' does not exist

In [142]:
fraud2=fraud

In [53]:
fraud3=fraud.copy()

In [154]:
fraud.head()

   state  balance  creditLine  fraudRisk
0     35     3000           2          0
1      2        0          18          0
2      2        0          16          0
3     15        0           5          0
4     46        0           7          0

In [81]:
fraud.tail()

,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
9999995,37,1,0,10,0,9,0
9999996,16,1,0,33,2,4,0
9999997,24,1,9000,38,0,8,0
9999998,28,1,7000,20,19,6,0
9999999,23,1,0,13,0,7,0

In [82]:
fraud.columns

Index(['state', 'cardholder', 'balance', 'numTrans', 'numIntlTrans',
       'creditLine', 'fraudRisk'],
      dtype='object')

In [83]:
fraud.dtypes

state           int64
cardholder      int64
balance         int64
numTrans        int64
numIntlTrans    int64
creditLine      int64
fraudRisk       int64
dtype: object

In [84]:
fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 7 columns):
state           int64
cardholder      int64
balance         int64
numTrans        int64
numIntlTrans    int64
creditLine      int64
fraudRisk       int64
dtypes: int64(7)
memory usage: 534.1 MB

In [85]:
fraud.memory_usage()

Index                 80
state           80000000
cardholder      80000000
balance         80000000
numTrans        80000000
numIntlTrans    80000000
creditLine      80000000
fraudRisk       80000000
dtype: int64

In [86]:
fraud.memory_usage(index=True).sum()

560000080

In [87]:
fraud.shape

(10000000, 7)

del fraud['custID']

In [ ]:
fraud.head()

In [88]:
fraud.state.head()

0    35
1     2
2     2
3    15
4    46
Name: state, dtype: int64

In [89]:
fraud.head().state

0    35
1     2
2     2
3    15
4    46
Name: state, dtype: int64

In [90]:
fraud['state'].head()

0    35
1     2
2     2
3    15
4    46
Name: state, dtype: int64

In [93]:
fraud[['state','cardholder','balance']]

         state  cardholder  balance
0           35           1     3000
1            2           1        0
2            2           1        0
3           15           1        0
4           46           1        0
5           44           2     5546
6            3           1     2000
7           10           1     6016
8           32           1     2428
9           23           1        0
10          46           1     4601
11          10           1     3000
12           6           1        0
13          38           1     9000
14          27           1     5227
15          44           1        0
16          18           1    13970
17          35           1     3113
18           5           1     9000
19          31           1     1860
20          39           1     4000
21          34           1        0
22           5           1        0
23          21           1        0
24          25           1        0
25          29           1     5000
26          38           1     4000
27           9           1    12000
28          20           1        0
29          49           1     5192
...        ...         ...      ...
9999970     10           1        0
9999971     40           1     3683
9999972     46           1     5000
9999973     10           2        0
9999974     25           1        0
9999975     48           1     4210
9999976      4           1        0
9999977     35           1     8000
9999978     44           1     5000
9999979      6           1     7669
9999980     10           1    13889
9999981     33           1        0
9999982     44           1     3000
9999983     13           1        0
9999984     39           1     7000
9999985     45           2     3000
9999986     23           1     7000
9999987     24           1     6000
9999988     18           1    15000
9999989      4           1    12000
9999990     16           2     1561
9999991     36           1     5217
9999992     38           1        0
9999993     43           1     2607
9999994     16           2    17376
9999995     37           1        0
9999996     16           1        0
9999997     24           1     9000
9999998     28           1     7000
9999999     23           1        0

[10000000 rows x 3 columns]

In [96]:
import numpy as np

In [98]:
np.random.choice(len(fraud),.000001*len(fraud))

C:\Users\admin\lib\site-packages\ipykernel\__main__.py:1: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  if __name__ == '__main__':

array([6918675, 7830339, 9999246, 6908195, 5177429, 4818925, 9862515,
       5157045, 7087464, 3827710])

In [99]:
b=np.random.choice(len(fraud),.000001*len(fraud))

C:\Users\admin\lib\site-packages\ipykernel\__main__.py:1: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  if __name__ == '__main__':

In [101]:
b

array([9138423, 5765575,   48942, 7121765, 4114050, 1362367, 4710542,
       5325423, 3489582, 6397735])

In [102]:
fraud.iloc[b]

,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
9138423,36,1,6000,28,9,5,0
5765575,36,1,5059,9,9,9,0
48942,48,1,2690,4,0,8,0
7121765,30,1,5954,33,0,9,0
4114050,46,1,969,41,2,19,0
1362367,35,1,9656,14,10,14,0
4710542,7,2,0,44,7,2,0
5325423,35,1,10000,10,0,9,0
3489582,5,1,5000,84,9,4,1
6397735,29,1,4000,8,9,3,0

In [104]:
fraud.drop(fraud.columns[[1,3,4]],axis=1,inplace=True)

In [105]:
fraud.head()

   state  balance  creditLine  fraudRisk
0     35     3000           2          0
1      2        0          18          0
2      2        0          16          0
3     15        0           5          0
4     46        0           7          0

In [106]:
fraud.drop(fraud.index[[0,1,3]])

         state  balance  creditLine  fraudRisk
2            2        0          16          0
4           46        0           7          0
5           44     5546          13          0
6            3     2000           1          0
7           10     6016           6          0
8           32     2428          22          0
9           23        0           5          0
10          46     4601           4          0
11          10     3000           2          0
12           6        0           4          0
13          38     9000           8          0
14          27     5227          17          0
15          44        0           5          0
16          18    13970          13          0
17          35     3113           8          0
18           5     9000           8          0
19          31     1860           8          0
20          39     4000           3          0
21          34        0           3          0
22           5        0          11          0
23          21        0           3          0
24          25        0          65          0
25          29     5000           4          0
26          38     4000           3          0
27           9    12000          11          0
28          20        0           2          0
29          49     5192          13          1
30          29        0           4          0
31          31     6000           5          0
32          48     4899          10          0
...        ...      ...         ...        ...
9999970     10        0          11          0
9999971     40     3683           7          0
9999972     46     5000           4          0
9999973     10        0          14          0
9999974     25        0           3          0
9999975     48     4210           8          0
9999976      4        0           7          0
9999977     35     8000           7          0
9999978     44     5000           4          0
9999979      6     7669           7          0
9999980     10    13889          13          0
9999981     33        0          18          0
9999982     44     3000           2          0
9999983     13        0           5          0
9999984     39     7000           6          0
9999985     45     3000           2          0
9999986     23     7000           6          0
9999987     24     6000           5          0
9999988     18    15000          14          1
9999989      4    12000          11          0
9999990     16     1561           5          0
9999991     36     5217           5          0
9999992     38        0           2          0
9999993     43     2607           5          0
9999994     16    17376          20          0
9999995     37        0           9          0
9999996     16        0           4          0
9999997     24     9000           8          0
9999998     28     7000           6          0
9999999     23        0           7          0

[9999997 rows x 4 columns]

In [107]:
os.getcwd()

'D:\\'

In [112]:
os.chdir('C:/Users/admin/Downloads')

In [113]:
os.listdir()

['.ipynb_checkpoints',
 '01PrayersAndMeditations.pdf',
 '11.pdf',
 'AirPassengers.csv',
 'AKAKRECPTS2015 - Copy of Sheet1.csv',
 'Anaconda3-4.3.0.1-Windows-x86_64 (1).exe',
 'Anaconda3-4.3.0.1-Windows-x86_64.exe',
 'BigDiamonds.csv',
 'BigDiamonds.csv (1).zip',
 'BigDiamonds.csv.zip',
 'BigDiamonds.csv.zip (Unzipped Files)-20170228T145348Z-001',
 'BigDiamonds.csv.zip (Unzipped Files)-20170228T145348Z-001.zip',
 'ChatLog Data Analytics Course Weekday Batch  2017_02_07 16_17 (1).rtf',
 'ChatLog Data Analytics Course Weekday Batch  2017_02_07 16_17 (2).rtf',
 'ChatLog Data Analytics Course Weekday Batch  2017_02_07 16_17.rtf',
 'ChatLog Data Analytics Course Weekday Batch  2017_02_09 21_38.rtf',
 'ChatLog Data Analytics Course Weekday Batch  2017_02_14 21_35.rtf',
 'ChatLog Data Analytics Course Weekday Batch  2017_02_16 21_34.rtf',
 'ChatLog Data Analytics Weekday Batch 2017_03_16 21_35.rtf',
 'ChatLog Data Analytics Weekday Batch 2017_03_21 12_10.rtf',
 'class 10 (1).txt',
 'class 10.txt',
 'Computing New Variables in SAS.doc',
 'copy formula.docx',
 'desktop.ini',
 'Diamond.csv',
 'Doc2.docx',
 'Doc4.docx',
 'error in sas assignment (1).docx',
 'error in sas assignment.docx',
 'Excel file to work on during Online Sessions.xlsx',
 'Excel Important Shortcuts.pdf',
 'Hedonic.csv',
 'how to view last class python.docx',
 'iris (1).csv',
 'iris.csv',
 'k k iBRAHIM.xlsx',
 'Logical Operations Questions.pdf',
 'mortDefault.zip',
 'mortDefault2000.csv',
 'mortDefault2001.csv',
 'mortDefault2002.csv',
 'mortDefault2003.csv',
 'mortDefault2004.csv',
 'mortDefault2005.csv',
 'mortDefault2006.csv',
 'mortDefault2007.csv',
 'mortDefault2008.csv',
 'mortDefault2009.csv',
 'mtcars.csv',
 'nirod-savitri-04-01-48.mp3',
 'postgres data - Sheet1(1).csv',
 'postgresql-9.6.2-2-windows-x64(1).exe.part',
 'postgresql-9.6.2-2-windows-x64.exe',
 'Practice file after session 3 (1).xlsx',
 'Practice file after session 3 (2).xlsx',
 'Practice file after session 3 (3).xlsx',
 'Practice file after session 3 (4).xlsx',
 'Practice file after session 3.xlsx',
 'practise session of excel.xlsx',
 'Program 1-results.html',
 'Program 1-results.pdf',
 'Program 1.sas~',
 'R error.docx',
 'R-3.3.2-win.exe',
 'rd (1).R',
 'rd.R',
 'RStudio-1.0.136.exe',
 'Rtools34.exe',
 'R_pubs_assignment (1).html',
 'R_pubs_assignment.html',
 'R_work_assignment_latest-',
 'sales sheet.csv',
 'sas assignment given in R.docx',
 'SAS error installation.docx',
 'Sas error message.docx',
 'SAS window.docx',
 'SHEEJO MON (1).xlsx',
 'SHEEJO MON.xlsx',
 'Unconfirmed 612941.crdownload',
 'Unconfirmed 787011.crdownload',
 'Untitled11-1.html',
 'Untitled11.ipynb',
 'Untitled16.ipynb',
 'Untitled17 (1).html',
 'Untitled17(1).ipynb',
 'Untitled17.html',
 'Untitled17.ipynb',
 'Untitled19.ipynb',
 'Untitled2.html',
 'Untitled20(1).ipynb',
 'Untitled20.ipynb',
 'Untitled21(1).ipynb',
 'Untitled21(2).ipynb',
 'Untitled21.ipynb',
 'Untitled3.html',
 'Untitled4 - Copy.html',
 'Untitled5 (1).htm',
 'Untitled5.htm',
 'Untitled7(1) - Copy (1).html',
 'Untitled7(1) - Copy.html',
 'Untitled8 - Copy.html',
 'Untitled8(1).ipynb',
 'Untitled8.ipynb',
 'unvbasicvapp__9411008__ova__en__sp0__1.ova',
 'viju.csv',
 'VirtualBox-5.1.14-112924-Win.exe',
 'VirtualBox-5.1.8-111374-Win.exe',
 'vj.csv',
 '~$practise session of excel.xlsx']

In [114]:
mortage=pd.read_csv("mortDefault2009.csv")

In [115]:
mortage.head()

   creditScore  houseAge  yearsEmploy  ccDebt  year  default
0          617        20            8    4410  2009        0
1          623        11            7    5609  2009        0
2          758        17            4    7250  2009        0
3          687        22            5    3761  2009        0
4          663        15            6    6746  2009        0

In [116]:
len(mortage)

1000000

In [117]:
mortage1=mortage

In [118]:
mortage2=mortage.copy()

In [120]:
mortage.houseAge.head()

0    20
1    11
2    17
3    22
4    15
Name: houseAge, dtype: int64

In [121]:
mortage.head().houseAge

0    20
1    11
2    17
3    22
4    15
Name: houseAge, dtype: int64

In [122]:
md=mortage[['houseAge','ccDebt']]

In [123]:
md

        houseAge  ccDebt
0             20    4410
1             11    5609
2             17    7250
3             22    3761
4             15    6746
5             10    7106
6             23    2280
7             18    2831
8              9    3867
9             16    6238
10            30    4109
11            19    4122
12            25    4235
13            27    4456
14            21    4723
15            16    5220
16            21    3194
17            15    4750
18            34    3478
19            11    3181
20            26    5467
21            17    2744
22            14    3969
23            24     331
24            27    7178
25            25    4752
26            20    8419
27            17    2500
28            14    5676
29            15    2654
...          ...     ...
999970        18    1268
999971        17    3968
999972        19    8994
999973        17    8810
999974        21    6149
999975        18    6556
999976        22    2617
999977        24    4595
999978        36    3268
999979        19   10109
999980        30    2511
999981        19    4324
999982        19    5030
999983        24    3346
999984        17    4598
999985        21    4683
999986        27    9200
999987        17    7058
999988        16    8070
999989        22    8919
999990        19    5751
999991        18    8483
999992         7    6394
999993        21    8532
999994        28    3302
999995        29    3383
999996        17    6988
999997        10    6604
999998        13    1623
999999        24    5248

[1000000 rows x 2 columns]

In [128]:
md.debtperhousehold=md.ccDebt/md.houseAge

In [131]:
md.columns

Index(['houseAge', 'ccDebt'], dtype='object')

In [138]:
md.columns=(['houseAge', 'ccDebt','debtperhousehold'])

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements

In [136]:
md

        houseAge  ccDebt
0             20    4410
1             11    5609
2             17    7250
3             22    3761
4             15    6746
5             10    7106
6             23    2280
7             18    2831
8              9    3867
9             16    6238
10            30    4109
11            19    4122
12            25    4235
13            27    4456
14            21    4723
15            16    5220
16            21    3194
17            15    4750
18            34    3478
19            11    3181
20            26    5467
21            17    2744
22            14    3969
23            24     331
24            27    7178
25            25    4752
26            20    8419
27            17    2500
28            14    5676
29            15    2654
...          ...     ...
999970        18    1268
999971        17    3968
999972        19    8994
999973        17    8810
999974        21    6149
999975        18    6556
999976        22    2617
999977        24    4595
999978        36    3268
999979        19   10109
999980        30    2511
999981        19    4324
999982        19    5030
999983        24    3346
999984        17    4598
999985        21    4683
999986        27    9200
999987        17    7058
999988        16    8070
999989        22    8919
999990        19    5751
999991        18    8483
999992         7    6394
999993        21    8532
999994        28    3302
999995        29    3383
999996        17    6988
999997        10    6604
999998        13    1623
999999        24    5248

[1000000 rows x 2 columns]

In [157]:
mortage.drop(mortage.columns[[0,5]],axis=1,inplace=True)

In [158]:
mortage.head()

   houseAge  yearsEmploy  ccDebt  year
0        20            8    4410  2009
1        11            7    5609  2009
2        17            4    7250  2009
3        22            5    3761  2009
4        15            6    6746  2009

In [161]:
mortage.drop(mortage.index[[0,1,3]])

        houseAge  yearsEmploy  ccDebt  year
2             17            4    7250  2009
4             15            6    6746  2009
5             10            2    7106  2009
6             23            2    2280  2009
7             18            7    2831  2009
8              9            5    3867  2009
9             16            8    6238  2009
10            30            6    4109  2009
11            19            6    4122  2009
12            25            4    4235  2009
13            27            1    4456  2009
14            21            7    4723  2009
15            16            5    5220  2009
16            21            3    3194  2009
17            15            8    4750  2009
18            34            6    3478  2009
19            11            7    3181  2009
20            26            6    5467  2009
21            17            2    2744  2009
22            14            5    3969  2009
23            24            5     331  2009
24            27            6    7178  2009
25            25            5    4752  2009
26            20            5    8419  2009
27            17            3    2500  2009
28            14            7    5676  2009
29            15            3    2654  2009
30            31            5    3542  2009
31            27            5    6678  2009
32            34            4    5919  2009
...          ...          ...     ...   ...
999970        18            5    1268  2009
999971        17            4    3968  2009
999972        19            6    8994  2009
999973        17            5    8810  2009
999974        21            5    6149  2009
999975        18            7    6556  2009
999976        22            3    2617  2009
999977        24            5    4595  2009
999978        36            2    3268  2009
999979        19            4   10109  2009
999980        30            1    2511  2009
999981        19            2    4324  2009
999982        19            5    5030  2009
999983        24            3    3346  2009
999984        17            5    4598  2009
999985        21            5    4683  2009
999986        27            8    9200  2009
999987        17            6    7058  2009
999988        16            5    8070  2009
999989        22            4    8919  2009
999990        19            6    5751  2009
999991        18            6    8483  2009
999992         7            8    6394  2009
999993        21            6    8532  2009
999994        28            4    3302  2009
999995        29            4    3383  2009
999996        17            5    6988  2009
999997        10            9    6604  2009
999998        13            3    1623  2009
999999        24            4    5248  2009

[999997 rows x 4 columns]

In [162]:
mortage=np.choice.random(len(mortage),.000001*len(mortage))

AttributeError: module 'numpy' has no attribute 'choice'

In [163]:
ab=np.random.choice(len(mortage),.000001*len(mortage))

C:\Users\admin\lib\site-packages\ipykernel\__main__.py:1: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  if __name__ == '__main__':

In [166]:
mortage.iloc[ab]

        houseAge  yearsEmploy  ccDebt  year
780175        25            6    2850  2009